= form_for :dump, :url=>{:action=>"import_csv"}, :html => { :multipart => true } do |f|
  %p
    Please note: CSV files must be , separated, not ; or tab. Ignored columns are ["state", "processing_list", 'status', 'zip', 'street']
  %p
    Usable columns are: PreviousParticipant(id: integer, first_name: string, last_name: string, email: string, city: string, country: string, birthday: date, role: string, known_from: string, created_at: datetime, updated_at: datetime)

  %table
    %tr
      %td
        %label{:for => "dump_file"}
          %b
            Select a CSV File :
      %td
        = f.file_field :file
    %tr
      %td
        %b
          Separator
      %td
        = f.text_field :colsep
    %tr
      %td
        %b
          Tag
      %td
        = f.text_field :tags
    %tr
      %td
        = submit_tag 'Submit'
