<div class="container">
    <h1>Explanation of Shuttles</h1>

    <p>
        We will have a shuttle transfer from Mannheim Central Station or Ludwigshafen Central Station, which runs about
        once
        per hour. Since there is quite some traffic on friday afternoon the shuttle will leave from Ludwigshafen (quick
        transfer by S-Bahn/7 minutes), whereas later in the night the shuttle will leave from Mannheim.
        There is limited available space (max 8 per ride).
        To reserve your seat, please leave a message here.
    </p>
    <img src="https://www.evernote.com/shard/s5/sh/2ac564df-b0a2-4a4b-95c3-e041530c6c20/5c5341c4340fea278cc858823887414e/deep/0/shuttle.png"
         style="width: 600px;"/>

    <h2>Shuttle Trips</h2>

    <h4>Pickup Locations</h4>

    <p><strong>MA</strong>: Mannheim Central Station: Meeting Point is at the <b>info point</b> at the main entrance.
    </p>

    <p><strong>LU</strong>: Ludwigshafen Central Station: Meeting Point is where the <b>Taxis</b> are at the main
        entrance.</p>

    <p>To get to LU from MA: take a local train (called S-Bahn) to Ludwigshafen. These trains usually leave from
        <b>Track 1</b></p>
    <br/>
    <%= render 'shuttle_trips/list', :collection => @shuttle_trips %>
    <% if current_user.has_role? :admin %>
          <span class="no-print"><span class='glyphicon glyphicon-envelope'></span><span
                  class='glyphicon glyphicon-envelope'></span> <%= link_to "Generate Shuttle Info Emails".html_safe, "/functions/generate_shuttle_emails" -%>
            | <span class='glyphicon glyphicon-envelope'></span> <%= link_to "send individual shuttle mails".titleize, "/shuttle_trips" -%></span>
    <% end %>

</div>
