<h1>Hotel Room Reservations</h1>
<p>for <%= Figaro.env.MARATHON_NAME -%></p>


<table class="table table-striped">
  <thead>
  <th>ID</th>
  <th>Category</th>
  <th>Check-In</th>
  <th>Check-Out</th>
  <th>Who</th>
  <th>Contact details</th>
  <th></th>
  </thead>

  <tbody>
  <%- @hotel_rooms.each do |room| -%>
      <tr>
        <td><%= room.id -%></td>
        <td><%= room.hotel_room_category.name -%> <br/>
          <small>Last changes: <br/> <%= room.updated_at.stamp('2015-01-31 17:00h') -%></small>
        </td>
        <td><%= room.check_in -%></td>
        <td><%= room.check_out -%></td>
        <td><b><%= room.responsible_person.name -%></b></td>
        <td><b>Address</b>: <%= room.responsible_person.address.titleize -%> <br/>
          <b>Email</b>: <%= room.responsible_person.email -%>
          <%- if room.responsible_person.telephone.present? -%>
              <br/><b>Phone</b>: <%= room.responsible_person.telephone -%>
          <%- end -%>
          <%- if room.message.present? -%>
              <br/><b>Message</b>: <%= room.message -%>
          <%- end -%>

        </td>
        <td>
          <strong><%= room.sleepers.count -%></strong><br/>
          <%= room.sleepers.map(&:name).to_sentence %>
        </td>
      </tr>

  <%- end -%>
  </tbody>
</table>

