<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>You are IN! <%= Settings.marathon.name -%></title>
</head>
<body>
<p>Dear <%= @reg.first_name %>,</p>

<%- if @reg.pays_at_door? -%>
<p>You are basically set now: your participation in <%= Settings.marathon.name -%> is confirmed.</p>

<p>Please pay the marathon fee <strong>during checkin</strong>in the exact amount of cash.</p>

<p><strong>Alternatively</strong> you can pay <%= Settings.payment.paypal.price.dup %> &euro; by <strong>Paypal/Credit
    Card</strong></p>

<p style="margin-left: 2cm;">Please send the money to <em>daniel@kaesmayr.net</em>: <%= render 'layouts/paypal' %></p>
<%- else -%>
<p>You are all set now: your participation in <%= Settings.marathon.name -%> is confirmed. Yay!</p>
<%- end -%>

<p>Here's a few details that could be useful:<br/>
<ul>
    <li><%= link_to Settings.marathon.name, Settings.marathon.website %>, where you will find further infos, like</li>
    <ul>
        <li>guest list</li>
        <li>addresses of hotels/hostels</li>
        <li>and more!</li>
    </ul>
    <li><%= link_to "Secret facebook group for participants", ENV['MARATHON_FB_GROUP'] %></li>
</ul>
</p>

<p>

</p>

<p>See you @ the PARTY ;-)</p>

<p>Your <%= Settings.marathon.name -%> - Team (Daniel de Kay &amp; Juliana Thutlwa + friends)</p>

<hr/>
<p>PS: If you have forgotten your password, get a new one <%= link_to "here",
    Settings.marathon.website+"/users/password/new" %></p>
<hr/>
<%= cms_snippet_content('the_facts') -%>
</body>
</html>
