<p>
<ol>
    <li>This is a private event. Only people on our guest list may attend.</li>
    <li>Everyone signs up as single participants. We will balance the guestlist according to our criteria, which take
        into account roles, and a general diversity of backgrounds. Nevertheless, we do also consider <strong>couples
            (as in lovers)</strong>. If you have a partner that wants to attend as well, and without who you would not
        come, please let us know, so we can link your registrations.
    </li>
    <% if DateTime.parse(ENV['MARATHON_REGISTRATION_LAST_MINUTE_DAY']).today? %>
    <li>Your payment/contribution is due ASAP. Either pay NOW, or at the door.</li>
    <li>Please send a receipt of the money transfer by email to <%= Settings.marathon.email %></li>
    <%- else -%>
    <li>Your payment/contribution is due on <%= (DateTime.now + eval(Settings.payment.deadline)).stamp("Monday,
        August 11th 2013") %>
    </li>
    <li>If you transfer late, please send a receipt of the money transfer by email to <%= Settings.marathon.email %></li>
    <% end %>
    <% if DateTime.parse(ENV['MARATHON_NO_REFUND_AFTER']).future? %>
    <li>Refunds are only possible until <%= DateTime.parse(ENV['MARATHON_NO_REFUND_AFTER']).stamp("Monday, August 11th
        2013") %>. It is also possible to move the ticket to our next event (mtangoparty 2014), but only once.
    </li>
    <%- end -%>
</ol>
</p>
