<script type="text/javascript" charset="utf-8">
  Morris.Line(
      {
        element: 'timeline',
        data: [
          <%- @sumHash.each do |key, val |-%>
          <%= "{date: '#{key}', regs: '#{val['regs']}',potential_regs: '#{val['potential_regs']}', invs: '#{val['invs']}', open_invs: '#{val['open_invs']}', suggs: '#{val['suggs']}'},".html_safe  -%>
          <%- end -%>
        ],
        xkey: 'date',
        ykeys: ['regs', 'potential_regs', 'invs', 'open_invs', 'suggs'],
        labels: ['Registrations', 'Potential Registrations', 'Total Invitations', 'Open Invitations', 'Suggestions'],
        lineColors: ['green','lightgreen', 'grey', 'orange', 'blue'],
        goals: [<%= Settings.marathon.participants -%>],
      })
  ;
</script>
