- relevant_registrations = Registration.mostly_in
- untagged    = relevant_registrations.tagged_with(["omnivore", "vegetarian", "vegan"], :exclude => true, :on => :dietary_class)
- omnivores   = relevant_registrations.tagged_with("omnivore", :any => false, :on => :dietary_class)
- vegetarians = relevant_registrations.tagged_with("vegetarian", :any => false, :on => :dietary_class)
- vegans      = relevant_registrations.tagged_with("vegan", :any => false, :on => :dietary_class)

.card
  .header
    %h3
      Dietary
    %p
      %b
        = relevant_registrations.size
      registrations, who are basically in (accepted, paid, free tickets, pays at door)
  .content
    %table.table
      %thead
        %th
          Class
        %th
          All
        - dietary_options_incompatibility.each do |item|
          %th=item
        %th
          Both
        %th
          No
      %tr
        %td
          untagged
        %td=untagged.size.to_s
        %td=untagged.tagged_with("no_lactose", :match_all => true,   :on => :dietary_incompatibility).length
        %td=untagged.tagged_with("no_gluten", :match_all => true,   :on => :dietary_incompatibility).length
        %td=untagged.tagged_with(["no_lactose", "no_gluten"]).size.to_s
        %td=untagged.tagged_with(["no_lactose", "no_gluten"], :exclude => true, :on => :dietary_incompatibility).size.to_s
      %tr
        %td
          omnivores
        %td=omnivores.size.to_s
        %td=omnivores.tagged_with("no_lactose", :match_all => true,   :on => :dietary_incompatibility).length
        %td=omnivores.tagged_with("no_gluten", :match_all => true,    :on => :dietary_incompatibility).length
        %td=omnivores.tagged_with(["no_lactose", "no_gluten"]).size.to_s
        %td=omnivores.tagged_with(["no_lactose", "no_gluten"], :exclude => true, :on => :dietary_incompatibility).size.to_s
      %tr
        %td
          vegetarians
        %td=vegetarians.size.to_s
        %td=vegetarians.tagged_with("no_lactose", :match_all => true,   :on => :dietary_incompatibility).length
        %td=vegetarians.tagged_with("no_gluten", :match_all => true,   :on => :dietary_incompatibility).length
        %td=vegetarians.tagged_with(["no_lactose", "no_gluten"]).size.to_s
        %td=vegetarians.tagged_with(["no_lactose", "no_gluten"], :exclude => true, :on => :dietary_incompatibility).size.to_s
      %tr
        %td
          vegans
        %td=vegans.size.to_s
        %td=vegans.tagged_with("no_lactose", :match_all => true,   :on => :dietary_incompatibility).length
        %td=vegans.tagged_with("no_gluten", :match_all => true,   :on => :dietary_incompatibility).length
        %td=vegans.tagged_with(["no_lactose", "no_gluten"]).size.to_s
        %td=vegans.tagged_with(["no_lactose", "no_gluten"], :exclude => true, :on => :dietary_incompatibility).size.to_s
