.card
  .header
    %h3
      Countries
  .content
    %table.table
      %thead
        %th
          Country
        %th
          All
        %th
          Leaders
        %th
          Followers
        %th
          Both
      - @sorted_countries.each do |country|
        %tr
          %td=country[0]
          %td=country[1].to_int
          %td=eval("@registrations_by_countries[['#{country[0]}', 'leader']]")
          %td=eval("@registrations_by_countries[['#{country[0]}', 'follower']]")
          %td=eval("@registrations_by_countries[['#{country[0]}', 'both']]")
