.card
  .header
    %h3
      Dietary Preferences (F/M)
  .content
    %table.table
      %thead
        %th
          Dietary
        - (1..12).each do |item|
          %th=ZodiacDecorator.format_zodiac_sign_id item
        %th
          nil
        %th
          all
      - %w(all).each do |item|
        %tr
          %td=item.titlecase
          - (1..12).each do |zodiac|
            - output = eval("Registration.mostly_in.#{item}.where(:zodiac_sign_id => #{zodiac}).size").to_s
            - output += "<br/>".html_safe + eval("Registration.mostly_in.women.#{item}.where(:zodiac_sign_id => #{zodiac}).size").to_s
            - output += "/".html_safe + eval("Registration.mostly_in.men.#{item}.where(:zodiac_sign_id => #{zodiac}).size").to_s
            %td=output.html_safe
          %td
            - output = eval("Registration.mostly_in.#{item}.where(:zodiac_sign_id => nil).size").to_s
            - output += "<br/>".html_safe + eval("Registration.mostly_in.women.#{item}.where(:zodiac_sign_id => nil).size").to_s
            - output += "/".html_safe + eval("Registration.mostly_in.men.#{item}.where(:zodiac_sign_id => nil).size").to_s
            =output.html_safe
          %td
            %b=eval("Registration.mostly_in.#{item}.size").to_i
      - %w(vegetarian vegan).each do |item|
        %tr
          %td=item.titlecase
          - (1..12).each do |zodiac|
            - output = eval("Registration.mostly_in.women.where(:zodiac_sign_id => #{zodiac}).tagged_with(['#{item}'], :match_all => true).length").to_s
            - output += "/".html_safe + eval("Registration.mostly_in.men.where(:zodiac_sign_id => #{zodiac}).tagged_with(['#{item}'], :any => false, :on => :dietary_class).length").to_s
            %td=output.html_safe
          %td
            - output = eval("Registration.mostly_in.women.where(:zodiac_sign_id => nil).tagged_with(['#{item}'], :match_all => true).length").to_s
            - output += "/".html_safe + eval("Registration.mostly_in.men.where(:zodiac_sign_id => nil).tagged_with(['#{item}'], :any => false, :on => :dietary_class).length").to_s
            =output.html_safe
          %td
            %b=eval("Registration.mostly_in.tagged_with(['#{item}'], :match_all => true).length").to_i
