.card
  .header
    = link_to 'Invitations', '/backend/invitations/processing'
  .content
    %table.table
      %thead
        %tr
          %th
            Role
          %th
            total
          %th
            sent
          %th
            not_sent
          %th
            declined <br/>/ expired
          %th
            Accepted <br/> =Registrations
        - %w(leaders followers both all).each do |role|
          %tr
            %td
              %strong
                =role.titleize
            %td
              #{eval("Invitation.#{role}.size") + eval("Registration.#{role}.size")}
            %td
              #{eval("Invitation.#{role}.sent.size")}
            %td
              #{eval("Invitation.#{role}.not_sent.size")}
            %td
              #{eval("Invitation.#{role}.declined.size")} / #{eval("Invitation.#{role}.expired.size")}
            %td
              #{eval("Registration.#{role}.size")}
