.card
  .header
    Pie by Country
  .content
    #country-donut
    %script{:charset => "utf-8", :type => "text/javascript"}
      Morris.Donut({
      element: 'country-donut',
      data: [
      - regs = Registration.mostly_in.size
      - counter = Registration.mostly_in.group(:country).count
      - counter.keys.each do |key|
        = "{value: #{(counter[key].to_i/regs.to_f*100).round(2)}, label: '#{key}'},\n".html_safe
      {value: 0, label: 'yes!'}
      ],
      formatter: function (x) {
      return x + "%"
      }
      }).on('click', function (i, row) {
      console.log(i, row);
      });
.card
  .header
  .content
    #chartPreferences
