.card
  .header
    %h3
      = link_to 'Registrations', '/backend/registrations/processing'
  .content
    %table.table
      %thead
        %tr
          %th
            Role
          %th
            in
          %th
            must<br/> pay
          %th
            guests
          %th
            paid
          %th
            free
          %th
            @<br/>door
          %th
            cancelled
            %br/
            \/ refund
            %br/
            \/
            .btn.btn-danger.btn-xs
              error
          %th
            all
        - %w(leaders followers both all).each do |role|
          %tr
            %td
              %strong
                =role.titleize
            %td
              %strong
                #{eval("Registration.mostly_in.#{role}.count")}
            %td
              #{eval("Registration.accepted.#{role}.count")}
            %td
              %strong
                #{eval("Registration.basically_in.#{role}.count")}
            %td
              #{eval("Registration.paid.#{role}.count")}
            %td
              #{eval("Registration.free.#{role}.count")}
            %td
              #{eval("Registration.pays_at_door.#{role}.count")}
            %td
              #{eval("Registration.cancelled.#{role}.count")}
              \/
              #{eval("Registration.refund.#{role}.count")}
              - if eval("Registration.error.#{role}.count") > 0
                \/
                .btn.btn-danger.btn-xs
                  #{eval("Registration.error.#{role}.count")}
            %td
              #{eval("Registration.#{role}.count")}
