.card
  .header
    %h3
      Varia
  .content
    %p
      %strong Gender stats:
      We have #{Registration.mostly_in.women.count} women
      and #{Registration.mostly_in.men.count} men.
      %br/
      We have #{Registration.mostly_in.both.count} "both", of
      which #{Registration.mostly_in.both.men.count} are men.
    %p
      %strong Free Tickets:
      = Registration.free.count
      incl. DJs and
      Team: #{Registration.free.leaders.count} leaders
      and #{Registration.free.followers.count} followers.
      %br/
      %span.small= Registration.free.map(&:name)
    %p
      %strong
        People who pay at door:
      = Registration.where(:state => 'pays_at_door').count
      %br/
      %span.small= Registration.where(:state => 'pays_at_door').map(&:name)
    %p
      %strong Cancelled Registrations:
      = @cancelled_invitations.count
      %br/
      %span.small= @cancelled_invitations.map(&:name)
