- count = Registration.all.size
.card
  .header
    %h3
      Zodiac
    %p
      Fraction of all Registrations
  .content
    %table.table
      %thead
        %th
          Role
        - (1..12).each do |item|
          %th=ZodiacDecorator.format_zodiac_sign_id item
        %th
          nil
        %th
          all
      - %w(all leaders followers both).each do |item|
        %tr
          %td=item.titlecase
          - (1..12).each do |zodiac|
            - absolute = eval("Registration.mostly_in.#{item}.where(:zodiac_sign_id => #{zodiac}).size").to_i
            %td=absolute
          - absolute = eval("Registration.mostly_in.#{item}.where(:zodiac_sign_id => nil).size").to_i
          %td=absolute
          %td
            %b=eval("Registration.mostly_in.#{item}.size").to_i
