.card
  .header
    %h3
      Event Fullness
  .content
    %p
      %strong
        %i.fa.fa-fw.fa-envelope-o
        Invitations
      - percentage = ((Invitation.all.count.to_i/Settings.marathon.participants.to_f)*100).to_i
      %span.pull-right.text-muted
        = percentage
        \% of capacity / #{Invitation.not_sent.size} not sent/ #{Invitation.open.size} open / #{Registration.all.count} accepted / #{Invitation.declined.size} declined
      - percentage_not_sent = ((Invitation.not_sent.size.to_i/Settings.marathon.participants.to_f)*100).to_i
      - percentage_open = ((Invitation.open.size.to_i/Settings.marathon.participants.to_f)*100).to_i
      - percentage_declined = ((Invitation.declined.size.to_i/Settings.marathon.participants.to_f)*100).to_i
      - percentage_accepted = ((Registration.all.size.to_i/Settings.marathon.participants.to_f)*100).to_i
    .progress
      .progress-bar.progress-bar-info{:style => "width: #{percentage_not_sent/3}%"}
        %span.sr-only 35% Complete (success)
      .progress-bar.progress-bar-warning{:style => "width: #{percentage_open/3}%"}
        %span.sr-only 35% Complete (success)
      .progress-bar.progress-bar-success{:style => "width: #{percentage_accepted/3}%"}
        %span.sr-only 35% Complete (success)
      .progress-bar.progress-bar-danger{:style => "width: #{percentage_declined/3}%"}
        %span.sr-only 20% Complete (warning)
    %p
      %strong
        %i.fa.fa-fw.fa-group
        Guest fullness
      - percentage = ((Registration.guestlist.count.to_i/Settings.marathon.participants.to_f)*100).to_i
      - percentage_free = ((Registration.free.size.to_i/Settings.marathon.participants.to_f)*100).to_i
      - percentage_paid = ((Registration.paid.size.to_i/Settings.marathon.participants.to_f)*100).to_i
      - percentage_accepted = ((Registration.accepted.size.to_i/Settings.marathon.participants.to_f)*100).to_i
      %span.pull-right.text-muted
        #{Registration.free.size} free /
        #{Registration.paid.size} paid /
        #{Registration.accepted.count}          must pay /
        #{Registration.all.count + Registration.guestlist.count} total /
        #{Settings.marathon.participants} Capacity
    .progress
      .progress-bar.progress-bar-info{:style => "width: #{percentage_free}%"}
        %span.sr-only 35% Complete (success)
      .progress-bar.progress-bar-success{:style => "width: #{percentage_paid}%"}
        %span.sr-only 35% Complete (success)
      .progress-bar.progress-bar-warning{:style => "width: #{percentage_accepted}%"}
        %span.sr-only 20% Complete (warning)

    %p
      %strong F/L Ratio Paid
      - percentage = ((Registration.guestlist.followers.size.to_f/(Registration.guestlist.leaders.size+Registration.guestlist.both.size/2))*100).to_f.round(1)
      %span.pull-right.text-muted
        = percentage
        \% followers / #{(percentage-100).to_f.round(1)} % excess - of paid
    .progress
      .progress-bar{:style => "width: #{50}%"}
        %span.sr-only 1:1 ratio
    .progress
      .progress-bar{:style => "width: #{percentage-100+50}%", class: "progress-bar-#{ApplicationWorkflowDecorator.ratio_color(percentage)}"}
        %span.sr-only 35% Complete (success)

    %p
      %strong F/L Ratio Accepted
      - percentage = ((Registration.basically_in.followers.size.to_f/(Registration.basically_in.leaders.size+Registration.basically_in.both.size/2))*100).to_f.round(1)
      %span.pull-right.text-muted
        = percentage
        \% followers / #{(percentage-100).to_f.round(1)} % excess - of paid
    .progress
      .progress-bar{:style => "width: #{50}%"}
        %span.sr-only 1:1 ratio
    .progress
      .progress-bar{:style => "width: #{percentage-100+50}%", class: "progress-bar-#{ApplicationWorkflowDecorator.ratio_color(percentage)}"}
        %span.sr-only 35% Complete (success)

