.card
  .header
    %h3
      = link_to 'Suggestions', '/backend/suggestions/by_guests'
  .content
    %table.table
      %thead
        %tr
          %th
            Role
          %th
            all
        - %w(leaders followers both all).each do |role|
          %tr
            %td
              %strong
                =role.titleize
            %td
              #{eval("SuggestedParticipant.#{role}.count")}
