s<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Test</title>
  <style type="text/css">
    table {
      page-break-inside: auto
    }

    tr {
      page-break-inside: avoid;
      page-break-after: auto
    }

    thead {
      display: table-header-group
    }

    tfoot {
      display: table-footer-group
    }
  </style>
</head>
<body>

<h1>Guestlist for <%= Settings.marathon.name %></h1>

<div class="span10">
  <table class="table table-condensed zodiac">
    <thead>
    <tr>
      <th>First Name</th>
      <th>Country</th>
      <th>Sign</th>
    </tr>
    </thead>
    <tbody>
    <% @guests.each do |reg| %>
        <tr>
          <td><%= reg.first_name %></td>
          <td><%= reg.country %></td>
          <td><%= zodiac_image_tag(reg.zodiac_sign_id) %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

</body>
</html>
