<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Email-Addresses</title>
</head>
<body>

First Name, Last Name, Email, Status<br/>
<% TangoRegistration.all.each do |reg| %>
    <%= reg.first_name.titleize %>, <%= reg.last_name.titleize %>, <%= reg.email %>, <%= reg.payment_status %><br/>
<% end %>

</body>
</html>
