.col-xs-12.col-md-12.col-lg-6
  = render 'statistics_invitations'
.col-xs-12.col-md-6.col-lg-3
  = render 'statistics_suggestions'
.col-xs-12.col-md-6.col-lg-3
  = render 'statistics_previous_participants'
.col-xs-12.col-md-12.col-lg-6
  = render 'statistics_registrations'
.col-xs-12.col-md-12.col-lg-6
  = render 'statistics_timeline'
.clearfix
.col-xs-12.col-md-12.col-lg-6
  = render 'statistics_guestlist'
.col-xs-12.col-md-12.col-lg-6
  = render 'statistics_fullness'
.col-xs-12.col-md-12.col-lg-6
  = render 'statistics_dietary'
.col-xs-12.col-md-12.col-lg-12
  = render 'statistics_food'
- if Settings.extras.zodiac.enabled
  .col-xs-12.col-md-12.col-lg-12
    = render 'statistics_zodiac'
