<div class="span8">

  <% @registrations.each do |reg| %>
      <div style="clear: none; display: inline; margin-bottom:1px;">
        <%
          user = reg.user
          if !user.facebook_id.nil?
            picture_url = user.facebook_id.blank? ? 'http://graph.facebook.com/daniel.de.lu/picture' : 'http://graph.facebook.com/' + user.facebook_id + '/picture'
          else
            picture_url = ''
          end
        %>
        <%= image_tag picture_url, :alt => 'profile picture', :size => '60x60', :title => user.name %>


      </div>
  <% end %>

</div>
