<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Guestlist</title>
  <style type="text/css">
    table {
      display: block;
      width: auto;
      page-break-inside: auto;
      page-break-after:always;
    }
    tr {
      page-break-inside: avoid;
      page-break-after: auto;
    }

    thead {
      display: table-header-group;
    }

    tfoot {
      display: table-footer-group;
    }
  </style>
</head>
<body>

<h1>Guestlist for <%= Settings.marathon.name %></h1>

<div class=".col-xs-12.col-md-12.col-lg-12">
  <%- %w(@women @men).each do |name| -%>
      <table class="table table-condensed table-striped splitForPrint">
        <thead>
        <tr>
          <td colspan="6"><h2><%= name.titlecase -%></h2></td>
        </tr>
        <tr>
          <th></th>
          <th>Name</th>
          <th>From</th>
          <th>Role</th>
          <th>Sign</th>
          <th>Birthday</th>
          <th>Dietary</th>
        </tr>
        </thead>
        <tbody>
        <% eval(name).each do |reg| %>
            <tr>
              <td>
                <i class="glyphicon glyphicon-unchecked"></i>
                <%= '<i class="glyphicon glyphicon-euro">'.html_safe if reg.pays_at_door? -%>
                <%= "<strong>F</strong>".html_safe if reg.free_ticket? -%>
              <td><%= reg.name.titleize %></td>
              <td><%= reg.city.titleize %> / <%= reg.country.upcase %></td>
              <td><%= reg.role.titleize %></td>
              <td><%= ZodiacDecorator.format_zodiac_sign_id reg.zodiac_sign_id %></td>
              <td><%= ZodiacDecorator.format_birthday reg -%></td>
              <td><%= ApplicationDecorator.dietary(reg) %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <%- end -%>

  <table class="table table-condensed table-striped">
    <thead>
    <tr>
      <td colspan="6"><h2>Must pay at door</h2></td>
    </tr>
    <tr>
      <th></th>
      <th>Name</th>
      <th>From</th>
      <th>Role</th>
      <th>Sign</th>
      <th>Dietary</th>
    </tr>
    </thead>
    <tbody>
    <% @not_paid.each do |reg| %>
        <tr>
          <td>
            <i class="glyphicon glyphicon-unchecked"><%= '<i class="glyphicon glyphicon-euro">'.html_safe if reg.pays_at_door? -%></i>
          <td><%= reg.name.titleize %></td>
          <td><%= reg.city.titleize %> / <%= reg.country.upcase %></td>
          <td><%= reg.role.titleize %></td>
          <td><%= ZodiacDecorator.format_zodiac_sign_id reg.zodiac_sign_id %></td>
          <td><%= ApplicationDecorator.dietary(reg) %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

</body>
</html>
