<h1>Hotel Reservations made during registration</h1>

<h3>Only Guestlist</h3>

<div class="well">
  <h4>Requests</h4>
  <p>
    <small>
      <table class="table table-condensed table-bordered">
        <th>Room#</th>
        <th>Sleeps</th>
        <th>Name</th>
        <th>Reg Status</th>
        <th>Hotel room</th>
        <th>Partner</th>

        <% @registrations.each do |reg| %>
            <%- room_id = reg.try(:hotel_room).try(:id) -%>
            <tr>
              <td><%= (link_to room_id, edit_hotel_room_path(room_id)) unless room_id.nil? -%> <%= HotelRoom.find(room_id).hotel_room_category.snippet_name unless room_id.nil? -%></td>
              <td><%= reg.try(:sleeps_in_id) -%></td>
              <td><%= reg.name -%></td>
              <td><%= reg.status_print %></td>
              <td><%= reg.room_type -%></td>
              <td><%= reg.partner -%></td>
            </tr>
        <% end %>


      </table>
    </small>
  </p>

</div>
