<% specific_query = 'pie_' + query %>
<div id="<%= specific_query %>"></div>


<script type="text/javascript" charset="utf-8">
  var divh = document.getElementById("<%= specific_query %>").style.height;
  var divw = document.getElementById("<%= specific_query %>").style.width;

  var s<%= specific_query %> = Raphael(document.getElementById("<%= specific_query %>"), 0, 0);
  // Creates pie chart at with center at 320, 200,
  // radius 100 and data: [55, 20, 13, 32, 5, 1, 2]
  s<%= specific_query %>.piechart(100, 100, 75, [<% counter.keys.each do |key| %><%= counter[key].to_s + ', ' %><% end -%>], {
    legend: [<% counter.keys.each do |key| %><%= "\"".html_safe + key.to_s + "\", ".html_safe %>  <% end -%>"test"],
    legendpos: "south"
  });
</script>
