<h1>Backend#stats</h1>

<h3>Signed up for <%= Settings.marathon.name -%></h3>


<div class="col-lg-6 col-sm-12">
  <h3>Age distribution</h3>

  <div id="age-histogram" style="height:400px;"></div>

  <script type="text/javascript" charset="utf-8">

    Morris.Bar({
      element: 'age-histogram',
      data: [
        <% @ages_hash.each do |key, val| %>
        {age: "<%= key %>", l: <%= val['l'] %>, f: <%= val['f'] %>},
        <% end %>
      ],
      xkey: 'age',
      ykeys: ['l', 'f'],
      labels: ['Leaders', 'Followers'],
      barColors: ['blue', 'red'],
      stacked: false,
      grid: true
    });

  </script>
</div>

<div class="col-lg-6 col-sm-12">
  <h3>Travel distance distribution</h3>

  <div id="distance-histogram" style="height:400px;"></div>

  <script type="text/javascript" charset="utf-8">

    Morris.Bar({
      element: 'distance-histogram',
      data: [
        <% @distance_hash.each do |key, val| %>
        {distance: "<%= key %>", l: <%= val['l'] %>, f: <%= val['f'] %>},
        <% end %>
      ],
      xkey: 'distance',
      ykeys: ['l', 'f'],
      labels: ['Leaders', 'Followers'],
      barColors: ['blue', 'red'],
    });

  </script>

</div>

<div class="col-lg-6 col-sm-12">
  <h4>By Country</h4>
  <%- regs = Registration.basically_in.count -%>
  <% all_regs = Registration.count -%>
  <p>There are <%= Registration.basically_in.count -%> registrations, of which <%= @followers.count -%> are
    followers, <%= @leaders.count -%> are leaders, and <%= @both.count -%> are both</p>

  <p>There were <%= all_regs -%> signups in total.</p>

  <div id="country-donut"></div>
  <script type="text/javascript" charset="utf-8">
    Morris.Donut({
      element: 'country-donut',
      data: [
        <%# counter = Registration.order('count_all desc').count(group: :country) %>
        <%# counter.keys.each do |key| %>
        <%#= "{value: #{(counter[key].to_i/regs.to_f*100).round(2)}, label: '#{key}'},\n".html_safe -%>
        <%# end %>
        {value: 0, label: 'yes!'}
      ],
      formatter: function (x) {
        return x + "%"
      }
    }).on('click', function (i, row) {
      console.log(i, row);
    });
  </script>


  <table border="0" cellspacing="5" cellpadding="5" id="for-chart2">
    <tr>
      <th>Country</th>
      <th>Number</th>
      <th>of accepted</th>
      <th>of all</th>
    </tr>
    <%# counter = Registration.basically_in.order('count_all desc').count(group: :country) %>
    <%# counter.keys.each do |key| %>
        <tr>
          <td><%# key %></td>
          <td><%# counter[key] %></td>
          <td><%# (counter[key].to_i/regs.to_f*100).round(2) -%>%</td>
          <td><%# (counter[key].to_i/all_regs.to_f*100).round(2) -%>%</td>
        </tr>
    <%# end %>
  </table>
</div>

<div class="col-lg-6 col-sm-12">
  <h4>Zodiac</h4>

  <p>
    <small>
      <table class="table table-condensed table-bordered"
      ">
      <th></th>
      <th>#</th>
      <th>Foll</th>
      <th>Lead</th>
      <th>Both</th>

      <% (1..12).each do |zodiac_id| %>
          <tr>
            <td><span class=""><%= zodiac_image_tag(zodiac_id) %></span> <%= zodiac_id -%></td>
            <td><%= Registration.basically_in.where { zodiac_sign_id == zodiac_id }.count %>
              (<%= ((Registration.basically_in.where { zodiac_sign_id == zodiac_id }.count.to_f)/(Registration.basically_in.count)*100.0).to_i %>
              %)
            </td>
            <td><%= @followers.where { zodiac_sign_id == zodiac_id }.count %></td>
            <td><%= @leaders.where { zodiac_sign_id == zodiac_id }.count %></td>
            <td><%= @both.where { zodiac_sign_id == zodiac_id }.count %></td>
          </tr>
      <% end %>


      </table>
    </small>
  </p>

</div>


<div class="" style='width: 800px;'>
  <div id="guest_map" style='width: 100%; height: 400px;'></div>
</div>

<% if @json %>
    <%- content_for :scripts_after do -%>
        <script type="text/javascript">
          handler = Gmaps.build('Google');
          handler.buildMap({provider: {}, internal: {id: 'guest_map'}}, function () {
            markers = handler.addMarkers(<%=raw @json.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
          });
        </script>
    <%- end -%>
<%- else -%>
    <p><span class="label label-danger">ERROR</span> No Map data</p>
<% end -%>
