<h1>Backend#stats</h1>

<h3>Comparison of accepted vs. all signed up registrations for <%= Figaro.env.MARATHON_NAME -%></h3>


<%- %w(Accepted All Waitinglist).each do |list| -%>

    <div class="col-lg-4 col-sm-12">
      <h3>Ages of <%= list.upcase -%></h3>

      <div id="<%= "age-histogram-#{list.downcase}" -%>" style="height:400px;"></div>

      <script type="text/javascript" charset="utf-8">

        Morris.Bar({
          element: '<%= "age-histogram-#{list.downcase}" -%>',
          data: [
            <% eval("@ages_hash_#{list.downcase}").each do |key, val| %>
            {age: "<%= key %>", l: <%= val['l'] %>, f: <%= val['f'] %>},
            <% end %>
          ],
          xkey: 'age',
          ykeys: ['l', 'f'],
          labels: ['Leaders', 'Followers'],
          barColors: ['blue', 'red'],
          stacked: false,
          grid: true
        });

      </script>
    </div>

<%- end -%>

<%- %w(Accepted All Waitinglist).each do |list| -%>

    <div class="col-lg-4 col-sm-12">
      <h3>Travel <%= list.upcase -%></h3>

      <div id="<%= "distance-histogram-#{list.downcase}" -%>" style="height:400px;"></div>

      <script type="text/javascript" charset="utf-8">

        Morris.Bar({
          element: '<%= "distance-histogram-#{list.downcase}" -%>',
          data: [
            <% eval("@distance_hash_#{list.downcase}").each do |key, val| %>
            {distance: "<%= key %>", l: <%= val['l'] %>, f: <%= val['f'] %>},
            <% end %>
          ],
          xkey: 'distance',
          ykeys: ['l', 'f'],
          labels: ['Leaders', 'Followers'],
          barColors: ['blue', 'red'],
        });

      </script>

    </div>
<%- end -%>


<div class="col-lg-6 col-sm-12">
  <h4>Accepted By Country</h4>
  <%- regs = TangoRegistration.basically_in.count -%>

  <div id="country-donut"></div>
  <script type="text/javascript" charset="utf-8">
    Morris.Donut({
      element: 'country-donut',
      data: [
        <% counter = TangoRegistration.basically_in.order('count_all desc').count(group: :country) %>
        <% counter.keys.each do |key| %>
        <%= "{value: #{(counter[key].to_i/regs.to_f*100).round(2)}, label: '#{key}'},\n".html_safe -%>
        <% end %>
        {value: 0, label: 'yes!'}
      ],
      formatter: function (x) {
        return x + "%"
      }
    }).on('click', function (i, row) {
      console.log(i, row);
    });
  </script>


  <table border="0" cellspacing="5" cellpadding="5" id="for-chart2">
    <tr>
      <th>Country</th>
      <th>Number</th>
      <th>of accepted</th>
    </tr>
    <% counter.keys.each do |key| %>
        <tr>
          <td><%= key %></td>
          <td><%= counter[key] %></td>
          <td><%= (counter[key].to_i/regs.to_f*100).round(2) -%>%</td>
        </tr>
    <% end %>
  </table>
</div>

<div class="col-lg-6 col-sm-12">
  <h4>All By Country</h4>
  <%- regs = TangoRegistration.count -%>

  <div id="country-donut-all"></div>
  <script type="text/javascript" charset="utf-8">
    Morris.Donut({
      element: 'country-donut-all',
      data: [
        <% counter = TangoRegistration.order('count_all desc').count(group: :country) %>
        <% counter.keys.each do |key| %>
        <%= "{value: #{(counter[key].to_i/regs.to_f*100).round(2)}, label: '#{key}'},\n".html_safe -%>
        <% end %>
        {value: 0, label: 'yes!'}
      ],
      formatter: function (x) {
        return x + "%"
      }
    }).on('click', function (i, row) {
      console.log(i, row);
    });
  </script>


  <table border="0" cellspacing="5" cellpadding="5" id="for-chart2">
    <tr>
      <th>Country</th>
      <th>Number</th>
      <th>of accepted</th>
    </tr>
    <% counter.keys.each do |key| %>
        <tr>
          <td><%= key %></td>
          <td><%= counter[key] %></td>
          <td><%= (counter[key].to_i/regs.to_f*100).round(2) -%>%</td>
        </tr>
    <% end %>
  </table>
</div>
