<div>
  <h3>More Stats</h3>
</div>

<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      Ages
    </div>
    <div class="panel-body">
      <div class="well">
        <strong>Men/Women on Guestlist</strong>

        <div id="age-histogram" style="height:400px;"></div>

        <script type="text/javascript" charset="utf-8">

          Morris.Bar({
            element: 'age-histogram',
            data: [
              <% @ages_hash.each do |key, val| %>
              {age: "<%= key %>", l: <%= val['l'] %>, f: <%= val['f'] %>},
              <% end %>
            ],
            xkey: 'age',
            ykeys: ['l', 'f'],
            labels: ['Men', 'Women'],
            barColors: ['blue', 'red'],
            stacked: true,
            hideHover: 'auto',

          });

        </script>
      </div>
    </div>
    <div class="panel-footer">
    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      Counts
    </div>
    <div class="panel-body">
      <p>
        <small>
          <table class="table table-condensed table-striped table-bordered">
            <thead>
            <th class="text-right"></th>
            <th class="text-right">Followers</th>
            <th class="text-right">Leaders</th>
            <th class="text-right">both</th>
            <th class="text-right">all</th>
            </thead>
            <% %w(Invitation Invitation.open Invitation.accepted Invitation.declined).each do |list| %>
                <tr>
                  <td class="text-right"><%= list.capitalize %></td>
                  <td class="text-right"><%= eval(list+'.followers.count') %></td>
                  <td class="text-right"><%= eval(list+'.leaders.count') %></td>
                  <td class="text-right"><%= eval(list+'.both.count') %></td>
                  <td class="text-right"><%= eval(list+'.count') %></td>
                </tr>
            <% end %>
            <tr>
              <td class="text-right"><%= 'Cancelled' %></td>
              <td class="text-right"><%= @cancelled_invitations.followers.count %></td>
              <td class="text-right"><%= @cancelled_invitations.leaders.count %></td>
              <td class="text-right"><%= @cancelled_invitations.both.count %></td>
              <td class="text-right"><%= @cancelled_invitations.count %></td>
            </tr>
          </table>
        </small>
      </p>

    </div>
    <div class="panel-footer">
    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      Dietary
    </div>
    <div class="panel-body">
      <p>
        <small>
          <table class="table table-condensed table-bordered">
            <th>Incompatibility</th>
            <% TangoRegistration.all.group_by { |reg| reg.dietary_class }.keys.each do |dietclass| -%>
                <th><%= dietclass.capitalize -%></th>
            <%- end -%>

            <% TangoRegistration.all.group_by { |reg| reg.dietary_incompatibility }.keys.each do |key| %>
                <tr>
                  <td>
                    <% list = TangoRegistration.guestlist.where('dietary_incompatibility = ?', key.to_yaml) %> <%= list.count.to_s -%>
                    <%= key %></td>
                  <% TangoRegistration.all.group_by { |reg| reg.dietary_class }.keys.each do |dietclass| -%>
                      <td><%= list.where('dietary_class = ?', dietclass.to_yaml).count.to_s -%></td>
                  <%- end -%>
                </tr>
            <% end %>
          </table>
        </small>
      </p>
    </div>
    <div class="panel-footer">
    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      Countries
    </div>
    <div class="panel-body">
      <div id="pie_countries"></div>
      <table border="0" cellspacing="5" cellpadding="5">
        <tr>
          <th>Country</th>
          <th>Number</th>
        </tr>
        <% counter = TangoRegistration.order('count_all desc').count(group: :country) %>
        <% counter.keys.each do |key| %>
            <tr>
              <td><%= key %></td>
              <td><%= counter[key] %></td>
            </tr>
        <% end %>
      </table>

      <script type="text/javascript" charset="utf-8">
        var divh = document.getElementById("pie_countries").style.height;
        var divw = document.getElementById("pie_countries").style.width;

        var raph_pie_countries = Raphael(document.getElementById("pie_countries"), 500, 500);
        // Creates pie chart at with center at 320, 200,
        // radius 100 and data: [55, 20, 13, 32, 5, 1, 2]
        raph_pie_countries.piechart(100, 100, 75, [<% counter.keys.each do |key| %><%= counter[key].to_s + ', ' %><% end -%>], {
          legend: [<% counter.keys.each do |key| %><%= "\"".html_safe + key.to_s + "\", ".html_safe %>  <% end -%>"test"],
          legendpos: "south"
        });
      </script>

    </div>
    <div class="panel-footer">
    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      Zodiac
    </div>
    <div class="panel-body">
      <div id="pie_zodiac"></div>
      <p>
        <small>
          <table class="table table-condensed table-bordered">
            <th></th>
            <th>#</th>
            <th>Foll</th>
            <th>Lead</th>
            <th>Both</th>

            <% (1..12).each do |zodiac_id| %>
                <tr>
                  <td><span class="label"><%= zodiac_image_tag(zodiac_id) %></span></td>
                  <td><%= TangoRegistration.where { zodiac_sign_id == zodiac_id }.count %>
                    (<%= ((TangoRegistration.where { zodiac_sign_id == zodiac_id }.count.to_f)/(TangoRegistration.all.count)*100.0).to_i %>
                    %)
                  </td>
                  <td><%= TangoRegistration.followers.where { zodiac_sign_id == zodiac_id }.count %></td>
                  <td><%= TangoRegistration.leaders.where { zodiac_sign_id == zodiac_id }.count %></td>
                  <td><%= TangoRegistration.both.where { zodiac_sign_id == zodiac_id }.count %></td>
                </tr>
            <% end %>


          </table>
        </small>
      </p>
      <table border="0" cellspacing="5" cellpadding="5">
        <tr>
          <th>Signs by the</th>
          <th>Number</th>
        </tr>
        <% counter = TangoRegistration.order('count_all desc').count(group: :zodiac_sign_id) %>
        <% counter.keys.each do |key| %>
            <tr>
              <td><%= key %></td>
              <td><%= counter[key] %></td>
            </tr>
        <% end %>
      </table>

      <script type="text/javascript" charset="utf-8">
        var divh = document.getElementById("pie_countries").style.height;
        var divw = document.getElementById("pie_countries").style.width;

        var raph_pie_countries = Raphael(document.getElementById("pie_zodiac"), 500, 500);
        // Creates pie chart at with center at 320, 200,
        // radius 100 and data: [55, 20, 13, 32, 5, 1, 2]
        raph_pie_countries.piechart(100, 100, 75, [<% counter.keys.each do |key| %><%= counter[key].to_s + ', ' %><% end -%>], {
          legend: [<% counter.keys.each do |key| %><%= "\"".html_safe + key.to_s + "\", ".html_safe %>  <% end -%>"test"],
          legendpos: "south"
        });
      </script>
    </div>
    <div class="panel-footer">
    </div>
  </div>
</div>
