<div class="page-header">
  <h1>Testing Users</h1>
</div>


<div class="well well-large">

  <%= grid(@tasks_grid) do |g|

    g.column :name => 'ID', :attribute => 'id', :model => 'User', :filter => false do |user|
      user.id
    end

    g.column :name => 'Email', :attribute => 'email', :filter => false do |user|
      output = user.email.html_safe
    end


    g.column :name => 'Reg' do |user|
      user.try(:registration).try(:id)
    end

    g.column :name => 'InvAcc' do |user|
      user.try(:invitation_accepted_at)
    end

    g.column :name => 'ConfTok' do |user|
      user.try(:confirmation_token)
    end
    g.column :name => 'InvTok' do |user|
      user.try(:invitation_token)
    end
    g.column :name => 'IP' do |user|
      user.try(:last_sign_in_ip)
    end


    g.column :name => 'Password Test' do |user|
      output = (user.valid_password?('e').nil? ? 'nil' : user.valid_password?('e'))
    end


  end -%>

</div>
