<%- if @user.blank? -%>
    <h2>Error</h2>
    <p>The user with id <%= params[:id] -%> could not be found.</p>
<%- else -%>

    <h2>Admin: view the portal page</h2>
    <h3> for <%= @user.name -%> (user id=<%= @user.id -%>) </h3>
    <p>State is "<%= @user.registration.state -%>"</p>

    <%- if @user.has_role? :admin -%>
        <p>User is an Admin - and has no user portal page</p>
    <%- elsif @user.has_role? :guest or @user.registration.list_guestlist? or @user.registration.submitted? -%>
        <%- @audit = RegistrationStateTransition.find_all_by_registration_id(@user.registration.id) -%>
        <%- @shuttle_trips = @user.registration.shuttle_trips -%>
        <%- @dormitories = @user.registration.dormitories -%>
        <div class="well">
          <%= render template: 'guests/portal' -%>
        </div>
    <%- elsif @user.invitation.status.nil? -%>
        <p>User has not accepted the invitation</p>
    <%- elsif @user.registration.nil? -%>
        <p>User has no registration.</p>
    <%- end -%>

<%- end -%>
