<h2>Who's portal page do you want to see?</h2>

<div class="well">
  <%= simple_form_for (@dormitory), :url => '/backend/user_portal_check/', :method => :get do |f| %>
      <div class="form-inputs">
        <%= f.association :tango_registrations,
                          collection:    TangoRegistration.all,
                          include_blank: false,
                          label:         'People<br/>'.html_safe,
                          input_html:    { class: 'chosen-select' }
        %>
      </div>
      <%= button_tag(type: 'submit', class: 'btn btn-primary') do %>
          Show me!
      <% end %>
  <% end %>
</div>


