<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Thank you for signing up for <%= Settings.marathon.name -%></title>
</head>
<body>
<p>Dear <%= @reg.name %>,</p>

<p>We have received your application for <%= Settings.marathon.name -%>.
    <br/>Due to the fact that we are processing applications in batches while balancing the guest list, this might take
    a few days, but we will get back to you as soon as possible.
    <br/>You will receive an email from us, so please make sure to add <%= Settings.marathon.email -%> to your address
    book so it doesn't get sent to the spam folder.</p>

<p>
    If you are signing up as a couple, please don't forget to sign up your partner as well, or we cannot process your
    registration!
</p>

<p>Your <%= Settings.marathon.name -%> - Team (Daniel de Kay &amp; Juliana Thutlwa + friends)</p>
<hr/>
<%= cms_snippet_content('the_facts') -%>
</body>
</html>
