.card
  .header
    Previous Participant
    .btn.btn-warning
      =link_to 'edit', edit_previous_participant_path(@model)
    .btn.btn-info
      =link_to 'back', backend_suggestions_previous_participants_path
  .content
    %table.table
      %tr
        %td
          %b
            Name
        %td
          =@model.name
      %tr
        %td
          %b
            Email
        %td
          =@model.email
      %tr
        %td
          %b
            Address
        %td
          =@model.city + ", " + @model.country
      %tr
        %td
          %b
            Role
        %td
          =format_role @model.role
      %tr
        %td
          %b
            Participated in
        %td
          =SuggestionWorkflowDecorator.format_event_tags @model.event_list
