<div class="container">
    <h1>Transport / Arrival</h1>

    <p>
        <img src="https://www.evernote.com/shard/s5/sh/9f85df0c-2a14-4246-b845-bff63c0a47f4/a281ecb9df6fc9ea51d7e5ede6896c97/deep/0/mtangoparty-2013.png"
             style="width: 600px;"/></p>

    <h3>Mannheim is the place from where we will organize shuttle transfers to the venue</h3>

    <p>Here is <a href="http://wikitravel.org/en/Mannheim">general description to get to Mannheim</a>, and from there
        you
        can book our
        <a href="/travel_arrangements">post in the forum to book</a> or <a href="/shuttle">see the shuttle plan</a>.</p>

    <h2>By Plane</h2>

    <p>The best way is to fly to <b>Frankfurt International Airport - FRA</b>, because it's the most easy to continue
        the
        journey from (see below).</p>

    <p>Alternatively there is <b>Frankfurt Hahn</b> and <b>Karlsruhe Baden Airport</b> for the low-cost airlines, as
        well as
        <b>Stuttgart Airport</b></p>

    <h2>From Frankfurt Airport</h2>

    <h3>Train</h3>

    <p>If you land at Frankfurt Airport (<a
            href="http://www.lufthansa.com/de/en/Lufthansa-at-Frankfurt-airport">link</a>,
        <a href="http://www.lufthansa.com/mediapool/pdf/45/media_2096262845.pdf">plan</a>), the quickest and easiest way
        to
        get to Mannheim is by train. Should you arrive at <b>Terminal 2</b>, take the bus or the Skytrain to <b>Terminal
            1</b>. From <b>Terminal 1</b> follow the signs for "<b>Fernbahnhof / long-distance trains</b>". From there
        on
        you can take a train to Mannheim Hauptbahnhof (main station). You can purchase your ticket at a ticket booth (25&euro;
        one way), in the
        <a href="https://www.evernote.com/shard/s5/sh/eccfbb43-8759-40e2-8ee6-f9bdbe4716bf/90fdc10f866581ef54eddd48a66b5f11">travel
            center of "Deutsche Bahn"</a> or inside the train (more expensive). The train ride from Frankfurt Airport to
        Mannheim takes approx. 30 minutes by high-speed ICE train. (Visit
        <a href="http://www.bahn.de">www.bahn.de</a> or <a
                href="http://reiseauskunft.bahn.de/bin/query.exe/en?et_cid=969&et_lid=490427&S=Frankfurt%28M%29+Flughafen+Fernbf&Z=Mannheim+Hbf">direct
            link to booking</a>)</p>

    <p>
        <img src="https://www.evernote.com/shard/s5/sh/5d116042-cc04-4871-9270-7e8321a1baec/02739c93265122bb5494f2bc7c2ce613/deep/0/ferbhanhof.png"
             style="width: 150px;"/> <img
            src="https://www.evernote.com/shard/s5/sh/eccfbb43-8759-40e2-8ee6-f9bdbe4716bf/90fdc10f866581ef54eddd48a66b5f11/deep/0/HBF-FRA.jpg"
            style="width: 600px;"/></p>

    <h3>Bus</h3>

    <p>As an alternative, which will take you up to 2 hours, you can also take the a Bus, but it leaves from Franfurt
        central Trainstation. To get there, use the local train station. (<a
                href="https://www.adac-postbus.de/en/oxid/oxid-oxid/Mannheim-ZOB-am-Hbf/Frankfurt-Hbf-Stuttgarter-Str-Mannheim-ZOB-am-Hbf.html?origin=moCatOrigin_9&destination=moCatDest_5&departure=2014-11-07&return=2014-11-09&adults=1&children=0&roundtrip=1#outward-journey">Postbus
            website</a>)</p>

    <h3>Rental Car</h3>

    <p>A rental car including gasoline will cost you around 150&euro; for the weekend. Which means, 4 people are
        travelling
        cheaper together than by train. Check
        <a href="http://www.sixt.de">Sixt</a> or <a href="http://www.europcar.de">Europcar</a>, for example.</p>

    <h2>From Frankfurt-Hahn Airport</h2>

    <h3>Hahn Transfer Bus</h3>

    <p>If you arrive at Frankfurt-Hahn Airport, you can take the <strong>Bus #140</strong> to Ludwigshafen or Mannheim
        main
        station (check your shuttle!). The bus leaves approx. every 3 hours and takes about 2.5 hours to get to
        Mannheim.
        There is no train connection at Frankfurt-Hahn Airport. (Visit <a
                href="http://www.hahn-express.de/inhalt.php?id=10353&amp;menu_level=1&amp;id_mnu=10353&amp;id_kunden=1029"
                title="Hanh Express - english">www.hahn-express.de</a> for more information. <a
                href="http://www.modul100.de/1029/files/20141014103454BBKHahnAirportFahrplanab26.10.2014_Stand14.10.14.pdf"
                title="Time table">Direct link to time table</a>)</p>

    <h4>Time table</h4>

    <p><b>FROM Hahn to LU or MA</b></p>
    <img src="https://www.evernote.com/shard/s5/sh/13e01421-69cc-47a5-b02f-21efc696495f/256d96aee6974a0d3fad785fa2c29323/deep/0/HAHN-LU-MA.png"/>

    <p><b>To Hahn</b></p>
    <img src="https://www.evernote.com/shard/s5/sh/136a3055-66f0-4cac-938f-47784b285bf5/171383266d2f67b3e4f3c4c128fd2b33/deep/0/MA-LU-HAHN.png"/>
</div>
