.card
  .header
    Raw emails for import to Campaign Monitor List
    %p
      Most recent regs are on top
  .content
    - @regs.each do |reg|
      %p
        ="#{reg.email}, #{reg.first_name}, #{reg.last_name}"
