%table.table
  %tr
    %td
      %b Name
    %td= model.name
  %tr
    %td
      %b Address
    %td= address
  %tr
    %td
      %b Phone
    %td= telephone
  %tr
    %td
      %b Email
    %td= email
%p
  Permission to store the data for future events:
  = ApplicationDecorator.format_boolean permission?
