- if Settings.features.registrations.enabled
  .jumbotron
    .container
      = render 'layouts/messages'
      %h1
        =image_tag Settings.marathon.logo150, style: 'width: 150px;'
        Registration form
      %p
        .label.label-danger
          This is an invitation-only event.
        <br/>You can still sign up, and we will consider your participation. However please be patient, as we will be processing invitations first.
      %p
        This registration form is for you only. Your partner must fill in a form on their own!
  .container
    .row
    .col-lg-12.col-md-12.col-s-12
    = render 'inscriptions/form'
