<div class="wrap">
    <% if current_user.present? %>
    <%= (current_user.has_role? :admin) ? link_to("edit in backend", "/cms-admin/sites/1/pages", :class =>
    "admin-edit") : "" %>
    <% end %>
    <div class="container">
        <div class="row">
            <div class="span12">
                <h1>Workshops</h1>
                <% 4.times do |i| %>
                <%= cms_snippet_content('workshop1') -%>
                <%= "workshop#{i}"%>
                <% end %>
            </div>
        </div>
    </div>
</div>
