<div class="table">
   <h4><a class="icon" href="#"><i class="fa fa-money"></i></a> <span> By Bank Transfer</span></h4>
    <h4>&euro; <span><%= Settings.payment.price -%></span></h4>
    <table class="table table-compact table-striped table-small">
        <tr>
            <td>IBAN:</td>
            <td>DE85701204008283834003</td>
        </tr>
        <tr>
            <td>BIC:</td>
            <td>DABBDEMMXXX</td>
        </tr>
        <tr>
            <td>Purpose:</td>
            <td><%= Settings.marathon.name.dup %> + <%= @user.registration.name %></td>
        </tr>
        <tr>
            <td>BLZ:</td>
            <td>70120400</td>
        </tr>
        <tr>
            <td>account number:</td>
            <td>8283834003</td>
        </tr>
        <tr>
            <td>name of the account:</td>
            <td>Daniel K&auml;smayr</td>
        </tr>
        <tr>
            <td>name of bank:</td>
            <td>DAB Bank</td>
        </tr>
    </table>
</div>


