%ul.nav.navbar-top-links.navbar-right
  %li.dropdown
    %a.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
      %i.fa.fa-envelope.fa-fw
      %i.fa.fa-caret-down
    %ul.dropdown-menu.dropdown-messages
      %li
        %b Recent updates only
      - Registration.order('updated_at').last(7).reverse.each do |registration|  # TODO only show last 7
        %li
          %a{href: "/registrations/#{registration.id}"}
            %div
              %strong= registration.id.to_s + ' / ' + registration.name
              %span.pull-right.text-muted
                -#%em= (registration.status.nil? ? "!" : (registration.status_print)).html_safe + "<br/>".html_safe + ((registration.user.registration.nil?) ? "!" : (registration.user.registration.status_print))
            %div
              = registration.city
              \/ #{registration.country}
        %li.divider
      %li
        %a.text-center{href: '/backend/registrations/processing'}
          %strong All Registrations
          %i.fa.fa-angle-right
  //.dropdown-messages
  //.dropdown
  %li.dropdown
    %a.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
      %i.fa.fa-euro.fa-fw
      %i.fa.fa-caret-down
    %ul.dropdown-menu.dropdown-messages
      - Registration.last(7).reverse.each do |registration|  # TODO only show last 7
        %li
          %a{href: "/registration/#{registration.id}"}
            %div
              %strong= registration.id.to_s + ' / ' + registration.name
              %span.pull-right.text-muted
                -#%em= decorate_status_label(registration.state, registration.state)
            %div
              = registration.city
              \/ #{registration.country}
        %li.divider
      %li
        %a.text-center{href: '/admin/processes'}
          %strong Registration Processing
          %i.fa.fa-angle-right
  //.dropdown-messages
  %li.dropdown
    %a.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
      %i.fa.fa-lightbulb-o.fa-fw
      %i.fa.fa-caret-down
    %ul.dropdown-menu.dropdown-messages
      - Registration.last(7).reverse.each do |sugg|  # TODO only show last 7
        %li
          %a{href: "/registration/#{sugg.id}"}
            %div
              %strong= sugg.id.to_s + ' / ' + sugg.name
        %li.divider
      %li
        %a.text-center{href: '/backend/registrations/index'}
          %strong All Registrations
          %i.fa.fa-angle-right
  //.dropdown-messages
  //.dropdown
  %li.dropdown
    %a.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
      %i.fa.fa-tasks.fa-fw
      %i.fa.fa-caret-down
    %ul.dropdown-menu.dropdown-tasks
      %li
        %a{href: '#'}
          %div
            %p
              %strong
                %i.fa.fa-fw.fa-group
                All Guests
              - percentage = ((Registration.all.count.to_i/Settings.marathon.participants.to_f)*100).to_i
              %span.pull-right.text-muted
                = percentage
                \% Complete
            .progress.progress-striped.active
              .progress-bar.progress-bar-success{'aria-valuemax' => '100', 'aria-valuemin' => '0', 'aria-valuenow' => percentage, role: 'progressbar', style: "width: #{percentage}%"}
                %span.sr-only
                  = percentage
                  \% full
      %li.divider
      %li
        %a{href: '#'}
          %div
            %p
              %strong
                %i.fa.fa-fw.fa-female
                Followers
              - percentage = ((Registration.followers.count/Settings.marathon.participants.to_f)*100).to_i
              %span.pull-right.text-muted
            -#= Registration.followers.count
            -#\/ #{Registration.followers.guestlist.count} paid
            .progress.progress-striped.active
              .progress-bar.progress-bar-danger{'aria-valuemax' => '100', 'aria-valuemin' => '0', 'aria-valuenow' => percentage, role: 'progressbar', style: "width: #{percentage}%"}
                %span.sr-only= Registration.followers.count
      %li.divider
      %li
        %a{href: '#'}
          %div
            %p
              %strong
                %i.fa.fa-fw.fa-male
                Leaders
              - percentage = ((Registration.leaders.count/Settings.marathon.participants.to_f)*100).to_i
              %span.pull-right.text-muted
            -#= Registration.leaders.count
            -#\/ #{Registration.leaders.guestlist.count} paid
            .progress.progress-striped.active
              .progress-bar.progress-bar-info{'aria-valuemax' => '100', 'aria-valuemin' => '0', 'aria-valuenow' => percentage, role: 'progressbar', style: "width: #{percentage}%"}
                %span.sr-only= Registration.leaders.count
      %li.divider
      %li
        %a{href: '#'}
          %div
            %p
              %strong
                %i.fa.fa-fw.fa-male
                %i.fa.fa-fw.fa-female
                Both
              - percentage = ((Registration.both.count/Settings.marathon.participants.to_f)*100).to_i
              %span.pull-right.text-muted
            -#= Registration.both.count
            -#\/ #{Registration.both.guestlist.count} paid
            .progress.progress-striped.active
              .progress-bar.progress-bar-warning{'aria-valuemax' => '100', 'aria-valuemin' => '0', 'aria-valuenow' => percentage, role: 'progressbar', style: "width: #{percentage}%"}
                %span.sr-only= Registration.both.count
      %li.divider
      %li
        %a{href: '#'}
          %div
            %p
              %strong F/L Ratio
              - percentage = ((Registration.followers.count.to_f/(Registration.leaders.count+Registration.both.count/2))*100).to_f
              %span.pull-right.text-muted
                = percentage
                \% followers
            .progress.progress-striped.active
              %div{'aria-valuemax' => '200', 'aria-valuemin' => '1', 'aria-valuenow' => percentage, class: "progress-bar progress-bar-#{(percentage > 105) ? 'error':'success'}", role: 'progressbar', style: "width: #{percentage/2}%"}
                %span.sr-only= percentage
  //.dropdown-tasks
  //.dropdown
  //.dropdown
  %li.dropdown
    %a.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
      %i.fa.fa-user.fa-fw
      %i.fa.fa-caret-down
    %ul.dropdown-menu.dropdown-user
      %li= link_to "<i class='fa fa-user fa-fw'></i> #{current_user.name}".html_safe, ''
      %li
        %a{href: '#'}
          %i.fa.fa-gear.fa-fw
          Settings
      %li.divider
  %li= link_to 'Logout', destroy_user_session_path, :method=>'delete'
//.dropdown-user
//.dropdown
