%nav.navbar.navbar-default.navbar-fixed-top{role: 'navigation', style: 'margin-bottom: 0'}
  .navbar-header
    %button.navbar-toggle{'data-target' => '.sidebar-collapse', 'data-toggle' => 'collapse', type: 'button'}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{href: '/'}
      = Settings.marathon.name
      Backend
  //.navbar-header
  = render 'layouts/backend/sidebar_top_nav'
  //.navbar-top-links
  .navbar-default.navbar-static-side{role: 'navigation'}
    .sidebar-collapse
