<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>We have moved you to the waiting list! <%= Settings.marathon.name -%></title>
</head>
<body>
<p>Dear <%= @reg.name %>,</p>

<p>We have not heard from you or not received a payment for <%= Settings.marathon.name -%>.</p>

<p>Since there is a long list of other dancers who have been waiting for some time, we have decided to move you to the
    waiting list and offer your spot to someone else.</p>

<p>We wish you a great time and hope to see you somewhere on "la pista"</p>

<p>Your <%= Settings.marathon.name -%> - Team (Daniel de Kay &amp; Juliana Thutlwa + friends)</p>
<hr/>
<%= cms_snippet_content('the_facts') -%>
</body>
</html>
