<h2 class="title">Registration Rules!</h2>

<p>NO tickets at the door. NO exchange of tickets.
    NO discussion.</p>
<ul class="the-icons grey">
    <li><i class="icon-time"></i>We will mix and match meaning that diversion and role balance will have
        priority!
    </li>
    <li><i class="icon-star"></i>First come, first serve does NOT apply for this event!</li>
    <li><i class="icon-camera"></i> Nunc mollis, nisl vel tincidunt vestibulum, lacus libero mollis urna, eu
        dapibus lacus nisi et nulla.
    </li>
    <li><i class="icon-qrcode"></i> Curabitur veltpat magna. Pellentesque pellentesque dapibus dictum.</li>
    <li><i class="icon-user"></i> Nulla ut erat ut massa molestie commodo.</li>
</ul>
<p>Duis vel ligula et libero iaculis facilisis
    in vel justo. Duis lacinia orci ut tellus interdum dignissim. Fusce
    eugei scelerisque enim. Phasellus nec libero lectus. Quisque posuere mi
    non nibh facilisis semper. Donec lorem suscipit est sed mauris eleifend
    congue. Class taciti sociosqu litora torquent <a href="#" class="arrow_link">per conubia.</a></p>
