<div class="container">
    <h1>Travel
        Forum <%= (link_to "<span class='fa fa-print'></span>".html_safe, travel_arrangements_print_path) if (current_user.has_role? :admin) -%>
    </h1>

    <p>
        This page is intended to help with travel coordination. If you like to get assistance from the team, or like to
        ask
        the other guests if they can give you a lift, or if you would like to offer a lift, please leave a message
        here.<br/>
        To book a shuttle on Friday or Sunday, please post your train arrival / departure times. <br/>
    </p>

    <% if (DateTime.parse(Settings.marathon.event.start)-2.days).future? %>
    <%- else -%>
    <h3>We are sorry that we can no longer process any shuttle requests at this time. The official shuttle schedule is
        published <%= link_to "here", "/shuttle" -%>. If you like to take your chances, just arrive there and if there's
        space the shuttle driver will take you. Thank you for your understanding!</h3>
    <% end %>

    <div class="well">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Your Requests for quick access</h2>
            </div>
            <div class="panel-body">
                <table style="width: 100%;" class="table">
                    <thead>
                    <th></th>
                    <th style="min-width: 640px;"></th>
                    <th style="min-width: 140px;"></th>
                    </thead>

                    <% if @user.requests.each do |req| %>
                    <tr>
                        <td><%= req.when.stamp("Mon&nbsp;Aug-20&nbsp;-&nbsp;23:34h&nbsp;").html_safe -%></td>
                        <td><em><%= req.from -%></em> <span class='fa fa-play'></span> <em><%= req.to -%></em></td>
                        <td><%= link_to("<span class='fa fa-pencil'></span> edit".html_safe, edit_request_path(req), :class => 'btn btn-xs btn-warning') if (current_user == req.user or current_user.has_role? :admin) -%>
                            <%= link_to("<span class='fa fa-trash'></span> delete".html_safe, request_path(req), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-xs btn-danger') if (current_user == req.user or current_user.has_role? :admin) -%>
                        </td>
                    </tr>
                    <% end.empty? %>
                    <tr>
                        <td></td>
                        <td>You have not submitted any request yet.</td>
                        <td><%= button_to 'New Request', new_request_path, :class => 'btn btn-success' %></td>
                    </tr>
                    <% end %>
                </table>
            </div>
        </div>
    </div>

    <h2>All travel requests</h2>

    <div class="spn12">
        <h3 class="panel-title">Offers (i.e. someone who has a ride, and offers to take you)</h3>
        <%- @offers.each do |req| -%>
        <p><strong><%= req.user.name -%></strong>, reachable by <%= mail_to req.contact_email -%> or
            <i class="fa fa-phone"></i>&nbsp;
            <%= Phony.format(Phony.normalize(req.phone), :format => :international_absolute, :spaces => :-) -%>
            <%= link_to("<span class='fa fa-pencil'></span> edit".html_safe, edit_request_path(req), :class => 'btn btn-xs btn-warning') if (current_user == req.user or current_user.has_role? :admin) -%>
            <%= link_to("<span class='fa fa-trash'></span> delete".html_safe, request_path(req), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-xs btn-danger') if (current_user == req.user or  current_user.has_role? :admin) -%>
        </p>

        <div class="offset1 span 10">
            <p>
                offers from <em><%= req.from -%></em> <span class='fa fa-play'></span> <em><%= req.to -%></em> on <em><%= req.when.stamp("Monday August 20th at 23:34h") -%></em><br/>
            </p>

            <p class="shuttle_message"><%= req.message -%></p>
        </div>

        <%- end -%>
        <div class="span12">
            <p>
                <%= button_to 'New Request', new_request_path, :class => 'btn btn-success' %>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="span6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Travel Requests and Info</h3>
                </div>
                <div class="panel-body">
                    <table style="width: 100%;" class="table">
                        <thead>
                        <th></th>
                        <th style="min-width: 340px;"></th>
                        <th></th>
                        </thead>
                        <%- @requests.each do |req| -%>
                        <%- if req.how == "shuttle" -%>
                        <%- else -%>
                        <tr>
                            <td><%= req.when.stamp("Mon 23:34h").html_safe -%><%= link_to("<span class='fa fa-pencil'></span> edit".html_safe, edit_request_path(req), :class => 'btn btn-xs btn-warning') if (current_user == req.user or current_user.has_role? :admin) -%>
                                <%= link_to("<span class='fa fa-trash'></span> delete".html_safe, request_path(req), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-xs btn-danger') if (current_user == req.user or current_user.has_role? :admin) -%>
                            </td>
                            <td><em><%= req.from -%></em> <span class='fa fa-play'></span> <em><%= req.to -%></em>
                                <br/><strong><%= req.user.name -%></strong> <i class="fa fa-phone"></i>&nbsp;<%=
                                req.phone -%>
                                <br/>
                                <p class="shuttle_message"><%= req.message -%></p>
                            </td>
                        </tr>
                        <%- end -%>
                        <%- end -%>
                    </table>

                </div>
                <div class="panel-footer">
                    <%= button_to 'New Request', new_request_path, :class => 'btn btn-success' %>
                </div>
            </div>
        </div>


        <div class="span6">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Shuttle Requests</h3>
                </div>
                <div class="panel-body">
                    <table style="width: 100%;" class="table">
                        <thead>
                        <th></th>
                        <th style="min-width: 340px;"></th>
                        <th></th>
                        </thead>
                        <%- @requests.each do |req| -%>
                        <%- if req.how == "shuttle" -%>
                        <tr>
                            <td><%= req.when.stamp("Mon 23:34h").html_safe -%><%= link_to("<span
                                    class='fa fa-pencil'></span> edit".html_safe, edit_request_path(req), :class => 'btn
                                btn-xs btn-warning') if (current_user == req.user or current_user.has_role? :admin) -%>
                                <%= link_to("<span class='fa fa-trash'></span> delete".html_safe, request_path(req),
                                :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-xs
                                btn-danger') if (current_user == req.user or current_user.has_role? :admin) -%> <%=
                                req.is_processed? ? "<i class='fa fa-check'></i>".html_safe : "<i
                                        class='fa fa-circle-thin'></i>".html_safe -%>
                                <%= link_to("process".html_safe, edit_request_path(req), :class => 'btn btn-xs') if
                                (current_user.has_role? :admin) -%>
                            </td>
                            <td><em><%= req.from -%></em> <span class='fa fa-play'></span> <em><%= req.to -%></em>
                                <br/><strong><%= req.user.name -%></strong> <i class="fa fa-phone"></i>&nbsp;<%=
                                req.phone -%>
                                <br/>

                                <p class="shuttle_message"><%= req.message -%></p></td>
                        </tr>
                        <%- end -%>
                        <%- end -%>
                    </table>
                </div>
                <div class="panel-footer">
                    <%= button_to 'New Request', new_request_path, :class => 'btn btn-success' %>
                </div>
            </div>
        </div>
    </div>
</div>
