<% @djs = Dj.all.sort! { |a,b| b.sort_order <=> a.sort_order } -%>
<table id="program" class="table center table-condensed">
  <tbody>
  <tr>
    <td colspan="2"><strong><%= (DateTime.parse(Settings.marathon.event.start)-1.day).stamp("6. November 2014 - Thursday ") -%></strong></td>
  </tr>
  <tr>
    <td style="left"> 21–02h</td>
    <td style="right"> Preparty: (
      <a href="http://www.rhein-neckar-tango.de/veranstaltung/milonga-del-jueves-abraztango-2/2014-11-06/">calendar</a>
      and
      <a href="https://www.facebook.com/AbrazTango/photos/a.689390381130868.1073741829.612028995533674/723433284393244/?type=1&amp;theater">facebook</a>
      )
    </td>
  </tr>
  <tr>
    <td colspan="2"><strong><%= (DateTime.parse(Settings.marathon.event.start)).stamp("6. November 2014 - Thursday ") -%></strong></td>
  </tr>
  <tr>
    <td> 18-23h</td>
    <td> <%- dj = @djs.pop -%><%= dj.present? ? dj.to_text : "error" -%></td>
  </tr>
  <tr>
    <td> 20–22h</td>
    <td> Dinner(Buffet)</td>
  </tr>
  <tr>
    <td> 23–04h</td>
    <td> <%- dj = @djs.pop -%><%= dj.present? ? dj.to_text : "error" -%></td>
  </tr>
  <tr>
    <td colspan="2"><strong><%= (DateTime.parse(Settings.marathon.event.start)+1.day).stamp("6. November 2014 - Thursday ") -%></strong></td>
  </tr>
  <tr>
    <td> 11–13h</td>
    <td> Breakfast(Buffet)</td>
  </tr>
  <tr>
    <td> 11–16h</td>
    <td> <%- dj = @djs.pop -%><%= dj.present? ? dj.to_text : "error" -%></td>
  </tr>
  <tr>
    <td> 16–21h</td>
    <td> <%- dj = @djs.pop -%><%= dj.present? ? dj.to_text : "error" -%></td>
  </tr>
  <tr>
    <td> 20–22h</td>
    <td> Dinner(Buffet)</td>
  </tr>
  <tr>
    <td> 22–04h</td>
    <td> <%- dj = @djs.pop -%><%= dj.present? ? dj.to_text : "error" -%></td>
  </tr>
  <tr>
    <td colspan="2"><strong><%= (DateTime.parse(Settings.marathon.event.start)+2.day).stamp("6. November 2014 - Thursday ") -%></strong></td>
  </tr>
  <tr>
    <td> 11–13h</td>
    <td> Breakfast(Buffet)</td>
  </tr>
  <tr>
    <td> 12–18h</td>
    <td> <%- dj = @djs.pop -%><%= dj.present? ? dj.to_text : "error" -%></td>
  </tr>
  </tbody>
</table>
