<div class="container">

  <h1>Accommodation Options</h1>

  <h2>General Info</h2>

  <p>
    Here's a list of known hotels in the area, as well as a few pensions and apartments. We will try to find as many as
    possible, and also note if they are already taken.
    Please contact the providers directly and mention that you go to "mtangoparty".
    If the locations tell us that they are completely booked, we set the status here to "booked", but not in all cases
    they tell us. If you contact one of them, and they are already booked, please let us know so we can mark it
    accordingly. Thank you!
    Just in case: there is a web site which lists more accomodation options in the villages around Wachenheim here, and
    in Deidesheim (3km south) here.
    PS: This list is only accessible for confirmed guests of the marathon, since we want make sure that people don't
    block "just in case", without actually being on the guest list. = better chances for you to catch a nice apartment
    in walking distance!
  </p>

  <h2>Dormitory</h2>
  <p>There are no dormitory options organized by the marathon team. However we have negotiated a very good deal with a
    hotel close by</p>

    <%- if :booked -%>
    <%- else -%>
        <% if user_signed_in? and current_user.has_role? :admin %>
            <%= link_to 'New Dormitory Location', new_dormitory_path %>
        <%- end -%>
        <table class="table table-condensed table-striped">
          <tr>
            <th>Name</th>
            <th>Description</th>
            <% if user_signed_in? and current_user.has_role? :admin %>
                <th></th>
                <th></th>
                <th></th>
            <%- end -%>
          </tr>

          <% @dormitories.each do |dorm| %>
              <%- if dorm.visibility? -%>
                  <tr>
                    <td><%= dorm.name -%></td>
                    <td><%= dorm.description -%></td>
                    <% if user_signed_in? and current_user.has_role? :admin %>
                        <td><%= link_to 'Show', dorm %></td>
                        <td><%= link_to 'Edit', edit_dormitory_path(dorm) %></td>
                        <td><%= link_to 'Destroy', dorm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    <%- end -%>
                  </tr>
              <%- end -%>
          <% end %>
        </table>
    <%- end -%>

    <h2>Hotels, B&amp;Bs or Appartments</h2>

    <div class="well">
      <div id="hotel_map" style='width: 100%; height: 400px;'></div>
    </div>

    <table class="table table-striped table-small" style="width: 100%; max-width: 100%;">
      <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>Url</th>
        <th>Total Capacity</th>
        <th>Price</th>
        <th>Telephone</th>
        <th>Email</th>
        <th>Status</th>
        <th>Download Contact</th>
      </tr>
      </thead>
      <tbody>
      <% @hotels.each do |hotel| %>
          <tr>
            <td><%= hotel.name %></td>
            <td><%= hotel.address %></td>
            <td><%= hotel.city -%></td>
            <td><%= hotel.url? ? link_to("link", hotel.url) : "" -%></td>
            <td><%= hotel.capacity %></td>
            <td><%= hotel.price %></td>
            <td><%= Phony.format(Phony.normalize(hotel.telephone), :format => :international, :spaces => '&nbsp;').html_safe unless hotel.telephone.blank? %>
            </td>
            <td><%= mail_to hotel.email, "<i class='fa fa-envelope'></i>".html_safe %></td>
            <td><%= content_tag :span, hotel.status, :class => "label label-#{hotel.status}" %></td>
            <td>
              <span class="label label-warning label"><%= link_to "VCF", "/hotels/#{hotel.id}/vcf", { :target => "_blank" } %></span>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <% if @json %>
        <%- content_for :scripts_after do -%>
            <script type="text/javascript">
                handler = Gmaps.build('Google');
                handler.buildMap({provider: {}, internal: {id: 'hotel_map'}}, function () {
                    markers = handler.addMarkers( <%= raw @json.to_json %>);
                    handler.bounds.extendWith(markers);
                    handler.fitMapToBounds();
                });
            </script>
        <%- end -%>
    <%- else -%>
        <span class="label label-pink">ERROR</span> No Map data
    <% end -%>
    </div>
