= simple_form_for(contract, html: { class: 'form-horizontal' }) do |f|
  - if notification = f.error_notification
    .alert.alert-error.fade.in
      %a.close{"data-dismiss" => "alert", :href => "#"} ×
      = notification
  .row
    .col-lg-6
      = f.input :first_name
      = f.input :last_name
      = f.input :email, placeholder: 'user@domain.com'
      = f.input :facebook, placeholder: 'userid', hint: 'Please include the facebook ID of your friend, if possible'
      = f.input :gender, as: :radio_buttons, collection: gender_options
      = f.input :role, as: :radio_buttons, collection: roles
      = f.input :city
      =# f.input :country
    .col-lg-6
      = f.input :message, placeholder: 'Do you want to add a personalized message? If your friend is not facebook friends with us, please let us know a bit about her/his dance experience. Thank you!', |
        :input_html => { :cols => 150, :rows => 3 }
    .form-actions
      = f.button :submit,  :value => "Suggest your friend"
