.container
  .row
    .col-md-4.col-sm-6.col-md-offset-4.col-sm-offset-3
      .card.card-hidden
        .header.text-center Forgot your password?
        .content
          = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .form-inputs
              = f.input :email, required: false, autofocus: true
            .form-actions
            .footer.text-center
              = f.button :submit, 'Send me reset password instructions', :class => '.btn.btn-fill.btn-warning.btn-wd'
              %p
                = render 'devise/shared/links'
