= simple_form_for(@form, html: { class: 'form-horizontal' }) do |f|
  - if (notification = f.error_notification)
    .alert.alert-error.fade.in
      %a.close{'data-dismiss' => 'alert', href: '#'} ×
      = notification
  .row
    .col-xs-12.col-md-4.column.col-lg-4
      = f.input :first_name, :autofocus => true
      = f.input :last_name
      = f.fields_for :user do |u|
        = u.input :email
      = f.input :street, :hint => 'please enter a valid address!'
      = f.input :city
      = f.input :zip, :label => 'Postcode/ZIP'
      = f.input :country
    .col-xs-12.col-md-4.column.col-lg-4
      = f.input :birthday, :as => :string, :hint => "please use your real birthday (YYYY-MM-DD), but year = 1900 if you don't want to tell your age :)"
      %hr/
      = f.input :gender,                       |
        :collection         => gender_options, |
        :as                 => :radio_buttons, |
        :label              => 'Gender'
      = f.input :role,                 |
        :collection => roles,          |
        :as         => :radio_buttons,
        :label      => 'Dancing Role'
      %p "Both" means you actively dance both roles in equal duration!
      %hr/
      = f.input :partner_first_name
      = f.input :partner_last_name
      = f.input :partner_email
      %hr/
      = f.input :dietary_class,                 |
        :collection         => dietary_options, |
        :as                 => :radio_buttons,  |
        :label              => 'I eat:'
      -#
      = f.input :dietary_incompatibility,                                     |
        :collection => dietary_options_incompatibility, :as => :check_boxes,
        :label => 'But:'
    .col-xs-12.col-md-4.column.col-lg-4
      = f.input :facebook,
        placeholder: 'userid',
        label:       'Connect with Facebook?',
        hint:        'optional: with this we can pull your profile picture from fb -- this makes it more fun for us. please paste the URL of your <a href="http://www.facebook.com/me">facebook profile</a> page here'.html_safe
      %hr/
      = f.input :message,                                   |
        :as         => :text,                               |
        :input_html => { :cols => 50, :rows => 5 },
        :label      => 'Do you want to leave us a message?'
      %hr/
      %p.warning-text
        Please give yourself a password. You will need to re-login to get access to the guest portal, where you can
        find the hotel list, and suggest three friends to be invited, too
      = f.fields_for :user do |u|
        = u.input :password, :label => 'New password', :required => true
        = u.input :password_confirmation, :label => 'Confirm your new password', :required => true
      = f.input :permission_to_store_data,
        :label => 'Please save my personal data for future events.'
      %hr/
      .form-actions
        = f.button :submit, :value => 'Submit Registration'
