.jumbotron
  .container
    = render 'layouts/messages'
    %h1 #{@reg.class} form for #{@reg.first_name}
    %strong Please note:
    %ol
      %li We already have pre-filled some of your data. Please complete the rest, and submit the registration.
      %li This registration form is for you only. If you want to bring your TODO
.container
  .row
    .col-lg-12.col-md-12.col-s-12
      = render 'registrations/form'
