%h3 Please pay:
%h4
  either #{Settings.payment.price.dup} &euro;
%p
  by
  = succeed ":" do
    %strong Bank Transfer
%table.table.table-compact.table-striped
  %tr
    %td IBAN:
    %td DE85701204008283834003
  %tr
    %td BIC:
    %td DABBDEMM (or DABBDEMMXXX if that does not work)
  %tr
    %td Purpose:
    %td
      = Settings.marathon.name.dup
      + #{@user.registration.name}
  %tr
    %td BLZ:
    %td 70120400
  %tr
    %td account number:
    %td 8283834003
  %tr
    %td name of the account:
    %td Daniel K&auml;smayr
  %tr
    %td name of bank:
    %td DAB Bank
%h4
  or #{Settings.payment.paypal.price.dup} &euro;
%p
  by
  %strong Paypal/Credit Card
  (paypal charges us extra fees for the transfer)
%p
  Please send the money to
  %em daniel@kaesmayr.net
