!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
      Invitation to #{Settings.marathon.name}
  %body
    %table#background{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %tr
        %td{:align => "center", :valign => "top"}
          %table#main{:border => "0", :cellpadding => "0", :cellspacing => "20", :width => "650"}
            %tr
              %td#header{:colspan => "2"}
            %tr
              %td.divider{:bgcolor => "#555555", :colspan => "2", :height => "2"}
            %tr.invitation
              %td{:valign => "top"}
              .page-header
                %h1
                  Invitation to #{Settings.marathon.name}
              %p
                Dear #{@user.name},
              %p
                We would like to invite you to #{Settings.marathon.name}, happening
                from #{(Settings.marathon.event.start).stamp("Monday, August 1st")}
                to #{(Settings.marathon.event.end).stamp("Friday, November 5th 2014")}
              - if !(@user.invitation.message.nil? or (@user.invitation.message == ""))
                %p
                  "#{@user.invitation.message}"
              %p
                Please respond by following the personalized link below
                %br/
                valid
                %strong only
                until #{eval(Settings.features.invitations.expiry).stamp("Monday, August 1st 2013")} to accept or decline:
              %h3
                = link_to 'Personal Invitation Link', invitation_acceptance_url(@user)
              %p
                (Please also respond, even if you cannot join us! This way we can give your spot to the next in line.)
              %p
                More info about #{Settings.marathon.name} is available here: #{link_to Settings.marathon.website, Settings.marathon.website}
              %p We hope to hear from you soon,
              %p
                Your #{Settings.marathon.name} - Team (Daniel de Kay & Juliana Thutlwa + friends)
              %hr/
              = render 'layouts/the_facts'
              %p
                %strong
                  Will you join us?
                Please click here and complete your registration within the next #{Settings.features.invitations.expiry_to_s}.
              %p= link_to 'Personal Invitation Link', invitation_acceptance_url(@user)
            %tr
              %td.divider{:bgcolor => "#555555", :colspan => "2", :height => "2"}
            %tr
              %td#footer{:colspan => "2"}
                %p= Settings.copyright.html_safe
