!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
      = Settings.marathon.name
      \- New Comment!
  %body
    %p
      Dear #{@recipient.name},
    %p
      There is a new comment from "#{@comment.user.name}" to your post in the #{Settings.marathon.name} travel arrangement forum:
    %p
    %blockquote
      = @comment.comment
    %p
      Please go to #{Settings.marathon.website}/travel_arrangements to reply.
    %p
      Your #{Settings.marathon.name} web page robot
