!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
      = Settings.marathon.name
      \- New Travel Request!
  %body
    %p= @request.to_html
