!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Shuttle Email
  %body
    %p DEUTSCHE Version ganz unten
    %p
      %strong Note:
      This version of the email is the most current one. Please print it out :)
    %p
      %strong Important:
      Please reply to this email and give us a phone number where we could reach you – if we don't have it yet!
    %hr/
    %p
      Dear #{@to.first_name},
      %br/
      Here's the promised shuttle info email (again), with explanations and details.
    %p FYI – Ludwigshafen is the city right next to Mannheim, and there are only two bridges that link the two. On friday afternoon there is usually heavy traffic on the bridges (30 minutes just to cross the bridge from Mannheim to Ludwigshafen), whereas public transportation is rather fast (5 to 10 minutes). That's why the "prime time" shuttles on friday are from Ludwigshafen Central Station instead of Mannheim.
    %p
      %img{:alt => "", :src => "https://www.evernote.com/shard/s5/sh/4876ccec-ab30-49cb-afd1-cfbc5fc2daaf/46201429ab2dfa448a463c1a0201effe/deep/0/rush-hour.png", :style => "width: 400px;"}/
    %p
      To get to Ludwigshafen: go to track #1 in Mannheim Central Station, and take the next train or S-Bahn to "Ludwigshafen Hauptbahnhof". Schedules: starting #{link_to "16:00h", "https://www.dropbox.com/s/dymjnmbkjn3mzee/MA-LU-16.pdf"} and #{link_to "17:30h", "https://www.dropbox.com/s/1ms79ifzl1ijqoj/MA-LU-1730.pdf"}
    %hr/
    %p We have made reservations for you in the following shuttle trips:
    %p
    %table
      %tr
        %td
          %strong When
        %td
          %strong From
      - @shuttle_trips.sort_by{|d| d.time}.each do |shuttle_trip|
        %tr
          %td= shuttle_trip.time.stamp("Friday 18:00h")
          %td= shuttle_trip.where_link
    %p The pickup locations are as follows – please check the table above for yours.
    %p
    %ol
      %li= Content.where(:usage => 'shuttle_info_MA').first.content.html_safe
      %li= Content.where(:usage => 'shuttle_info_LU').first.content.html_safe
      %li= Content.where(:usage => 'shuttle_info_WAC').first.content.html_safe
    %p Our drivers will be available by phone +49 151 559 185 41 or +49 171 966 40 97
    %p There will also be hotel shuttles between Bad D&uuml;rkheim, Forst and the venue. Details about this will be available at the marathon checkin.
    %p
      We wish you a safe and relaxed journey to #{Settings.marathon.name}!
    %p
      Your #{Settings.marathon.name} - Team
      %br>/
      (Daniel de Kay &amp; Juliana Thutlwa + friends)
    %hr/
    %h3 DEUTSCH
    %p
      %strong Achtung:
      Dies ist die aktuellste Version dieser Email. Bitte ausdrucken und mitnehmen :)
    %p
      %strong Wichtig:
      Wenn wir deine Handy-Nr noch nicht haben, bitte auf diese Email antworten und uns deine Nummer schicken!
    %hr/
    %p
      Hallo #{@to.first_name},
      %br/
      Hier ist die "Shuttle-Info-Email", wie versprochen.
    %p Zur Info – Ludwigshafen ist die Nachbarstadt von Mannheim, und es gibt nur zwei Br&uuml;cken dazwischen. Das heisst, da&szlig; am Freitag Nachmittag sehr viel Verkehr ist (man braucht 30 Minuten mit dem Auto nur &uuml;ber die Br&uuml;cke); der &ouml;ffentliche Nahverkehr ist viel schneller (5 - 10 Minuten). Deshalb ist der Treffpunkt der "Rush Hour" Shuttles am Ludwigshafener Hauptbahnhof und nicht in Mannheim.
    %p
      %img{:alt => "", :src => "https://www.evernote.com/shard/s5/sh/4876ccec-ab30-49cb-afd1-cfbc5fc2daaf/46201429ab2dfa448a463c1a0201effe/deep/0/rush-hour.png", :style => "width: 400px;"}/
    %p
      So geht es von Mannheim nach Ludwigshafen: am Mannheimer Hauptbahnhof f&auml;hrt die Regionalbahn oder S-Bahn normalerweise von Gleis 1. Nehmt den Zugoder die S-Bahn nach "Ludwigshafen Hauptbahnhof". Fahrpläne: ab #{link_to "16:00h", "https://www.dropbox.com/s/dymjnmbkjn3mzee/MA-LU-16.pdf"} und ab #{link_to "17:30h", "https://www.dropbox.com/s/1ms79ifzl1ijqoj/MA-LU-1730.pdf"} gibt es zum Download
    %hr/
    %p Wir haben f&uuml;r dich folgende Fahrten reserviert:
    %p
    %table
      %tr
        %td
          %strong Abfahrt
        %td
          %strong Treffpunkt
      - @shuttle_trips.sort_by{|d| d.time}.each do |shuttle_trip|
        %tr
          %td= shuttle_trip.time.stamp("Friday 18:00h")
          %td= shuttle_trip.where_link
    %p Eine Beschreibung der Treffpunkte:
    %p
    %ol
      %li= Content.where(:usage => 'shuttle_info_MA').first.content.html_safe
      %li= Content.where(:usage => 'shuttle_info_LU').first.content.html_safe
      %li= Content.where(:usage => 'shuttle_info_WAC').first.content.html_safe
    %p Die Telefonnummer unserer Fahrer ist +49 151 559 185 41 oder +49 171 966 40 97
    %p Es gibt auch ein Hotel-Shuttle zwischen Bad D&uuml;rkheim, Forst und Wachenheim. Weitere Details beim Fahrer und auf den Aush&auml;ngen vor Ort.
    %p
      Wir w&uuml;nschen euch eine entspannte Anreise zur #{Settings.marathon.name}!
    %p
      Euer #{Settings.marathon.name} - Team
      %br>/
      (Daniel de Kay &amp; Juliana Thutlwa + Freunde)
