!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Workshops
  %body
    %p
      Dear #{@reg.first_name},
    %p
      Workshops at #{Figaro.env.MARATHON_NAME_SHORT}? It's a marathon, but why workshops?
      %br/
      Well, here's what we think: back in the days when we all went to festivals, it was easy to take a class with good teachers. But today, where we
      all prefer to go to marathons because we like the dancing and the atmosphere better, it becomes more difficult to take classes.
      %br/
      And in a marathon setting you can have a class on a decent level, where you can also switch partners easily: after all you know many already
      and they are dancing on a similar level as you. What better way to work on your dancing?
      %br/
      And of course: Stephanie and Fausto are super nice teachers we adore both as dancers and as friends.
      %br/
      In short: this is why we are changing the concept and offer you the chance to explore new ideas.
    %p
      Btw: the full program is mentioned #{link_to "here", "http://gpampa.tangomarathons.com/workshops"}
    - if @workshops.present?
      %p
        During the registration process you have made a reservation for the following workshops, or so we understood you:
      - @workshops.each do |wsr|
        %p
          (
          %strong>
            Workshop #{wsr.workshop.workshop_number}
          ) "#{wsr.workshop.name}"
          \#{wsr.workshop.start_date.stamp("Friday, 18:00h")}
          - if wsr.partner_id.present?
            %br>/
            We also noted that you will partner with
            %strong= Registration.find(wsr.partner_id).name
          = succeed "The" do
            %br/
          status of this reservation is
          %strong= wsr.state
      %p
        %strong Please Let us know if your reservation still holds!
        %br/
        You expressed interest in the workshops, but now we need to manage a balance of leaders and followers.
        It is important to hear from you if you are really interested in taking the class. Please let us know by logging into our web site and either adding or deleting workshops. You can also mention your
        partner's name, if you have one already. #{link_to "here is the link for your convenience", Figaro.env.MARATHON_WEBSITE}
    - else
      %p You did not make any reservations for workshops so far.
      %p
        %strong But you still have a chance to make a reservation!
        %br/
        You don't necessarily need to sign up with a partner, and we will try to balance leaders with followers if
        possible.
        It is important to hear from you if you are really interested in taking a class. Please let us know by logging into our web site and either adding or deleting workshops. You can also mention your
        partner's name, if you have one already.
    %p
      %strong How does the reservation work?
      %br/
    %ol
      %li
        Check your #{link_to "personal portal on our web page", Figaro.env.MARATHON_WEBSITE}
      %li Add a reservation, or change an existing reservation
      %li Reservations must be confirmed by us – as we need to balance leaders and followers in case you are not signing up with a partner
      %li Once we confirm, you will receive an email.
      %li Please either pay the workshops in advance by money transfer or paypal -- or at least let us know that you will definitely take the class and pay cash
      %li At this stage the reservation is binding and cannot be changed without contacting us!
    %p See you @ the PARTY ;-)
    %p
      Your #{Settings.marathon.name} - Team (Daniel de Kay &amp; Juliana Thutlwa + friends)
    %hr/
    %p
      PS: If you have forgotten your password, get a new one #{link_to "here", Settings.marathon.website+"/users/password/new"}
    %hr/
