!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
      You are IN #{Settings.marathon.name}
  %body
    %table#background{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %tr
        %td{:align => "center", :valign => "top"}
          %table#main{:border => "0", :cellpadding => "0", :cellspacing => "20", :width => "650"}
            %tr
              %td#header{:colspan => "2"}
            %tr
              %td.divider{:bgcolor => "#555555", :colspan => "2", :height => "2"}
            %tr.invitation
              %td{:valign => "top"}
              %td{:valign => "top"}
                .page-header
                  %h1= Settings.marathon.name
                %p
                  Dear #{@user.name},
                %p
                  You are all set now: your participation in #{Settings.marathon.name} is confirmed. Yay!
                %p
                  Here's the link again to our web page, for your convenience, #{link_to Settings.marathon.name, Settings.marathon.website}
                - if ((Registration.guestlist.count +15).to_i < ENV['MARATHON_PARTICIPANTS'].to_i)
                  %p
                    = ENV['MARATHON_NAME_SHORT']
                    is a mixture between birthday party and tango marathon. As such we are interested to have friends at the event, as well as "future friends". In this manner we have set up a procedure that enables you to suggest up to three friends to be invited to the party. You can only suggest one follower and two leaders, max. So please chose wisely. Ideally the choices you make will enrich the overall experience. Why not suggest friends of yours from far away?
                    = succeed "To" do
                      %br/
                    do this, please log into the web site, where you will find the suggestion form.
                %p See you @ the PARTY ;-)
                %p
                  Your #{Settings.marathon.name} - Team (Daniel de Kay &amp; Juliana Thutlwa + friends)
                %hr/
                %p
                  PS: If you have forgotten your password, get a new one #{link_to "here", Settings.marathon.website+"/users/password/new"}
            %tr
              %td.divider{:bgcolor => "#555555", :colspan => "2", :height => "2"}
            %tr
              %td#footer{:colspan => "2"}
                %p= ENV['MARATHON_COPYRIGHT'].html_safe
    %hr/
    = render 'layouts/emails/timeframes'
