!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title= @subject
  %body
    %table#background{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %tr
        %td{:align => "center", :valign => "top"}
          %table#main{:border => "0", :cellpadding => "0", :cellspacing => "20", :width => "650"}
            %tr
              %td#header{:colspan => "2"}
            %tr
              %td.divider{:bgcolor => "#555555", :colspan => "2", :height => "2"}
            %tr.invitation
              %td{:valign => "top"}
                %p
                  Dear #{@to.first_name},
                %p= (@message).html_safe
                %p
                  Your #{Settings.marathon.name} - Team
                  %br>/
                  (Daniel de Kay &amp; Juliana Thutlwa + friends)
            %tr
              %td.divider{:bgcolor => "#555555", :colspan => "2", :height => "2"}
            %tr
              %td#footer{:colspan => "2"}
                %p= ENV['MARATHON_COPYRIGHT'].html_safe
