!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
      = @duration
      until #{Settings.marathon.name}
  %body
    %p
      Dear #{@reg.first_name},
    %p
      it's #{@duration} days until #{Settings.marathon.name} and here are a few things we think you should know:
    %p
      %strong ENGLISH
    %ol
      - if @reg.shuttle
        %li
          %strong> Shuttle
          \: To get from Mannheim to Wachenheim you can use our Shuttle - which can be
          = succeed "." do
            %a{:href => "http://mtangoparty.herokuapp.com/travel_arrangements"} booked through our web page
          The Shuttle also helps to get from the venue to Hotel Sinneo or Forst during #{Settings.marathon.name}. During rush hour on friday the shuttle will leave from Ludwigshafen.
        %li
          %strong> Travel
          \: if you are coming by train/plane - cheap fares might still be available. You'll need to plan travels to Mannheim Central Station. The
          %a{:href => "http://mtangoparty.herokuapp.com/travel_arrangements"} web site
          can also be used to offer/search for ride shares in the "Travel Forum".
      - else
        %li
          %strong> Travel
          \: if you are coming by train/plane - cheap fares might still be available. You'll need to plan travels to Mannheim Central Station. To get from Mannheim to Wachenheim you can use our Shuttle - which can be
          = succeed "." do
            %a{:href => "http://mtangoparty.herokuapp.com/travel_arrangements"} booked through our web page
          The forum can also be used to offer/search for ride shares. During rush hour on friday the shuttle will leave from Ludwigshafen.
      - if @reg.dormitory_booked? == :waitinglist
        %li
          %strong> Dormitory
          \: You expressed interest in the dormitory. Unfortunately we only have very limited space available this time, and you are on the waiting list. We would advise that you check with the
          %a{:href => "http://mtangoparty.herokuapp.com/accommodation"} list of b-n-bs
          on our web site.
      - elsif  @reg.dormitory_booked? == :booked
        %li
          %strong> Dormitory
          \: We have booked a spot for you: it costs 30 &euro; for 2 nights. Since we only have very limited space available this year let us know ASAP if you don't need it, so we can offer it to those on the waiting list. If we don't hear from you this is a binding confirmation! Please pay the fee during check-in.
          %br/
          = succeed ":" do
            %strong= @reg.dormitories.first.name
          = @reg.dormitories.first.description
      - else
        %li
          %strong> Sleep
          \: a list of b-n-bs is
          = succeed "." do
            %a{:href => "http://mtangoparty.herokuapp.com/accommodation"} on our web page
          Please note that there is a special deal (85 EUR/night for double, 69 EUR/night for single) at Hotel Sinneo if you mention "mtangoparty" during booking. There will be shuttle transfers from this Hotel to the venue during the weekend, as well as from Forst.
    %p
      %strong DEUTSCH
    %ol
      - if @reg.shuttle
        %li
          %strong> Shuttle
          \: Unser Shuttle f&auml;hrt von Mannheim (bzw. währen der Rush-hour von Ludwigshafen) nach Wachenheim, und kann
          = succeed "." do
            %a{:href => "http://mtangoparty.herokuapp.com/travel_arrangements"} &uuml;ber unsere Webseite reserviert werden
          Das Shuttle f&auml;hrt auch w&auml;hrend der Veranstaltung zwischen Wachenheim und Hotel Sinneo bzw. Forst.
        %li
          %strong> Anreise
          \: Bahnreisende sollten sich bald um Sparpreistickets k&uuml;mmern: am besten nach Mannheim Hbf buchen. Auf der
          %a{:href => "http://mtangoparty.herokuapp.com/travel_arrangements"} Webseite
          k&ouml;nnt ihr auch nach Mitfahrgelegenheiten suchen.
      - else
        %li
          %strong> Anreise
          \: Bahnreisende sollten sich bald um Sparpreistickets k&uuml;mmern: am besten nach Mannheim Hbf buchen. Ab Mannheim (bzw. währen der Rush-hour von Ludwigshafen) bieten wir einen Shuttleservice, der &uuml;ber
          %a{:href => "http://mtangoparty.herokuapp.com/travel_arrangements"} die Webseite
          gebucht werden kann.
      - if @reg.dormitory_booked? == :waitinglist
        %li
          %strong> Dormitory
          \: Du hattest Interesse am Domritory angemeldet. Leider haben wir nur ganz wenige Schlafpl&auml;tze zur Verf&uuml;gung, so daß wir dich auf die Warteliste sentzen mussten. Bitte pr&uuml;fe die
          %a{:href => "http://mtangoparty.herokuapp.com/accommodation"} Liste
          auf unserer Webseite f&uuml;r weitere Optionen.
      - elsif  @reg.dormitory_booked? == :booked
        %li
          %strong> Dormitory
          \: Wir haben dir einen Platz reserviert, der 30 &euro; f&uuml;r 2 N&auml;chte kostet. Da wir dieses Mal nur ganz begrenzt Platz haben, bitten wir dich um sofortige R&uuml;ckmeldung, wenn du den Platz nicht in Anspruch nehmen willst. Sollten wir nichts von dir h&ouml;ren, ist dies eine verbindliche Buchung deinerseits! Bitte bezahle das Dorm beim Check-in.
          %br/
          = succeed ":" do
            %strong= @reg.dormitories.first.name
          = @reg.dormitories.first.description
      - else
        %li
          %strong> &uuml;bernachtung
          \: eine Liste von Pensionen/Ferienwohungen findet ihr
          = succeed "." do
            %a{:href => "http://mtangoparty.herokuapp.com/accommodation"} auf der Webseite
          Bitte beachten: wir haben ein Sonderangebot im Hotel Sinneo (85 EUR/Nacht im DZ, 69 EUR/Nacht im EZ). Bitte beim Buchen "mtangoparty" mit angeben. Das Shuttle wird euch vom Sinneo nach Wachenheim bringen.
    %p Believe us when we say, we can’t wait to have you here.
    %p See you soon :)
    %p
      Your #{Settings.marathon.name} hosts
    %p Juliana &amp; Daniel + Team
    %hr/
    = render 'layouts/emails/timeframes'
