!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Reminder
  %body
    %table#background{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %tr
        %td{:align => "center", :valign => "top"}
          %table#main{:border => "0", :cellpadding => "0", :cellspacing => "20", :width => "650"}
            %tr
              %td#header{:colspan => "2"}
            %tr
              %td.divider{:bgcolor => "#555555", :colspan => "2", :height => "2"}
            %tr.invitation
              %td{:valign => "top"}
                .page-header
                  %h1= Settings.marathon.name
                %p
                  Dear #{@user.name},
                %p
                  You are all almost done:
                %ol
                  %li
                    (check) we have received your registration for #{Settings.marathon.name}...
                  %li
                    The party contribution is
                    = succeed "," do
                      %strong
                        = Settings.payment.price.dup
                        \&euro;
                    or
                    %strong
                      = Settings.payment.paypal.price.dup
                      \&euro;
                    if you pay with paypal (unfortunately thera are extra handling fees by paypal!)
                  %li
                    If we receive your contribution
                    %em in time
                    you
                    = succeed "." do
                      %span.label.label-in will be IN
                    %br/
                    - if @user.registration.to_pay_date.past?
                      %b IN TIME
                      means by "#{(@user.registration.extend_pay_date).stamp("Monday, August 5th 2013")}".
                      = succeed "Please" do
                        %br/
                      send us an email when you do the transfer.
                    - else
                      %b IN TIME
                      means: contribution must be received by "#{(@user.registration.to_pay_date).stamp("Monday, August 5th 2013")}"
                %p See you @ the PARTY ;-)
                %p
                  Your #{Settings.marathon.name} - Team (Daniel de Kay &amp; Juliana Thutlwa + friends)
            %tr
              %td.divider{:bgcolor => "#555555", :colspan => "2", :height => "2"}
            %tr
              %td#footer{:colspan => "2"}
                %p= ENV['MARATHON_COPYRIGHT'].html_safe
    %hr/
    = render 'layouts/emails/timeframes'
