!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
      Thank you for your interest in #{Settings.marathon.name}
  %body
    %p
      Dear #{@suggestion.name},
    %p
      We have received your application for #{Settings.marathon.name}.
    %p
      We will get back to you as soon as we can, but this might take a few days. Please make sure to add #{Settings.marathon.email} to your address book so it doesn't get sent to the spam folder.
    %p If you are signing up as a couple, please don't forget to sign up your partner as well, or we cannot process your registration!
    %p
      Your #{ENV['MARATHON_NAME_SHORT']} - Team (Daniel de Kay &amp; Juliana Thutlwa + friends)
    %hr/
    = render 'layouts/emails/timeframes'
