!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Hotel Room Reservation
  %body
    %p
      Dear #{@reg.first_name},
    %p
      Here's an email to let you know about your hotel room reservation.
      %br/
      We may send this email to you more than once. Please check if everything is as you want it.
    %p
      You have made a reservation for
    %table
      %tr
        %td
          %b Hotel
        %td= @hotel_room.hotel_room_category.hotel.name
      %tr
        %td
          %b Address
        %td= @hotel_room.hotel_room_category.hotel.to_address_text
      %tr
        %td
          %b Category
        %td= @hotel_room.hotel_room_category.name
      %tr
        %td
          %b Dates
        %td
          from #{@hotel_room.check_in} to #{@hotel_room.check_out}
    %p
      = @hotel_room.sleepers.map(&:name).to_sentence
      will sleep in this room.
    %h2
      YOU (#{@reg.name}) are responsible for this reservation, and only YOU can change it.
    %p
      %strong What does it mean: responsible?
      %br/
      - if Time.zone.now >  Time.zone.parse("27 Feb 2015")
        The hotel has a binding reservation in your name now, and they expect you to pay for the room. In case of cancellation, YOU will need to contact the HOTEL.
      - else
        We will forward your reservation to the hotel on Feb 27th in your name.
        After that you will be responsible to contact the hotel directly if you want to change or cancel the hotel room.
    %p
      %strong How to change the reservation?
      %br/
      - if Time.zone.now >  Time.zone.parse("27 Feb 2015")
        Please contact the hotel directly. We cannot change anything anymore.
      - else
        Before Feb 27th you can just log-in (login: #{@reg.email}) to the #{Figaro.env.MARATHON_NAME_SHORT} website and change it from there.
        After that you will be responsible to contact the hotel directly if you want to change or cancel the hotel room.
    %p See you @ the PARTY ;-)
    %p
      Your #{Settings.marathon.name} - Team (Daniel de Kay &amp; Juliana Thutlwa + friends)
    %hr/
    %p
      PS: If you have forgotten your password, get a new one #{link_to "here", Settings.marathon.website+"/users/password/new"}
    %hr/
