<%= grid(@tasks_grid, upper_pagination_panel: true,
         html:                                { class: 'suggestion-grid', id: 'bootstrap-datatable' }, header_tr_html: { class: 'suggestion-grid-header' }) do |g|

  g.column :attribute => 'id', :filter => false do |suggestion|
    result = suggestion.id.to_s.html_safe
    result += '<br/>'.html_safe + link_to("<i class='fa fa-fw fa-file-o'></i>".html_safe, suggestion)
    result += '<br/>'.html_safe + link_to("<i class='fa fa-fw fa-edit'></i>".html_safe, edit_suggestion_path(suggestion))
  end

  g.column :attribute => 'id', assoc: :user, :filter => false,
           html:      { style: 'text-align: center; width: 40px;' } do |suggestion|
    profile_picture_tag_for_facebook_id suggestion.facebook
  end

  g.column :name => 'ID', :attribute => 'id', assoc: :user, :filter => false do |suggestion|
    result = " #{search_links_social(suggestion.first_name, suggestion.last_name).html_safe}".html_safe
    result.html_safe
  end

  g.column :name => 'Name', :attribute => 'first_name' do |suggestion|
    suggestion.name.titleize
  end

  g.column :name => 'City', :attribute => 'city' do |suggestion|
    result = suggestion.city.titleize + ', <br/>'.html_safe + suggestion.country.titleize
    result.html_safe
  end


  g.column :name => 'Role', :attribute => 'role', custom_filter: :auto,
           html: { style: 'text-align: center;' } do |suggestion|
    suggestion.role.capitalize
  end

  g.column :name => 'Message', :attribute => 'message', :filter => false,
           html: { style: 'text-align: left; width: 300px !important;' } do |suggestion|
    content_tag(:small, suggestion.message)
  end

  g.column :name => 'By' do |suggestion|
    suggestion.suggested_by.map(&:name).to_s
  end


end -%>
