<%= grid(@tasks_grid, upper_pagination_panel: true,
         html:                                { class: 'suggestion-grid' }, header_tr_html: { class: 'suggestion-grid-header' }) do |g|

  g.action_column do |suggestion|
    User.find_by_email(suggestion.email.downcase.strip).blank? rescue false
  end
  g.column :name => 'ID', :attribute => 'id', :filter => false, html: { style: 'text-align: center' }

  g.column :attribute => 'id', :name => 'done?', html: { style: 'text-align: center' }, :filter => false do |suggestion|
    result = format_boolean(!User.find_by_email(suggestion.email.downcase.strip).blank?) rescue 'error'
  end

  g.column :attribute => 'id', :filter => false do |suggestion|
    result = "#{search_links_social(suggestion.first_name, suggestion.last_name).html_safe}".html_safe
  end

  g.column :name => 'Name', :attribute => 'first_name' do |suggestion|
    result = suggestion.name.titleize
    result += "<br/>(maybe: <a href='/inscriptions/#{Inscription.find_by_last_name(suggestion.last_name).id}'>similar?</a>)" if (User.find_by_email(suggestion.email.downcase.strip).blank? and Inscription.find_by_last_name(suggestion.last_name))
    result.html_safe
  end

  g.column :name => 'From', :attribute => 'country', custom_filter: :auto, html: { style: 'text-align: center' } do |suggestion|
    result = suggestion.country.upcase rescue "empty"
    result.html_safe
  end

  g.column :name => 'From', :attribute => 'city', filter: false do |suggestion|
    result = suggestion.city.titleize rescue "empty"
    result.html_safe
  end

  g.column :name => 'Email', :attribute => 'email' do |suggestion|
    suggestion.email.downcase.strip rescue "error"
  end


  g.column :name => 'Role', :attribute => 'role', custom_filter: :auto, html: { style: 'text-align: center' } do |suggestion|
    format_role suggestion.role rescue "empty"
  end

  g.column :name => 'By', :attribute => 'id' do |suggestion|
    suggestion.inscription.try(:name) rescue "empty"
  end

  g.column :name => "Message", :attribute => 'message'

end -%>
