<%= grid(@tasks_grid, upper_pagination_panel: true) do |g|

  g.action_column do |suggestion|
    User.find_by_email(suggestion.email).blank? rescue "error"
  end

  g.column :attribute => 'id' do |suggestion|
    link_to suggestion.id, edit_previous_participant_path(suggestion) rescue "error"
  end

  g.column :attribute => 'id', :filter => false do |suggestion|
    result = format_boolean(!User.find_by_email(suggestion.email).blank?).html_safe rescue "error"
  end

  g.column :attribute => 'id', :name => 'status', :filter => false do |suggestion|
    result = ApplicationWorkflowDecorator.print_user_status_tag_by_workflow_state(suggestion.email) rescue "error"
  end

  g.column :attribute => 'id', :filter => false do |suggestion|
    result = "#{search_links_social(suggestion.first_name, suggestion.last_name).html_safe}".html_safe rescue "error"
  end

  g.column :name => 'Name', :attribute => 'first_name' do |suggestion|
    result = suggestion.name.titleize rescue "error"
    result.html_safe
  end

  g.column :name => 'From', :attribute => 'country', custom_filter: :auto do |suggestion|
    result = suggestion.country.titleize + ', '.html_safe + suggestion.city.titleize rescue "error"
    result.html_safe
  end

  g.column :name => 'Role', :attribute => 'role', custom_filter: :auto, html: { style: 'text-align: center' } do |suggestion|
    format_role suggestion.role rescue "error"
  end

  g.column :name => 'Previous events', :attribute => 'id' do |suggestion|
    SuggestionWorkflowDecorator.format_event_tags suggestion.event_list rescue "error"
  end


end -%>
