.col-lg-12
  .card
    .header
      %h1 Suggested Participants
    .content
      %b Filters
      = link_to 'all', '/backend/suggestions/by_guests?filter=all'
      = link_to 'leaders', '/backend/suggestions/by_guests?filter=leaders'
      = link_to 'followers', '/backend/suggestions/by_guests?filter=followers'

.col-lg-12
  .card
    .header
    .content
      %p
        = form_for '#', :url => {:action => :convert_to_invitation} do
          %p
            %button.btn.btn-success.btn-fill{'type' => 'submit'} Create Invitation
          = render 'grid_for_suggested_participants'
