%h1 Suggestions
%p
  Convert by using the
  %i.fa.fa-check
  button
%p
  %button.btn.btn-xs.btn-default
    %i.fa.fa-list.fa-fw
    = link_to 'all', '/backend/suggestions/index?filter=all'
  %button.btn.btn-xs.btn-default
    %i.fa.fa-female.fa-fw
    = link_to 'leaders', '/backend/suggestions/index?filter=leaders'
  %button.btn.btn-xs.btn-default
    %i.fa.fa-male.fa-fw
    = link_to 'followers', '/backend/suggestions/index?filter=followers'
= render 'grid'
