.col-lg-12
  .card
    .header
      %h1
        Previous Participants
        %small
          =@where_clause
    .content
      %p
        %b Filters
        - %w(all followers leaders both empty).each do |text|
          %span.btn.btn-info.btn-sm
            = link_to text, "/backend/suggestions/previous_participants?filter=#{text}"
      %p
        %b Filters
        - %w(scorpio sagittarius capricorn aquarius pisces aries taurus gemini cancer leo virgo libra).each do |text|
          %span.btn.btn-info.btn-sm
            = link_to text, "/backend/suggestions/previous_participants?zodiac=#{text}"
      %p
        %b By Previous Events
        - PreviousParticipant.top_events.each do |event|
          %span.btn.btn-default.btn-sm
            =link_to event.name, "/backend/suggestions/previous_participants?filter=#{event.name}"
.col-lg-12
  .card
    .header
    .content
      = form_for '#', :url => {:action => :convert_pp_to_invitation} do
        %p
          %button.btn.btn-success.btn-fill{'type' => 'submit'} Create Invitation
        = render 'grid_for_previous_participants'
