.container
  .row
    %h1
      You are invited to join
      =Settings.marathon.name
    .col-xs-12.col-lg-12
      =image_tag Settings.og.image_url
      %h2 About this event
      %p
        = Settings.og.description
- content_for :description do
  =Settings.og.description
