.container
  .row
    %h1
      Step 1: Accept Terms
    .col-xs-12.col-md-6
      %h2 How this works
      %ol.feature-list.terms
        %li You are invited to join us. Please complete the next steps to finish your registration.
        %li
          After that you will directly see payment info. Please pay until
          =eval("DateTime.now #{Settings.payment.deadline}").stamp('Monday, April 16th 2016')
          or let us know if you cannot make that date.
        %li Once we receive the payment we will send you a final confirmation email.
        %li This website will always have the most important details, as well as the guest list.
        %li
          %span.label.label-success="Suggest a friend"
          Once you have finished your registration, you may suggest up to three friends. We will take these friends into
          consideration for the next round of invitations!
          <br/>If you are registering with your romantic partner, please use this feature for that as well!
      %form
        %input.btn.btn-success.btn-fill.accept.terms{id: 'accept_terms_button', onclick: "window.location.href='/invitation/convert/#{@invitation.id}'", value: "I accept these terms", type: "button"}/
    .col-xs-12.col-md-6
      %h2
        The Terms
      %ol
        - if Settings.marathon.registration.refund
          %li
            No refunds after
            =Settings.marathon.registration.norefund_after.stamp("March 31st 2016")+"."
        %li
          Every ticket is a personal ticket and it is non-transferable.
        %li
          If you want to be notified of future events,
          please agree to the "email storage" option on the registration page.
