.section
  #terms-section
    .container
      .title-section.triggerAnimation.animated{"data-animate" => "bounceIn"}
        %h2
          You have declined your invitation to #{Settings.marathon.name}
      .container
        .col-md-6
          .work-post
            %h1 That's too bad.
            %p However, Thank you for letting us know. (= good karma!)
            %p We hope to see you somewhere else soon,
            %p Abrazos,
            %p J&D
