.container
  .row
    %h1
      We are sorry, but your invitation link has expired
    .col-xs-12.col-md-6
      %h2 How this works
      %ol
        %li
          Why? In order to go through with our invitation-only process,
          we cannot wait too long before we invite the next one on the list
        %li
          Don't forget: everyone with a valid invitation link automatically has a place in the event.
      %h3
        You still want to join?
      %h3
        Please send us an email, and let us know.
      %ol
        %li
          If we still have free places, we will put you back on the list
        %li
          You will then receive another invitation from us, but please be patient.
      %p
        Here is the email address:
        = mail_to Settings.marathon.email
