.container
  .row
    .col-xs-12.col-md-3
      =image_tag Settings.marathon.logo150, style: 'width: 150px;'
    .col-xs-12.col-md-9
      %h1
        Invitation to #{Settings.marathon.name}
      %h2
        For #{@invitation.first_name}
  .row
    .col-xs-12.col-md-3
    .col-xs-12.col-md-9
      %p
        Dear friend,
      %p
        What are you doing this #{Settings.marathon.event.start.stamp("August")}?
        We hope nothing, yet.
      %p
        Because.... we would love to invite you to join us at
        = Settings.marathon.name
        \.
      %p
        %strong When?
        = Settings.marathon.event.start.stamp("Monday, August 1st")
        to #{Settings.marathon.event.end.stamp("Friday, November 5th 2014")}
        %br/
        %strong Where?
        = Settings.venue.address
      %p
        You can find all the details at #{link_to "our web page!", Settings.marathon.website, target: "_blank"}
      %p
        We would be happy to party with you.
      %p
        Please RSVP using the red/green button below, and complete your registration data.
      %p
        In case you were wondering: this is a real invitation - if you accept, you are almost IN. Just follow the next steps!
      %form
        %input#decline_button.invitation.decline.btn.btn-danger.btn-fill{:onclick => "window.location.href='/rsvp/decline'", :type => "button", :value => "No, thank you"}/
        %input#accept_button.invitation.accept.btn.btn-success.btn-fill{:onclick => "window.location.href='/rsvp/accept'", :type => "button", :value => "Yes, great idea!"}/
