<div class="page-header">
    <h1>Invitation to <%= Settings.marathon.name -%></h1>
</div>
<p>Dear <%= @user.name %>,</p>

<p>We would like to invite you to <%= Settings.marathon.name -%>, happening from <%= Date.parse(Settings.marathon.event.start).stamp("Monday, August 1st") %> to <%= Date.parse(Settings.marathon.event.end).stamp("Friday, November 5th 2014") %></p>

<% if !(@user.invitation.message.nil? or (@user.invitation.message == "")) %>
<p>"<%= @user.invitation.message %>"</p>
<% end  %>

<p>Please respond by following the personalized link below<br/>
    valid <strong>only</strong> until <%= (DateTime.now + 10.days).stamp("Monday, August 1st 2013") %> to accept or decline:</p>

<p><%= link_to 'Personal Invitation Link', invitation_acceptance_url(@user) %> (Please also respond, even if you cannot join us! This way we can give your spot to the next in line.)</p>

<p>More info about <%= Settings.marathon.name -%> is available here: <%= link_to Settings.marathon.website, Settings.marathon.website %></p>

<p>We hope to hear from you soon,</p>
<p>Your <%= Settings.marathon.name -%> - Team (Daniel de Kay &amp; Juliana Thutlwa + friends)</p>

<hr/>

<%= render :partial => 'layouts/here_are_the_facts' %>


<p>Will you join us? Please click here and complete your registration within the next 10 days.</p>
<p><%= link_to 'Personal Invitation Link', invitation_acceptance_url(@user) %></p>
</td>
