.container
  = simple_form_for contract, html: { class: 'form-horizontal' } do |f|
    - if notification = f.error_notification
      .alert.alert-error.fade.in
        %a.close{"data-dismiss" => "alert", :href => "#"} ×
        = notification
    .row
      .col-md-4.col-xs-12
        = f.input :first_name
        = f.input :last_name
        = f.input :email, placeholder: 'user@domain.com'
      .col-md-4.col-xs-12
        = f.input :facebook, placeholder: 'userid', hint: 'Please include the facebook ID of your friend, if possible'
        = f.input :gender, as: :radio_buttons, collection: gender_options
        = f.input :role, as: :radio_buttons, collection: roles
        = f.input :city
        = f.input :country
      .form-actions
        = f.button :submit,  :value => "Submit"
