%p
  You are almost IN. Please pay until
  %strong
    =eval("DateTime.now #{Settings.payment.deadline}").stamp('Monday, April 16th 2016')
  or let us know if you cannot make that deadline.
%h4 Please pay:
- if Settings.payment.bank.enabled
  %h4
    #{Settings.payment.price} &euro; incl. German VAT (19%)
  %p
    %strong.label.label-success
      Bank Transfer
  %table.table.table-condensed.table-striped
    %tr
      %td IBAN:
      %td= Settings.payment.bank.IBAN
    %tr
      %td BIC:
      %td= Settings.payment.bank.BIC
    %tr
      %td Purpose:
      %td
        = Settings.marathon.name
        + #{name}
    %tr
      %td name of the account:
      %td= Settings.payment.bank.account
    %tr
      %td name of bank:
      %td= Settings.payment.bank.bank
- if Settings.payment.paypal.enabled
  %h4
    #{Settings.payment.paypal.price} &euro; incl. German VAT (19%)
  %p
    by
    %strong Paypal/Credit Card
    (paypal charges us extra fees for the transfer)
  %p
    Please send the money to
    %em= Settings.payment.paypal.email
    %div.well
      %form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post", :target => "_top"}
        %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}/
        %input{:name => "hosted_button_id", :type => "hidden", :value => "2TJQVWDHX2RLJ"}/
        %table
          %tr
            %td
              %input{:name => "on0", :type => "hidden", :value => "Options"}>/
              Options
          %tr
            %td
              %select{:name => "os0"}
                %option{:value => "Solo"} Solo &euro; #{Settings.payment.paypal.price}
                %option{:value => "Couple"} Couple &euro; #{Settings.payment.paypal.price*2-5}
          %tr
            %td
              %input{:name => "on1", :type => "hidden", :value => "Name(s)"}>/
              Name(s)
          %tr
            %td
              %input{:maxlength => "200", :name => "os1", :type => "text"}/
        %input{:name => "currency_code", :type => "hidden", :value => "EUR"}/
        %input{:alt => "Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.", :border => "0", :name => "submit", :src => "https://www.paypalobjects.com/de_DE/DE/i/btn/btn_buynowCC_LG.gif", :type => "image", :value => 'Pay with Paypal'}/
        %img{:alt => "", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/de_DE/i/scr/pixel.gif", :width => "1"}/
- if Settings.payment.cash.enabled
  %h4
    #{Settings.payment.cash.price} &euro; incl. German VAT (19%)
  %p
    in cash at the door. Please try to bring the exact amount of cash.
