%div
  %p
    You have a free ticket! Yay! You are
    %span{class: "label label-success #{state}"}
      IN
  %p
    We will see you on
    = Settings.marathon.event.start.stamp("Monday, 2. Nov 2016 at 16:00h")
  %p
    = Settings.venue.address
