.card
  .header
    = content_for(:heading)? yield(:heading) : "Invitation"
  .content
    = simple_form_for(@form) do |f|
      = f.error_notification
      - if (defined? @invitation.inviter and !@invitation.inviter.nil?)
        %h4
          invited by User ##{@invitation.inviter.id.to_s + "/" + @invitation.inviter.email}
      .form-actions
        = f.button :submit
      .form-inputs
        .row
          .col-lg-3
            = f.input :first_name
          .col-lg-3
            = f.input :last_name
          .col-lg-3
            = f.fields_for :user do |u|
              = u.input :email
        .row
          .col-lg-3
            = f.input :facebook, placeholder: 'userid'
        .row
          .col-lg-2
            = f.input :gender, as: :radio_buttons, collection: gender_options
          .col-lg-2
            = f.input :role, as: :radio_buttons, collection: roles
        .row
          .col-lg-3
            = f.input :city
          .col-lg-3
            = f.input :country
        .row
          .col-lg-3
            = f.input :message
