.row
  .span4.well
    %h3 She
    = simple_form_for @invitation1, :url => url_for(:action => 'create_couple', :controller => 'invitations'), :method => 'post' do |f|
      = f.error_notification
      .form-inputs
        = f.input :first_name
        = f.input :last_name
        = f.input :email, placeholder: 'user@domain.com'
        = f.input :role, as: :radio_buttons, collection: roles, input_html: { value: '1' }
        = f.input :city
        = f.input :country
        = f.input :facebook, placeholder: 'userid', hint: 'note: we can pull a profile picture from fb, if we like'
  .span4.well
    %h3 He
    = simple_fields_for (:invitation2) do |fa|
      .form-inputs
        = fa.input :first_name
        = fa.input :last_name
        = fa.input :email, placeholder: 'user@domain.com'
        = fa.input :role, as: :radio_buttons, collection: roles
        = fa.input :city
        = fa.input :country
        = fa.input :facebook, placeholder: 'userid', hint: 'note: we can pull a profile picture from fb, if we like', required: false
%div
  = f.input :message, as: :text, placeholder: 'Do you want to add a personalized message?'
.form-actions.span9
  = f.button :submit
