%h1 List of current invitations
%table.table.table-striped.table-condensed
  %tr
    %th
    %th ID
    %th Name
    %th Email
    %th Role
    %th Added
    %th ACTIONS
  - @invitations.each do |invitation|
    - picture_url = invitation.facebook.blank? ? '' : 'http://graph.facebook.com/' + invitation.facebook + '/picture'
    - invited_user = invitation.user_id.nil? ? nil : invitation.user
    %tr
      %td
        %img{:src => picture_url}/
      %td= invited_user.nil? ? "" : invited_user.id
      %td= invitation.name
      %td= invitation.email
      %td= invitation.role
      %td= invitation.created_at.stamp("2013-05-20")
      %td= invitation.user_id.nil? ? "" : invitation.user.invitation_token
      %td= link_to 'Show', invitation
      %td= link_to 'Edit', edit_invitation_path(invitation)
      %td= link_to 'Destroy', invitation, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Invitation', new_invitation_path
