.col-lg-12
  .card
    .header
      Invitation
      .btn.btn-success
        #{link_to 'Edit', edit_invitation_path(@invitation)}
      .btn.btn-info
        #{link_to 'Back', '/backend/invitations/processing'}
      .btn.btn-error
        =link_to "<span class='glyphicon glyphicon-retweet'></span>".html_safe, "/invitations/#{@invitation.id}/reset_invitation_key"
    .content
      %table.table
        %tr
          %td
            %b
              Name
          %td
            = @invitation.name
        %tr
          %td
            %b
              Email
          %td
            = @invitation.email
        %tr
          %td
            %b
              Dancer
          %td
            = @invitation.role.titlecase
            ,
            = @invitation.gender
        %tr
          %td
            %b
              Address
          %td
            = @invitation.address
        %tr
          %td
            %b
              Facebook
          %td
            = @invitation.facebook
        %tr
          %td
            %b
              Message
          %td
            = @invitation.message
        %tr
          %td
            %b
              Emails
          %td
            %table.table
              %thead
                %th Email
                %th Sent
                %th Campaign Monitor Message ID
                %th Status
                %th Opens
                %th Clicks
              - @invitation.email_logs.sort_by{ |x| -x.id}.each do |log|
                %tr
                  %td=log.message
                  %td=log.created_at
                  %td=log.message_ID
                  %td=log.status
                  - email_stats = CreateSend::Transactional::Timeline.new(@auth).details(log.message_ID)
                  %td=email_stats.TotalOpens
                  %td=email_stats.TotalClicks

      .col-lg-6
        %h4 User
        = (ap @invitation.user, :html => true, :plain => true).html_safe
      .col-lg-6
        %h4 Invitation
        = (ap @invitation, :html => true, :plain => true).html_safe
