%div{class: 'explanation add_suggestion'}
  %p
    This is the place where you can suggest people to be invited.
  %p
    Please note, you can only suggest up to 3 people (2 leaders, 1 follower), so chose wisely :)
  - if @suggestions.count > 0
    %p
      You already suggested #{@suggestions.count} people.
      %table.table.table-condensed.table-striped
        %thead
          %th #
          %th Name
          %th Email
          %th Role
          %th Status
        - @suggestions.each do |s|
          %tr
            - i ||= 1
            %td= "#{i}."
            %td= s.name rescue "error"
            %td= s.email
            %td= ApplicationDecorator.format_role s.role
            %td= status_of_registration_with_email(s.email)
  - else
    %p
      You have not suggested anyone yet.
  %p
    Since leaders are always in short supply, we will process your suggestions in this order:
    %span.label.label-info
      Leader
    %span.label.label-warning
      Follower
    %span.label.label-info
      Leader
