%div{class: 'explanation add_suggestion_info'}
  %p
    This is the place where you can suggest people to be invited, once you are 'IN'
    Please note, you can only suggest three people, so chose wisely :)
