:javascript
  L.mapbox.accessToken = 'pk.eyJ1IjoiZGFuaWVsayIsImEiOiJjaW80b3M1dG4wMDNkdmtrcHN0cHBzNHgwIn0.jsXVIuBfGFwnxD4NrOPLHw';
  var map = L.mapbox.map('map', 'mapbox.streets').setView([#{Settings.venue.gps.lat}, #{Settings.venue.gps.lon}], 4);
  #{@markers}
