%li
  %a{href: Settings.marathon.website}
    =Settings.marathon.name
%li= link_to 'Logout', destroy_user_session_path, :method=>'delete'
%li{class: 'home'}
  %a{href: portal_index_path }
    Portal
- if current_user.is_guest?
  %li{class: 'guestlist'}
    %a{href: portal_guestlist_path }
      Guestlist
- if Settings.features.suggestions.enabled and (current_user.registration.suggestions.count >0)
  %li{class:  'suggestions' }
    %a{href: portal_suggest_path}
      #{current_user.registration.suggestions.count} Suggestions
