:javascript
  L.mapbox.accessToken =
    'pk.eyJ1IjoiZGFuaWVsayIsImEiOiJjaW80b3M1dG4wMDNkdmtrcHN0cHBzNHgwIn0.jsXVIuBfGFwnxD4NrOPLHw';
  var geocoder = L.mapbox.geocoder('mapbox.places');
  var map = L.mapbox.map('map', 'mapbox.streets').on('ready', function() {
                  new L.Control.MiniMap(L.mapbox.tileLayer('mapbox.streets'))
      .addTo(map);
      });
  geocoder.query('#{Settings.venue.name}', showMap);

  function showMap(err, data) {
      // The geocoder can return an area, like a city, or a
      // point, like an address. Here we handle both cases,
      // by fitting the map bounds to an area or zooming to a point.
      if (data.lbounds) {
          map.fitBounds(data.lbounds);
      } else if (data.latlng) {
          map.setView([data.latlng[0], data.latlng[1]], 14);
      }
  }

  L.marker([49.407498, 8.1895652], {
        icon: L.mapbox.marker.icon({
            'marker-size': 'large',
            'marker-color': '#fa0'
        })
    }).addTo(map);
