- content_for :title do
  = Settings.marathon.name + " - Guest List"
.container
  .row
    %h1 Confirmed Guests
    %p
      Geolocation is jittered to protect privacy of guests.
      #{MapWorker.print_no_geocode} marks guests without a pin on the map
    %div{:style => "width: 100%;"}
      #map{:style => "width: 100%; height: 600px;"}
    - %w(followers leaders both).each do |role|
      .col-xs-12.col-md-6.col-lg-3
        %h3=role.titlecase
        %table.table.table-striped
          %th
          %th Name
          %th City
          - collection = eval("@registrations.#{role}")
          - collection.sort_alphabetical_by { |e| e[:first_name].capitalize }.each do |reg|
            %tr
              %td= ZodiacDecorator.format_zodiac_sign_for_inscription reg
              %td= reg.first_name.titleize
              %td
                = reg.city.titleize
                = reg.geocoded? ? '' : MapWorker.print_no_geocode
= render :partial => 'guestlist_map_script'
