- content_for :title do
  = Settings.marathon.name + " - Guest Portal for #{current_user.inscription.name}"
.container
  .row
    .col-lg-12
      %h1
        Hallo #{@reg.first_name.titleize}, good to see you again!
      - if Settings.marathon.registration.refund
        %p
          %span.label.label-warning='Reminder'
          While cancellations are possible at any time,
          %b
            refunds are only possible
          before
          = (Settings.marathon.registration.norefund_after).stamp('March 3rd 2015') + "."
      - else
        %p
          %span.label.label-warning='Reminder'
          While cancellations are possible at any time,
          %b
            there are no refunds! If you need to cancel, please contact us in time,
            and we might be able to work something out!
      %div.card{:style => "width: 100%;"}
        #map{:style => "width: 100%; height: 200px;"}
        = render partial: 'index_map_script'

  .row
    - if Settings.marathon.event.start.future?
      .col-xs-12.col-lg-6
        .card
          .header
            %h3
              Your registration status
          .content
            %div{style: 'display: inline-block;'}
              = concept('registration/status', @reg)
      - if Settings.features.suggestions.enabled
        - if @reg.is_guest? or @reg.accepted?
          .col-xs-12.col-lg-6
            .card
              .header
                %h3
                  Suggest friends
                  %a{href: portal_suggest_path, class: 'btn btn-success add_suggestion'} Click here
              .content
                = render :partial => 'explanation_suggestions'
        - else
          .col-xs-12.col-lg-6
            .card
              .header
                %h3
                  Suggest friends
              .content
                = render :partial => 'expalantion_suggestion_short'
        .col-xs-12.col-lg-6
          .card
            .header
              %h3
                Your data
            .content
              %div{style: 'display: inline-block;'}
                = concept('registration/personal_data', @reg)
              %div
                %h4
                  Please check your dietary options
                = render 'inscriptions/form_dietary'
          .card
            .header
              %h3
                Your partner's data
            .content
              %div{style: 'display: inline-block;'}
                = concept('registration/partner', @reg)
