- content_for :title do
  = Settings.marathon.name + " - Guest Portal Suggestions"
.container
  .row
    .col-lg-12
      %h2 Your Suggestions
      %h3 Please suggest up to #{Settings.features.suggestions.number} friends for a merry party!
      %p You may suggest up to two leaders and one follower.
      %p
        We will maintain a balanced and diverse guestlist, and we will take your suggestions into account.
        However, we cannot and will not guarantee that we can invite everyone who was suggested!
      - if @reg
        %p
          You have #{@remaining_suggestions} suggestions left.
          - if @remaining_suggestions > 0
            = link_to 'Suggest Friend', new_suggested_participant_path , :class => "btn btn-success"
            %br/
      %table.table
        %tr
          %th
          %th Name
          %th Email
          %th Role
          %th Added
          %th Your Comment
          %th Status
          %th ACTIONS
          - i ||= 1
        - @suggestions.each do |suggestion|
          %tr
            %td= "#{i}."
            %td= suggestion.name
            %td= suggestion.email
            %td= ApplicationDecorator.format_role suggestion.role
            %td
              = time_ago_in_words suggestion.created_at
              ago
            %td= suggestion.message
            %td= status_of_registration_with_email suggestion.email
            %td= link_to 'Edit', edit_suggested_participant_path(suggestion)
            - i += 1
