<div class="table">
    <h4><a class="icon" href="#"><i class="fa fa-credit-card"></i></a> <span>By PayPal</span></h4>

    <h4>&euro; <span><%= Settings.payment.paypal.price -%></span></h4>

    <p>Please send the money to <em>daniel@kaesmayr.net</em>:
    </p>

    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_xclick"/>
        <input type="hidden" name="business"
               value="<%= ENV['MARATHON_PAYMENT_PAYPAL'].dup %>"/>
        <input type="hidden" name="item_name"
               value="<%= Settings.marathon.name.dup %>"/>
        <input type="hidden" name="amount" value="<%= Settings.payment.paypal.price.dup %>"/>
        <input type="hidden" name="currency_code" value="EUR"/>
        <input type="submit" value="pay with PayPal"/>
    </form>

</div>

