%table.table
  %tr
    %td
      %b Status
    %td{class: ".#{model.state} .#{model.processing_list}"}
      = model.state
    %td
      %b Name
    %td= model.name
  %tr
    %td
      %b Address
    %td= address
  %tr
    %td
      %b Phone
    %td= telephone
  %tr
    %td
      %b Email
    %td= email
  %tr
    %td
      %b Dietary
    %td
      = dietary_incompatibility.map(& :to_s).to_sentence rescue ''
      = dietary_class.titlecase rescue ''
  %tr
    %td
      %b Partner
    %td
      = model.partner.present? ? "Your partner is: #{partner.name}" : "Your partner has not signed up yet. Is #{partner_email} correct?"
