= simple_form_for(@reg, html: { class: 'form-horizontal' }, :url => {:action => :update_dietary}) do |f|
  .col-lg-6
    = f.input :dietary_class_list, :as => :radio_buttons, :collection => dietary_options
  .col-lg-6
    = f.input :dietary_incompatibility_list, :as => :check_boxes, :collection => dietary_options_incompatibility,
              :label => 'But: '
  .form-actions
    = f.button :submit, :value => 'Change'
