= simple_form_for @form,
  wrapper_mappings: { check_boxes: :vertical_radio_and_checkboxes,
  radio_buttons: :vertical_radio_and_checkboxes, boolean: :vertical_boolean } do |f|
  - if (notification = f.error_notification)
    .alert.alert-error.fade.in
      %a.close{'data-dismiss' => 'alert', href: '#'} ×
      = notification
  .row
    .col-xs-12.col-sm-6.col-md-6.col-lg-3
      = f.input :first_name, :autofocus => true
      = f.input :last_name
      = f.fields_for :user do |u|
        = u.input :email, placeholder: 'you@email.com'
      = f.input :street, :hint => 'please enter a valid address!'
      = f.input :city
      = f.input :zip, :label => 'Postcode/ZIP'
      = f.input :country
      = f.input :birthday, :as => :string,
                           :hint => "please use your real birthday (YYYY-MM-DD), but year = 1900 if you don't want to tell your age :)"

    .col-xs-12.col-sm-6.col-md-6.col-lg-3
      %p
        .label.label-info
          Hint
        %br/
        If clicking the boxes does not work in your browser, click the text next to it!
      = f.input :gender, :collection => gender_options, :as  => :radio_buttons,  :label => 'Gender'
      = f.input :role, :collection => roles, :as  => :radio_buttons, :label => 'Dancing Role'
      %p
        .label.label-info
          Explanation
        %br/
        "Both" means you actively dance both roles in equal duration!
      %hr
      .col-lg-6
        = f.input :dietary_class_list, :as => :radio_buttons, :collection => dietary_options
      .col-lg-6
        = f.input :dietary_incompatibility_list, :as => :check_boxes, :collection => dietary_options_incompatibility,
                  :hint => "Please check all that apply", :label => 'But: '
    .col-xs-12.col-sm-6.col-md-6.col-lg-3
      %p
        You must set a password. You will need to re-login to get access to the guest portal, where you can
        find the hotel list, and suggest three friends to be invited, too
      = f.fields_for :user do |u|
        = u.input :password, :label => 'New password', :required => true
        = u.input :password_confirmation, :label => 'Confirm your new password', :required => true
      = f.input :message, :as => :text, :label => 'Do you want to leave us a message?', required: false, input_html: { rows: '5' }
    .col-xs-12.col-sm-6.col-md-6.col-lg-3
      %p
        Please let us know if your
        %b
          partner (as in romantic parter, lover, spouse)
        will join you? Please fill in the details below.
      %p
        To suggest further participants, please use the suggestion feature in the portal (after submission).
      = f.input :partner_first_name, required: false
      = f.input :partner_last_name, required: false
      = f.input :partner_email, placeholder: 'partner@email.com', required: false
      = f.input :facebook, placeholder: 'http://www.facebook.com/userid', label: 'Who are you on Facebook?', required: false,
        hint: 'please paste the URL of your <a href="http://www.facebook.com/me">facebook profile</a> page here'.html_safe
    .col-xs-12
      = f.input :permission_to_store_data, :as => :boolean, :label => 'Please save my personal data for invitations to future events.', :default => :true, input_html: { value: '1' }
      .form-actions.right
        = f.button :submit, :value => 'Submit Registration',  input_html: { class: 'btn btn-success btn-fill' }
