.jumbotron
  .container
    = render 'layouts/messages'
    %h1 Registration Form
    %strong Please note:
    %ol
      %li We already have pre-filled some of your data. Please complete the rest, and submit the registration.
      %li This registration form is for you only. If you want to bring a friend, please use the suggestion feature in the portal after submission.
      %li If you want to bring your romatic partner/lover/spouse, you can note them in the form, or use the suggestion feature.
.container
  = render 'inscriptions/form'
