.col-lg-12
  .card
    .header
      #{link_to 'Back', '/backend/invitations/processing', :class => "btn btn-xs btn-success"}
      %h3
        = @i.type
    .content
      %p
        = @i.name
        %br/
        = @i.email
      %p
        %em Dancer
        = @i.role.titlecase
        ,
        = @i.gender
      %p
        %em Address
        = @i.address
      %p
        %em Facebook
        = @i.facebook
      %p
        %em Message
        = @i.message
    .footer
      .col-lg-6
        = (ap @i.user, :html => true, :plain => true).html_safe
      .col-lg-6
        = (ap @i, :html => true, :plain => true).html_safe
