%h1 500
%h2 Internal Server Error
%p
 Please send an email to
 = mail_to "daniel@tangomarathons.com"
%p
 with a description of what you did when this happened! Thank you
%p
 Please use
 = link_to "this link", root_path
 to get back to the web page.
