%div.partner_not_registered
  =model.partner_name rescue ""
  ='/'
  =model.partner_email rescue ""
  has not registered yet.
  - if p = User.find_by_email(model.partner_email)
    - if p.invitation and p.invitation.sent?
      %br
        An invitation has been sent already!
