<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Payment details for <%= Settings.marathon.name -%></title>
</head>
<body>
<p>Dear <%= @reg.name %>,</p>

<p>Great news: we can offer you a place in <%= Settings.marathon.name -%>, and you are almost "IN".
<ol>
    <li>The party contribution is <strong><%= Settings.payment.price.dup%> &euro; by bank transfer</strong>, or <strong><%=
        Settings.payment.paypal.price.dup %> &euro; by paypal</strong> (extra fees by paypal!)
    </li>
    <li>If we receive your contribution <em>in time</em> you will be IN.<br/>
        <% if @reg.pay_date.past? %>
        <b>IN TIME</b> means by "<%= (@reg.extend_pay_date).stamp("Monday, August 5th 2013") %>".
        <br/>Please send us an email when you do the transfer.
        <% else %>
        <b>IN TIME</b> means: contribution must be received by "<%= (@reg.pay_date).stamp("Monday, August 5th 2013") %>"
        <% end %>
    </li>
</ol>
</p>

<h3>Please pay:</h3>
<h4>either <%= Settings.payment.price.dup%> &euro;</h4>

<p>by <strong>Bank Transfer</strong>:</p>
<table class="table table-compact table-striped">
    <tr>
        <td>IBAN:</td>
        <td>DE85701204008283834003</td>
    </tr>
    <tr>
        <td>BIC:</td>
        <td>DABBDEMM (or DABBDEMMXXX if that does not work)</td>
    </tr>
    <tr>
        <td>Purpose:</td>
        <td><%= Settings.marathon.name.dup%> + <%= @user.registration.name %></td>
    </tr>
    <tr>
        <td>BLZ:</td>
        <td>70120400</td>
    </tr>
    <tr>
        <td>account number:</td>
        <td>8283834003</td>
    </tr>
    <tr>
        <td>name of the account:</td>
        <td>Daniel K&auml;smayr</td>
    </tr>
    <tr>
        <td>name of bank:</td>
        <td>DAB Bank</td>
    </tr>
</table>

<h4>or <%= Settings.payment.paypal.price.dup %> &euro;</h4>

<p>by <strong>Paypal/Credit Card</strong> (paypal charges us extra fees for the transfer)</p>

<p>Please send the money to <em>daniel@kaesmayr.net</em></p>

</div>
</p>

<p>Hope to see you soon ;-)</p>

<p>Your <%= Settings.marathon.name -%> - Team (Daniel de Kay &amp; Juliana Thutlwa + friends)</p>
<hr/>
<%= cms_snippet_content('the_facts') -%>
</body>
</html>
