.container
  .row
    .col-md-4.col-sm-6.col-md-offset-4.col-sm-offset-3
      .card.card-hidden
        .header.text-center Log in
        .content
          = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .form-inputs
              = f.input :email, required: false, autofocus: true
              = f.input :password, required: false
              = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
            .form-actions
            %p
              .inline-hints
                if you did not set a password, try 'password1234'
            .footer.text-center
              = f.button :submit, 'Login', :class => 'btn btn-fill btn-success'
              %p
                = render 'devise/shared/links'
