<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>You are currently on the waiting list for <%= Settings.marathon.name -%></title>
</head>
<body>
<p>Dear <%= @reg.name %>,</p>

<p>We have received your application for <%= Settings.marathon.name -%>. Unfortunately there is a lot of registrations
    from many people, with diverse backgrounds and origins. In order to create a great experience for everyone we are
    trying to balance the guest list based on many criteria, but not based on time of registration.<br/>
    At the current moment we cannot offer you a place in the marathon, so we have moved you to the waiting list for now.
    We thought it would be only fair that you get this message. We will be filling the guest list in batches once per
    week, and it may very well be possible that you will be offered a spot in the next "run", but we cannot promise
    anything.
</p>

<p>We hope to have your understanding, and wish you a good time.</p>

<p>Your <%= Settings.marathon.name -%> - Team</p>
<hr/>
<%= cms_snippet_content('the_facts') -%>
</body>
</html>
