<p><strong>When?</strong> <%= DateTime.parse(Settings.marathon.event.start).stamp("April 4th") %> to <%= DateTime.parse(Settings.marathon.event.end).stamp("4th, 2014") %></p>
<p><strong>Where?</strong> <%= ENV['MARATHON_VENUE_NAME'] -%> <%= ENV['MARATHON_VENUE_ADDRESS'] -%></p>
<p><strong>How much?</strong> <%= Settings.payment.price -%> &euro; for 2 late breakfasts, 2 dinners, midnight snack (Sat.), sweet & salty snacks (&fruit), basic drinks (water, coffee, tea). Plus a tour of the sparkling wine factory, shuttle service, &dots;</p>
<p><strong>Where to sleep?</strong> There are some apartments in Wachenheim and Forst, as well as many hotels in Bad D&uuml;rkheim (3km, we provide a shuttle service). You will have access to a list of options after you confirm your participation.</p>
<p><strong>99% traditional tango music</strong>, the rest is dinner music and cortinas. :)</p>
<p><strong>DJs?</strong> <%= Dj.all.sort_by{|i| i.sort_order}.map(&:name).to_sentence -%></p>
<p><strong>Facebook?</strong> <a href="<%= ENV['MARATHON_FB_EVENT'] -%>">Event</a>, <a href="<%= ENV['MARATHON_FB_PAGE'] -%>">Page</a>, and a secret group for guests. Most info will be on <%= link_to "THIS webpage", Settings.marathon.website %>, though.</p>
