// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
body.active_admin {

  .status_tag { background: #6090DB; }

  .true, .booked, .yes, .registered {
    background: green !important;
  }
  .false, .no, .unregistered {
    background: #ff0000  !important;
  }
  .sent {
    background: purple;
  }
  .registered, .unregistered {
    color: white;
  }

  // STATES
  .signed_up {
    background: darkgray !important;
  }
  .submitted {
    background: lawngreen;
    color:  #000000;
  }
  .paid {
    background: darkgreen;
  }
  .cancelled {
    background: darkslateblue;
    color: #ffffff;
  }
  .free_ticket {
    background: darkorchid;
    color: #ffffff;
  }
  .refund, .pays_at_door {
    background: red;
  }

  // ROLES
  .follower, .foll {
    background: darkred;
  }
  .leader, .lead {
    background: darkblue;
  }

  // LISTS
  .blacklist {
    background: black;
  }
  .guestlist {
    background: green;
  }
  .wishlist {
    background: orange;
    color: #000000;
  }
  .nolist {
    background: yellow;
    color: #000000;
  }
  .accepted {
    background: lawngreen;
    color: #000000;
  }
  .waitinglist {
    background: deeppink;
    color: #f5f5f5;
  }
  .cancelledlist {
    background: darkslateblue;
  }

  // RESERVATIONS
  .requested {
    background: #ffff00;
    color: black;
  }
  .confirmed {
    background: orange;
  }
  .paid {
    background: green;
  }

  .label {
    background: lightyellow;
    padding: 2px;
  }

  .label-workshop {
    background: lightgreen;
    padding: 2px;
    font-size: 130%;
    font: monospace;
  }

  a.label-fb, a.label-g {
    padding: 2px;
    color: white;
    text-decoration: none;
  }
  a.label-fb {
    background: royalblue;
  }
  a.label-g {
    background: orange;
  }

  .small {
    font-size-adjust: -10%;
  }

}
