$color_black: rgb(0,0,0);
$color_grey:  rgb(204,204,204);
$color_pink:  rgb(255,0,255);


$color_highlight: $color_pink;

$highlightColor_grey: $color_grey;
$highlightColor_colorful: $color_highlight;
$black: #000000;
$mblack: #000000;
