@import "color_definitions";

/*
Colors
*/

//@each $text, $foreground, $background in (submitted, white, grey),
//                                            (partially_paid, white, orange),
//                                            (paid, white, green),
//                                            (accepted, white, blue),
//                                            (declined, red, black),
//                                            (waitinglist, black, grey),
//                                            (lastminute, white, pink),
//                                            (out, white, red),
//                                            (blacklist, white, black) {
//    .label-#{$text},
//    .badge-#{$text} {
//        background-color: #{$background} !important;
//        color: #{$foreground};
//    }
//}

.profile_picture_small {
  width: 50px;
}

.debug {
  background-color: pink !important;
  color: white;
}

.submitted,
.signed_up {
  background-color: gray !important;
  color: white;
}

.pays_at_door {
  background-color: orange !important;
  color: white;
}

.paid,
.free_ticket{
  background-color: green !important;
  color: white;
}

.accepted {
  background-color: lightgreen !important;
  color: darkslategrey;
}

.declined,
.cancelled,
.refund{
  background-color: red !important;
  color: white;
}

.waitinglist {
  background-color: gray !important;
  color: black;
}

.lastminute {
  background-color: pink !important;
  color: white;
}

.blacklist {
  background-color: black !important;
  color: white;
}

.true {
  color: green;
}
.false {
  color: red;
}

@media print {
  .no-print, .no-print * {
    display: none !important;
  }
  thead {
    display: table-header-group;
  }
}

.themed img {
  margin: 5px;
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.themes .table-headline {
  color: $highlightColor_colorful;
  font-size: 20px;
}

.zodiac {
  font-size: 20px;
  font-family: Times;
}

.debug * {
  color: orangered !important;
}

em {
  color: $highlightColor_colorful !important;
}

#map img {
  max-width: none;
}

#map label {
  width: auto;
  display: inline;
}

.label {
  margin: 1px;
  font-weight: normal;
  font-size: 0.7em;
}

.label-big {
  margin: 4px;
  padding: 8px;
  font-weight: normal;
  font-size: 1.7em;
}

.label-free_ticket, .label-pink, .label-pink a
.badge-pink {
  background-color: $highlightColor_colorful !important;
  color: white !important;
  &:hover {
    color: white !important;
  }
  &:active {
    color: white !important;
  }
  &:visited {
    color: white !important;
  }
}

.label-leader {
  @extend .label-big;
  background-color: deepskyblue !important;
  color: white !important;
}
.leader {
  color: deepskyblue !important;
}

.follower {
  color: deeppink !important;
}

.both {
  color: blueviolet !important;
}

.label-follower {
  @extend .label-big;
  background-color: deeppink !important;
  color: white !important;
}

.label-both {
  @extend .label-big;
  background-color: orangered !important;
  color: white !important;
}

.man, a .man {
  color: blue !important;
}

.woman, a .woman {
  color: red !important;
}

li.development_only a {
  color: grey !important;
  font-style: italic;
}

div.comment {
  margin-left: 40px;
  border-left: 1px;
  border-color: $highlightColor_colorful;
}

div.comment p.comment_head {
  margin-left: 40px;
  font-size: 80%;
  color: $mblack;
}

div.comment p.comment_text {
  margin-left: 40px;
  font-size: 120%;
}

table.small {
  font-size: 8pt;
}

.white, {
  a, a:link, a:hover, a:visited {
    text-decoration-color: white !important;
  }
  color: white !important;
}

.center {
  width: 100%;
  float: left;
  text-align: center;
  margin: 0 auto;
}

.label-free {
  background: green;
}

.label-booked {
  background: darkred;
}

.booked {
  background: darkred;
  color: white;
  padding-left: 3px;
  padding-right: 3px;
}

.admin_edit {
  a, a:link, a:hover, a:visited {
    background: red;
    text-decoration: none;
    text-decoration-color: white;
  }
}

table.table-wide {
  width: 100%;
}

input {
  width: 100% !important;
}


// boootstrap specifics for mdi
.mdi::before {
    font-size: 24px;
    line-height: 14px;
}
.btn .mdi::before {
    position: relative;
    top: 4px;
}
.btn-xs .mdi::before {
    font-size: 18px;
    top: 3px;
}
.btn-sm .mdi::before {
    font-size: 18px;
    top: 3px;
}
.dropdown-menu .mdi {
    width: 18px;
}
.dropdown-menu .mdi::before {
    position: relative;
    top: 4px;
    left: -8px;
}
.nav .mdi::before {
    position: relative;
    top: 4px;
}
.navbar .navbar-toggle .mdi::before {
    position: relative;
    top: 4px;
    color: #FFF;
}
.breadcrumb .mdi::before {
    position: relative;
    top: 4px;
}
.breadcrumb a:hover {
    text-decoration: none;
}
.breadcrumb a:hover span {
    text-decoration: underline;
}
.alert .mdi::before {
    position: relative;
    top: 4px;
    margin-right: 2px;
}
.input-group-addon .mdi::before {
    position: relative;
    top: 3px;
}
.navbar-brand .mdi::before {
    position: relative;
    top: 2px;
    margin-right: 2px;
}
.list-group-item .mdi::before {
    position: relative;
    top: 3px;
    left: -3px
}
