<div class="wrap">
    <% if current_user.present? %>
    <%= (current_user.has_role? :admin) ? link_to("edit in backend", "/cms-admin/sites/1/pages", :class =>
    "admin-edit") : "" %>
    <% end %>

    <div class="container">
        <div class="span9">
            <h1>Hotels</h1>
            <%= cms_snippet_content('hotels') -%>
        </div>
        <div class="span3">
            <h1>Address</h1>
            <%= ENV['MARATHON_VENUE_NAME'] -%>
            <%= ENV['MARATHON_VENUE_ADDRESS'] -%>
            <%= ENV['MARATHON_VENUE_GPS'] -%>
        </div>
    </div>
</div>

<% if current_user.present? %>
    <%= (current_user.has_role? :admin) ? link_to("edit in backend", "/cms-admin/sites/1/pages", :class =>
                                                                           "admin-edit") : "" %>
<% end %>

<div class="container">
  <section>
    <h2 class="title"><span>Special Features</span></h2>

    <p>Enim ultrices, elementum phasellus. Mauris sed nulla sed, egestas feugiat a dictum libero, nunc sapien tristique
      facilisis venenatis risus, suspendisse ac nec et. Nulla sed mauris, congue duis proin nonummy adipiscing vitae
      interdum. Augue eget ultrices tempor, dignissim et libero. Arcu quis, arcu et mauris molestie auctor aliquam, ut
      vitae, turpis ac rhoncus mi sagittis arcu, ut a nullam donec.</p>

    <div class="row">
      <div class="span3">
        <div class="profile">
          <img alt="" src="img/team1.jpg">
          <h4>John Doe</h4>

          <div class="profile_title">Business Analyst</div>
          <p>Praesent vestibulum molestie lacus. Aenean noy hendrerit mauris. Phasellus porta. Fusce suscipit varius
            mi.</p>
        </div>
      </div>
      <div class="span3">
        <div class="profile">
          <img alt="" src="img/team2.jpg">
          <h4>Mary Bourgeois</h4>

          <div class="profile_title">Manager</div>
          <p>Praesent vestibulum molestie lacus. Aenean noy hendrerit mauris. Phasellus porta. Fusce suscipit varius
            mi.</p>
        </div>
      </div>
      <div class="span3">
        <div class="profile">
          <img alt="" src="img/team3.jpg">
          <h4>Donald Johnson</h4>

          <div class="profile_title">Business Analyst</div>
          <p>Praesent vestibulum molestie lacus. Aenean noy hendrerit mauris. Phasellus porta. Fusce suscipit varius
            mi.</p>
        </div>
      </div>
      <div class="span3">
        <div class="profile">
          <img alt="" src="img/team4.jpg">
          <h4>Elizabeth Gooch</h4>

          <div class="profile_title">Manager</div>
          <p>Praesent vestibulum molestie lacus. Aenean noy hendrerit mauris. Phasellus porta. Fusce suscipit varius
            mi.</p>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="wrap">
    <% if current_user.present? %>
    <%= (current_user.has_role? :admin) ? link_to("edit in backend", "/cms-admin/sites/1/pages", :class =>
    "admin-edit") : "" %>
    <% end %>

    <div class="container">
        <div class="row">
            <div class="span9">
                <h1>Venue</h1>
                <%= cms_snippet_content('latest_news') -%>

                <div disabled="disabled" style="display: block;" class="jcarousel-prev jcarousel-prev-horizontal jcarousel-prev-disabled jcarousel-prev-disabled-horizontal"></div>
                <div style="display: block;" class="jcarousel-next jcarousel-next-horizontal"></div>
            </div>
        </div>

    </div>
    <div class="span3">
        <h2 class="title">Gallery</h2>

        <div class="flickrs">
            <div class="FlickrImages">
                <ul>
                    <%- 12.times do -%>
                    <li><a href="http://www.flickr.com/photos/36334875@N04/3606963264/" target="_blank" title="Flickr">
                        <img src="http://dummyimage.com/100.png/09f/fff"></a></li>
                    <%- end -%>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
