<%= grid(@tasks_grid, upper_pagination_panel: true) do |g|

  g.action_column

  g.column :attribute => 'id' do |invitation|
    result = invitation.id.to_s + " "
    result += link_to "<i class='fa fa-eye'></i>".html_safe, invitation
    result += ' '.html_safe
    result += link_to("<i class='fa fa-fw fa-edit'></i>".html_safe, edit_invitation_path(invitation))
    result.html_safe
  end


  g.column :name => 'Role', :attribute => 'role', :filter => false, html: { style: 'text-align: center' } do |invitation|
    format_role invitation.role
  end

  g.column :name => 'First Name', :attribute => 'first_name' do |invitation|
    invitation.first_name.titleize
  end

  g.column :name => 'Last Name', :attribute => 'last_name' do |invitation|
    invitation.last_name.titleize
  end

  g.column :name => 'Status', :attribute => 'type', :filter => false do |invitation|
    temp = ""
    temp += format_boolean !InvitationWorkflowHelper.invitation_expired?(invitation)
    temp += " "
    temp += format_invitation_state invitation.state
    temp += invitation.user.invitation_sent_at ? "<small> #{InvitationWorkflowHelper.invitation_expiry_date(invitation)}</small>".html_safe : "" rescue "error"
    temp.html_safe
  end

  g.column :attribute => 'message'

  g.column :name => 'Key', :attribute => 'invitation_token', assoc: :user, :filter => false do |invitation|
    "<abbr title='You can copy this link and send it to the invited person directly, e.g. facebook' class='initialism'>".html_safe + (invitation.user.invitation_token.nil? ? '' : (link_to 'i-link', InvitationWorkflowHelper.invitation_acceptance_url(invitation.user))).html_safe + '</abbr> '.html_safe rescue "error"
  end

end -%>
