<%= grid(@tasks_grid, upper_pagination_panel: true) do |g|

  g.action_column

  g.column :attribute => 'id' do |invitation|
    result = link_to invitation.id.to_s, invitation
    result += ' '.html_safe
    result += link_to("<i class='fa fa-fw fa-edit'></i>".html_safe, edit_invitation_path(invitation))
  end

  g.column :name => 'Updated', :attribute => 'updated_at' do |invitation|
    (time_ago_in_words(invitation.updated_at)).to_s + " ago"
  end

  g.column :name => '' do |invitation|
    result = (link_to "<span class='glyphicon glyphicon-retweet'></span>".html_safe, "/invitations/#{invitation.id}/reset_invitation_key").html_safe
  end

  g.column :name => 'About', :attribute => 'role', :filter => false do |invitation|
    result = " #{search_links_social(invitation.first_name, invitation.last_name).html_safe}".html_safe  rescue "error"
  end

  g.column :name => 'Role', :attribute => 'role', :filter => false, html: { style: 'text-align: center' } do |invitation|
    format_role invitation.role
  end

  g.column :name => 'First Name', :attribute => 'first_name' do |invitation|
    invitation.first_name.titleize
  end

  g.column :name => 'Last Name', :attribute => 'last_name' do |invitation|
    invitation.last_name.titleize
  end


  g.column :name => 'Created', :attribute => 'created_at' do |invitation|
    result = format_date invitation.created_at.stamp('Aug-20')
    result += " "
  end

  g.column :name => 'Status', :attribute => 'type', :filter => false do |invitation|
    temp = InvitationDecorator.print_status_tag_with_date(invitation) rescue "error"
    temp.html_safe
  end

  g.column :name => 'Email sent at', :attribute => 'invitation_sent_at', assoc: :user, :filter => false do |invitation|
    format_date invitation.user.invitation_sent_at.try(:stamp, ('Aug-20 23:50')) rescue "error"
  end

  g.column :name => 'Key', :attribute => 'invitation_token', assoc: :user, :filter => false do |invitation|
    "<abbr title='You can copy this link and send it to the invited person directly, e.g. facebook' class='initialism'>".html_safe + (invitation.user.invitation_token.nil? ? '' : (link_to 'i-link', InvitationWorkflowHelper.invitation_acceptance_url(invitation.user))).html_safe + '</abbr> '.html_safe rescue "error"
  end

end -%>
