%p
  %button.btn.btn-xs.btn-default
    %i.fa.fa-plus-circle.fa-fw
    = link_to 'New Invitation', new_invitation_path
  %button.btn.btn-xs.btn-default
    %i.fa.fa-plus.fa-fw
    %i.fa.fa-plus.fa-fw
    = link_to 'New Couple Invitation', invitations_new_couple_path
