<%= grid(@tasks_grid) do |g|

  g.column :attribute => 'id', assoc: :user, :filter => false do |invitation|
    profile_picture_tag invitation.user rescue ''
  end

  g.column :name => 'ID', :attribute => 'id', :filter => false

  g.column :name => 'Name', :attribute => 'first_name' do |invitation|
    invitation.name
  end

  g.column :name => 'E-Mail', :attribute => 'email' do |invitation|
    invitation.email
  end

  g.column :name => 'Role', :attribute => 'role', :filter => false do |invitation|
    invitation.role
  end

  g.column :name => 'key', :attribute => 'invitation_token', assoc: :user, :filter => false do |invitation|
    invitation.user.invitation_token rescue 'error'
  end


  g.column do |invitation|
    link_to "<i class='icon-zoom-in'></i>".html_safe, invitation
  end

  g.column do |invitation|
    link_to("<i class='icon-pencil'></i>".html_safe, edit_invitation_path(invitation))
  end

end -%>
