.col-lg-6
  .card
    .header
      %h1
        = "Open Invitations with Messages"
        %small
          =@where_clause
    .content

.col-lg-12
  .card
    = form_for '#', :url => {:action => :button_action} do |f|
      .header
        %p
          = f.button t(".send_invitation"), class: "btn btn-success btn-fill", name: "send_invitation"
          = f.button t(".decline"), class: "btn btn-danger btn-xs", name: "decline_invitation"
          = f.button t(".reset_keys"), class: "btn btn-warning btn-xs", name: "reset_keys"
          = f.button t(".delete"), class: "btn btn-danger btn-xs", name: "delete_invitation"
      = render 'grid_invitation_messages'



