.col-lg-6
  .card
    .header
      %h1
        = "Open Invitations"
        %small
          =@where_clause
    .content
      %p
        %b Filters
        - %w(all sent open not_sent declined expired).each do |text|
          %span.btn.btn-info.btn-sm
            = link_to text, "/backend/invitations/processing?filter=#{text}"
.col-lg-6
  .card
    .header
      %h3
        Invitation Statistics
        %small
          As soon as an invitation is accepted, it is listed under Registrations
    .content
      %table.table
        %thead
          %tr
            %th
              Role
            %th
              all
            %th
              sent
            %th
              open
            %th
              not_sent
            %th
              declined
            %th
              Registrations
          - %w(leaders followers both).each do |role|
            %tr
              %td
                %strong
                  =role.titleize
              %td
                #{eval("Invitation.#{role}.count")}
              %td
                #{eval("Invitation.#{role}.sent.count")}
              %td
                #{eval("Invitation.#{role}.open.count")}
              %td
                #{eval("Invitation.#{role}.not_sent.count")}
              %td
                #{eval("Invitation.#{role}.declined.count")}
              %td
                #{eval("Registration.#{role}.count")}

.col-lg-12
  .card
    = form_for '#', :url => {:action => :button_action} do |f|
      .header
        %p
          = f.button t(".send_invitation"), class: "btn btn-success btn-fill", name: "send_invitation"
          = f.button t(".decline"), class: "btn btn-danger btn-xs", name: "decline_invitation"
          = f.button t(".reset_keys"), class: "btn btn-warning btn-xs", name: "reset_keys"
          = f.button t(".expire"), class: "btn btn-danger btn-xs", name: "expire_invitation"
          = f.button t(".delete"), class: "btn btn-danger btn-xs", name: "delete_invitation"
      = render 'grid_invitation_processing'



