= simple_form_for @form do |f|
  - if notification = f.error_notification
    .alert.alert-error.fade.in
      %a.close{"data-dismiss" => "alert", :href => "#"} ×
      = notification
  .row
    .col-lg-4.col-xs-12
      = f.input :first_name
      = f.input :last_name
      = f.input :email, placeholder: 'user@domain.com'
      = f.input :facebook, placeholder: 'userid', hint: 'Please include the facebook ID of your friend, if possible'
    .col-lg-4.col-xs-12
      = f.input :gender, as: :radio_buttons, collection: gender_options,
                             :input_html => { :class => 'radio',
                                            'data-toggle' =>"radio"}
      = f.input :role, as: :radio_buttons, collection: roles
      = f.input :city
      = f.input :country,  :input_html => { :class => 'selectpicker2',
                                            'data-title' =>"Chose Country",
                                            'data-style' => "btn-default btn-block",
                                            'data-menu-style' => "dropdown-blue"}


    .col-lg-4.col-xs-12
      = f.input :message, hint: 'Please comment on your suggestion. Especially ff your friend is not facebook friends with us, please let us know a bit about her/his dance experience. Thank you!',
        :input_html => { :cols => 150, :rows => 3 }
    .col-lg-4.col-xs-12
      .form-actions
        = f.button :submit,  :value => "Suggest your friend", :class => 'btn btn-fill btn-success'
