- content_for :title do
  = Settings.marathon.name + " - Guest Portal - New Suggestion"
.container
  .row
    .col-md-12
      %h1 Yes, I know a friend who should be invited, too!
      %h3 This is how this works:
      %ol
        %li You fill in and submit the form below.
        %li
          If there is space, we will send your friend an invitation.
          %em A balanced guestlist has highest priority!
        %li You friend hopefully responds to the invitation, registers and pay as soon as possible.
        %li He or she may then also suggest up to three friends!
        %li
          %span.label.label-info Challenge
          Who will create the longest chain of suggestions?
      = render 'form'
