<h2 class="title">News for our guests</h2>
<!--We can do four news items.-->
<div class=" jcarousel-skin-tango">
    <div style="position: relative; display: block;" class="jcarousel-container jcarousel-container-horizontal">
        <div style="position: relative;" class="jcarousel-clip jcarousel-clip-horizontal">
            <ul style="overflow: hidden; position: relative; top: 0px; margin: 0px; padding: 0px; left: 0px; width: 1300px;"
                id="newscarousel" class="jcarousel-list jcarousel-list-horizontal">
                <li jcarouselindex="1" style="float: left; list-style: none outside none;"
                    class="jcarousel-item jcarousel-item-horizontal jcarousel-item-1 jcarousel-item-1-horizontal">
                    <div class="news_date">1 Dec<span>2014</span></div>
                    <div class="news_t">Website is online</div>
                    <div class="news">Posted by the <%= Settings.marathon.name %>-Team:</div>
                    <div class="news_info">We are happy to announce the third edition of <%= Settings.marathon.name %>.
                    </div>
                    <div class="clear"></div>
                </li>
                <li jcarouselindex="2" style="float: left; list-style: none outside none;"
                    class="jcarousel-item jcarousel-item-horizontal jcarousel-item-2 jcarousel-item-2-horizontal">
                    <div class="news_date">1 Dec<span>2014</span></div>
                    <div class="news_t">International Registrations are OPEN</div>
                    <div class="news">Posted by the <%= Settings.marathon.name %>-Team:</div>
                    <div class="news_info">Registration is now open for everyone who does not live in a GERMAN SPEAKING
                        country (Germany, Switzerland, Austria)
                    </div>
                    <div class="clear"></div>
                </li>
            </ul>
        </div>
    </div>
</div>
