<%= simple_form_for @registration, :html => { class: 'form-horizontal' } do |f| %>
    <div class="span8">

      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :email %>
      <%= f.input :gender,
                  :collection => gender_options,
                  :as         => :radio_buttons,
                  :label      => 'Gender' %>
      <%= f.input :role,
                  :collection => role_options,
                  :as         => :radio_buttons,
                  :label      => 'Dancing Role' %>
      <%= f.input :birthday, :as => :string, :hint => "please use your real birthday, but year = 1900 if you don't want to tell your age :)" %>

      <%= f.input :street, :hint => 'please enter a valid address!' %>
      <%= f.input :city %>
      <%= f.input :zip %>
      <%= f.input :country %>

      <%= f.input :facebook, placeholder: 'userid', hint: 'optional: with this we can pull your profile picture from fb' %>

      <hr/>

      <div class="form-actions">
        <%= f.button :submit, :class => 'btn-success', :value => 'Submit Registration' %>
      </div>
    </div>
<% end %>
