.card
  .header
    Edit Registration
  .content
    = simple_form_for(@reg, html: { class: 'form' },
                           :url => "/backend/registration/#{@reg.id}/update",
                           :method => :post) do |f|
      .form-actions
        = f.button :submit, :value => 'Submit Changes', class: 'btn btn-success btn-fill'

      - if (notification = f.error_notification)
        .alert.alert-error.fade.in
          %a.close{'data-dismiss' => 'alert', href: '#'} ×
          = notification
      .row
        .col-lg-3
          = f.input :first_name, :autofocus => true
        .col-lg-3
          = f.input :last_name
        .col-lg-6
          = f.input :facebook
      .row
        .col-lg-4
          = f.input :street
        .col-lg-2
          = f.input :zip, :label => 'Postcode/ZIP'
        .col-lg-3
          = f.input :city
        .col-lg-3
          = f.input :country
      .row
        .col-lg-4
          = f.input :birthday, :as => :string
      .row
        .col-lg-3
          = f.input :gender,                       |
            :collection         => gender_options, |
            :as                 => :radio_buttons, |
            :label              => 'Gender'
        .col-lg-3
          = f.input :role,                 |
            :collection => roles,          |
            :as         => :radio_buttons,
            :label      => 'Dancing Role'
        .col-lg-3
          = f.input :dietary_class_list, :as => :radio_buttons, :collection => dietary_options, :hint => "Please check all that apply"
        .col-lg-3
          = f.input :dietary_incompatibility_list, :as => :check_boxes, :collection => dietary_options_incompatibility, :hint => "Please check all that apply"
      .row
        .col-lg-4
          = f.input :partner_first_name
        .col-lg-4
          = f.input :partner_last_name
        .col-lg-4
          = f.input :partner_email
      %hr/
      .row
        .col-lg-12
          = f.input :message,                                   |
            :as         => :text,                               |
            :input_html => { :cols => 50, :rows => 5 },
