<%= grid(@tasks_grid) do |g|

  g.action_column

  g.column name: 'ID', attribute: 'id', filter: false do |registration|
    link_to registration.id.to_s.html_safe, "/backend/registration/#{registration.id}/show"
  end

  g.column name: 'Name', attribute: 'first_name'

  g.column name: 'Last name', attribute: 'last_name'

  g.column name: 'Email', attribute: 'email'

  g.column name: 'Status', attribute: 'state', filter: false do |registration|
    format_registration_state registration.state
  end

  g.column name: 'Please Pay' do |reg|
    count = EmailLog.where(message: :please_pay, email: reg.email).size
    sent = (count > 0 ? true : false)
    ApplicationDecorator.format_boolean(sent) + (sent ? "#{count.to_s}" : "")
  end

  g.column name: 'You are IN' do |reg|
    count = EmailLog.where(message: :you_are_in, email: reg.email).size
    sent = (count > 0 ? true : false)
    ApplicationDecorator.format_boolean(sent) + (sent ? " #{count.to_s}" : "")
  end



end -%>
