<%= grid(@tasks_grid) do |g|

  g.action_column

  g.column attribute: 'id', filter: false do |registration|
    # profile_picture_tag registration
  end

  g.column name: 'ID', attribute: 'id', filter: false do |registration|
    registration.id.to_s.html_safe
  end

  g.column name: 'Name', attribute: 'first_name'

  g.column name: 'Last name', attribute: 'last_name'

  g.column name: 'Email', attribute: 'email'

  g.column name: 'Partner' do |registration|
    result = registration.partner_name + " / " + registration.partner_email unless registration.partner_first_name.blank?
    result += "(registered)" if registration.partner
    result
  end

  g.column name: 'Geocode', attribute: 'id', custom_filter: :auto do |registration|
    registration.geocoded?
  end

  # g.column name: 'Zodiac', attribute: 'zodiac_sign_id', custom_filter: :auto do |registration|
  #   zodiac_image_tag(registration.zodiac_sign_id)
  # end

  g.column name: 'Status', attribute: 'state', filter: false do |registration|
    format_registration_state registration.state
  end

  g.column do |registration|
    link_to "<span class='glyphicon glyphicon-zoom-in'></span>".html_safe, "/registrations/admin_show/#{registration.id}"
  end

  g.column do |registration|
    link_to "<span class='glyphicon glyphicon-pencil'></span>".html_safe, "/registrations/admin_edit/#{registration.id}"
  end

  g.column do |registration|
    link_to("<span class='glyphicon glyphicon-trash'></span>".html_safe, registration_path(registration), :data => { confirm: 'Are you sure?' }, :method => :delete, :class => 'btn btn-xs')
  end

end -%>
