<%= grid(@tasks_grid, upper_pagination_panel: true) do |g|

  g.action_column

  g.column name: 'ID', attribute: 'id', filter: false do |registration|
    link_to registration.id.to_s.html_safe, "/backend/registration/#{registration.id}/show"
  end

  g.column name: 'Name', attribute: 'first_name'
  g.column name: 'Last name', attribute: 'last_name'

  g.column name: 'Partner' do |registration|
    result = ""
    if registration.partner
      result += format_boolean true
      result += " "
      result += registration.partner_name or registration.partner_email unless registration.partner_first_name.blank? rescue ""
    elsif !registration.partner_email.blank?
      result += format_boolean false
      result += " "
      result += registration.partner_email.to_s
    end

    result.html_safe
  end

  g.column name: 'Message', attribute: 'message'

end -%>
