<%= grid(@tasks_grid, upper_pagination_panel: true) do |g|

  g.action_column

  g.column name: 'ID', attribute: 'id', filter: false do |registration|
    link_to registration.id.to_s.html_safe, "/backend/registration/#{registration.id}/show"
  end

  g.column name: 'Name', attribute: 'first_name'
  g.column name: 'Last name', attribute: 'last_name'

  g.column name: 'Suggs', attribute: 'id' do |reg|
    reg.suggestions.size
  end

  g.column name: 'Partner' do |registration|
    ApplicationWorkflowDecorator.print_user_status_tag_by_workflow_state(registration.partner_email)
  end

  g.column name: 'Couple complete?' do |registration|
    ApplicationDecorator.format_boolean !(registration.partner.nil?)
  end


end -%>
