<%= grid(@tasks_grid, upper_pagination_panel: true) do |g|

  g.action_column

  g.column name: 'ID', attribute: 'id', filter: false do |registration|
    result =  link_to registration.id.to_s.html_safe, "/backend/registration/#{registration.id}/show"
    result += ' '.html_safe
    result += link_to("<i class='fa fa-fw fa-edit'></i>".html_safe, backend_path + "/registration/#{registration.id.to_s}/edit")
  end

  g.column :name => 'Updated', :attribute => 'updated_at' do |invitation|
    (time_ago_in_words(invitation.updated_at)).to_s + " ago"
  end

  g.column name: 'Name', attribute: 'first_name'
  g.column name: 'Last name', attribute: 'last_name'
  g.column name: 'Role', attribute: 'role'
  g.column name: 'gender', attribute: 'gender'

  g.column name: 'Status', attribute: 'state', filter: false do |registration|
    format_registration_state registration.state
  end

end -%>
