<%= grid(@tasks_grid, upper_pagination_panel: true) do |g|

  g.action_column

  g.column name: 'ID', attribute: 'id', filter: false do |registration|
    result =  link_to registration.id.to_s.html_safe, "/backend/registration/#{registration.id}/show"
    result += ' '.html_safe
    result += link_to("<i class='fa fa-fw fa-edit'></i>".html_safe, backend_path + "/registration/#{registration.id.to_s}/edit")
  end

  g.column :name => 'Updated', :attribute => 'updated_at' do |invitation|
    (time_ago_in_words(invitation.updated_at)).to_s + " ago"
  end

  g.column :name => 'About', :attribute => 'role', :filter => false do |invitation|
    result = " #{search_links_social(invitation.first_name, invitation.last_name).html_safe}".html_safe
  end

  g.column name: 'Role', attribute: 'role', filter: false do |registration|
    format_role registration.role
  end

  g.column name: 'Name', attribute: 'first_name'

  g.column name: 'Last name', attribute: 'last_name'
  g.column name: 'City', attribute: 'city'
  g.column name: 'Country', attribute: 'country'

  # g.column name: 'Email', attribute: 'email'

  g.column name: 'Partner' do |registration|
    result = ""
    if registration.partner
      result += format_boolean true
      result += " "
      result += registration.partner_name or registration.partner_email unless registration.partner_first_name.blank? rescue ""
    elsif !registration.partner_email.blank?
      # result += format_boolean false
      result += " "
      result = ApplicationWorkflowDecorator.print_user_status_tag_by_workflow_state(registration.partner_email).html_safe
    end

    result.html_safe
  end

  # g.column name: 'Zodiac', attribute: 'zodiac_sign_id', custom_filter: :auto do |registration|
  #   zodiac_image_tag(registration.zodiac_sign_id)
  # end

  g.column name: 'Status', attribute: 'state', filter: false do |registration|
    format_registration_state registration.state
  end

  g.column do |registration|
    link_to("<span class='glyphicon glyphicon-trash'></span>".html_safe, registration_path(registration), :data => { confirm: 'Are you sure?' }, :method => :delete, :class => 'btn btn-xs btn-danger')
  end

end -%>
