%h1
  = "Registrations" + " [#{params[:filter]}]".html_safe unless params[:filter].nil?
%p
  %b Filters
  %i.fa.fa-list.fa-fw
  = link_to 'all', '/backend/registrations/processing?filter=all'
%h3
  %em

= form_for '#', :url => {:action => :button_action} do |f|
  %p
    = f.button t(".send_registration"), class: "btn", name: "send_registration"
    = f.button t(".reset_keys"), class: "btn", name: "reset_keys"
  = render 'grid_debug'
