.col-lg-12
  .card
    .header
      %h1
        Emails sent during Registration Workflow
        %small
          =@where_clause
    .content
      %p
        %b Filters
        - %w(please_pay_sent please_pay_not_sent IN_sent IN_not_sent).each do |filter|
          %span.btn.btn-sm
            = link_to filter, "/backend/registrations/emails?email_filter=#{filter}"
        - %w(all signed_up accepted paid free_ticket error cancelled refund).each do |filter|
          %span.btn.btn-info.btn-sm
            = link_to filter, "/backend/registrations/emails?filter=#{filter}"


.col-lg-12
  .card
    .content
      = form_for '#', :url => {:action => :button_action} do |f|
        %p
          = f.button t(".send_please_pay"), class: "btn btn-warning btn-fill", name: "send_please_pay"
          = f.button t(".send_you_are_in"), class: "btn btn-success btn-fill", name: "send_you_are_in"
        %div.table-responsive
          = render 'grid_emails'
