.card
  .header
    =link_to "back",  _back_url
    %h1 Confirmed Guests on a Map
    %p
      Geolocation is jittered to protect privacy of guests.
      #{MapWorker.print_no_geocode} marks guests without a pin on the map
  .content
    #map{:style => "width: 100%; height: 600px;"}

= render :partial => 'portal/guestlist_map_script'
