.col-lg-12
  .card
    .header
      %h1
        Registrations with messages
        %small
          =@where_clause
    .content
.col-lg-12
  .card
    .content
      %div.table-responsive
        = render 'grid_messages'
