.col-lg-12
  .card
    .header
      %h1
        Registrations with partners given during signup
        %small
          =@where_clause
    .content
.col-lg-12
  .card
    .content
      = form_for '#', :url => {:action => :button_action} do |f|
        %p
          = f.button t(".suggest_partner"), class: "btn btn-success btn-xs", name: "suggest_partner"
        %div.table-responsive
          = render 'grid_partners'
