.col-lg-12
  .card
    .header
      %h1
        = "Registrations"
        %small
          =@where_clause
    .content
      %p
        %b Filters
        - %w(all signed_up accepted paid free_ticket error cancelled refund).each do |filter|
          %span.btn.btn-info.btn-sm
            = link_to filter, "/backend/registrations/processing?filter=#{filter}"
.col-lg-12
  .card
    .content
      = form_for '#', :url => {:action => :button_action} do |f|
        %p
          = f.button t(".send_please_pay"), class: "btn btn-fill btn-warning", name: "send_please_pay"
          = f.button t(".payment_arrived"), class: "btn btn-fill btn-success", name: "payment_arrived"
          = f.button t(".send_you_are_in"), class: "btn btn-fill btn-warning", name: "send_you_are_in"
          = f.button t(".free_ticket"), class: "btn btn-success", name: "free_ticket"
          = f.button t(".pays_at_door"), class: "btn btn-success", name: "pays_at_door"
          = f.button t(".suggest_partner"), class: "btn btn-success btn-xs", name: "suggest_partner"
          = f.button t(".cancel"), class: "btn btn-danger btn-xs", name: "cancel_registration"
        %div.table-responsive
          = render 'grid_registrations'
