.col-lg-6
  .card
    .header
      %h1
        = "Registrations"
        %small
          =@where_clause
      %h2
        Roles / Gender / Datacheck
    .content
      %p
        %b Filters
        - %w(men women leaders followers both).each do |filter|
          %span.btn.btn-info.btn-sm
            = link_to filter, "/backend/registrations/roles?filter=#{filter}"
      %p
        %b Filters
        - %w(untagged).each do |filter|
          %span.btn.btn-danger.btn-sm
            = link_to filter, "/backend/registrations/roles?filter=#{filter}"
.col-lg-6
  = render 'backend/backend/statistics_registrations'
.col-lg-12
  .card
    .content
      = form_for '#', :url => {:action => :button_action} do |f|
        %p
          = f.button t(".send_please_pay"), class: "btn btn-fill btn-warning", name: "send_please_pay"
        %div.table-responsive
          = render 'grid_roles'
