.col-lg-12
  .card
    .header
      Registration
      .btn.btn-success
        #{link_to 'Edit', backend_path + "/registration/#{@reg.id.to_s}/edit"}
      .btn.btn-info
        #{link_to 'Back', '/backend/registrations/processing'}
      .btn.btn-warning.btn-fill
        #{link_to 'Reset Password', "/users/#{@reg.user.id}/reset_password"}
    .content
      %table.table
        %tr
          %td
            %b
              Name
          %td
            = @reg.name
        %tr
          %td
            %b
              Email
          %td
            = @reg.email
        %tr
          %td
            %b
              Dancer
          %td
            = @reg.role.titlecase
            ,
            = @reg.gender.titlecase
        %tr
          %td
            %b
              Address
          %td
            = @reg.address
        %tr
          %td
            %b
              Food
          %td
            = ApplicationDecorator.dietary(@reg)
        %tr
          %td
            %b
              Facebook
          %td
            = @reg.facebook
        %tr
          %td
            %b
              Partner
          %td
            = "#{@reg.partner_first_name} #{@reg.partner_last_name} / #{mail_to @reg.partner_email}".html_safe
            %br/
            = "Status: ".html_safe + ApplicationWorkflowDecorator.print_user_status_tag_by_workflow_state(@reg.partner_email).html_safe
        %tr
          %td
            %b
              Suggestions
          %td
            %table.table
              %thead
                %th Name
                %th Role
                %th From
                %th Status
              - @reg.suggestions.each do |sugg|
                %tr
                  %td=sugg.name
                  %td=ApplicationDecorator.format_role sugg.role
                  %td="#{sugg.try(:city)} / #{sugg.try(:country)}"
                  %td=ApplicationWorkflowDecorator.print_user_status_tag_by_workflow_state(sugg.email)
        %tr
          %td
            %b
              Emails
          %td
            %table.table
              %thead
                %th Email
                %th Sent
                %th Campaign Monitor Message ID
                %th Status
                %th Opens
                %th Clicks
              - @reg.email_logs.sort_by{ |x| -x.id}.each do |log|
                %tr
                  %td=log.message
                  %td=log.created_at
                  %td=log.message_ID
                  %td=log.status
                  - email_stats = CreateSend::Transactional::Timeline.new(@auth).details(log.message_ID)
                  %td=email_stats.TotalOpens
                  %td=email_stats.TotalClicks
      .col-lg-6
        %h4 User
        = (ap @reg.user, :html => true, :plain => true).html_safe
      .col-lg-6
        %h4 Invitation
        = (ap @reg, :html => true, :plain => true).html_safe
.col-lg-12
  .card
    .header
      #{link_to 'Back', '/backend/registrations/processing', :class => "btn btn-xs btn-success"}
      %h3
        Registration #{link_to 'Edit', backend_path + "/registration/#{@reg.id.to_s}/edit", :class => "btn btn-xs btn-success"}
    .content
      %p
        =profile_picture_tag(@reg)
      %p
        = @reg.name
        %br/
        = @reg.email
      %p
        %em Dancer
        = @reg.role.titlecase
        ,
        = @reg.gender
      %p
        %em Address
        = @reg.address
      %p
        %em Facebook
        @reg.facebook
      %p
        %em Message
        = @reg.message
      .col-lg-6
        %h4 User
        = (ap @reg.user, :html => true, :plain => true).html_safe
      .col-lg-6
        %h4 Registration
        = (ap @reg, :html => true, :plain => true).html_safe
