<%= simple_form_for [:backend, @workshop] do |f| %>
    <%= f.error_messages %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :workshop_number -%>
    <%= f.input :start_date -%>
    <%= f.submit %>
<% end %>
