<h2>List of Workshops</h2>

<table class="table table-striped">
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Description</th>
    <th>When</th>
  </tr>
  <% for workshop in @workshops.sort %>
      <tr>
        <td><%= workshop.workshop_number -%></td>
        <td><%= workshop.name %></td>
        <td><%= workshop.description -%></td>
        <td><%= workshop.start_date.nil? ? '' : workshop.start_date.stamp('Fri 19:00') -%></td>
        <td><%= link_to 'Show', [:backend, workshop] %></td>
        <td><%= link_to 'Edit', edit_backend_workshop_path(workshop) %></td>
        <td><%= link_to 'Destroy', [:backend, workshop], :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
  <% end %>
</table>

<p><%= link_to 'New Backend/Workshop', new_backend_workshop_path %></p>

<h2>Stats</h2>

<p><%= WorkshopReservation.all.count -%> reservations</p>
<p><span class="label label-leader">Leader     </span>
  <span class="label label-both">Both         </span>
  <span class="label label-follower">Follower </span></p>

<table class="table table-striped">
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>All</th>
    <th colspan="2">Requests</th>
    <th colspan="2">Confirmed</th>
    <th colspan="2">Paid</th>
  </tr>
  <% for workshop in @workshops.sort %>
      <%- reservations = workshop.workshop_reservations -%>
      <tr>
        <td><%= workshop.workshop_number -%></td>
        <td><%= link_to workshop.name, "/admin/reservations?utf8=%E2%9C%93&q%5Bworkshop_id_eq%5D=#{workshop.id}&commit=Filter&order=id_desc" %></td>
        <td><%= reservations.count -%></td>
        <td>
          <span class="label label-leader">   <%= WorkshopReservation.includes(:registration).where { (state.eq 'requested') & (workshop_id == workshop.id) }.where { registration.role.eq 'leader' }.count -%></span>
          <span class="label label-both">     <%= WorkshopReservation.includes(:registration).where { (state.eq 'requested') & (workshop_id == workshop.id) }.where { registration.role.eq 'both' }.count -%></span>
          <span class="label label-follower"> <%= WorkshopReservation.includes(:registration).where { (state.eq 'requested') & (workshop_id == workshop.id) }.where { registration.role.eq 'follower' }.count -%></span>
        </td>
        <td>= <%= WorkshopReservation.includes(:registration).where { (state.eq 'requested') & (workshop_id == workshop.id) }.count -%></td>
        <td>
          <span class="label label-leader">   <%= WorkshopReservation.includes(:registration).where { (state.eq 'confirmed') & (workshop_id == workshop.id) }.where { registration.role.eq 'leader' }.count -%>  </span>
          <span class="label label-both">     <%= WorkshopReservation.includes(:registration).where { (state.eq 'confirmed') & (workshop_id == workshop.id) }.where { registration.role.eq 'both' }.count -%>    </span>
          <span class="label label-follower"> <%= WorkshopReservation.includes(:registration).where { (state.eq 'confirmed') & (workshop_id == workshop.id) }.where { registration.role.eq 'follower' }.count -%></span>
        </td>
        <td>= <%= WorkshopReservation.includes(:registration).where { (state.eq 'confirmed') & (workshop_id == workshop.id) }.count -%></td>
        <td>
          <span class="label label-leader">   <%= WorkshopReservation.includes(:registration).where { (state.eq 'paid') & (workshop_id == workshop.id) }.where { registration.role.eq 'leader' }.count -%>  </span>
          <span class="label label-both">     <%= WorkshopReservation.includes(:registration).where { (state.eq 'paid') & (workshop_id == workshop.id) }.where { registration.role.eq 'both' }.count -%>    </span>
          <span class="label label-follower"> <%= WorkshopReservation.includes(:registration).where { (state.eq 'paid') & (workshop_id == workshop.id) }.where { registration.role.eq 'follower' }.count -%></span>
        </td>
        <td>= <%= WorkshopReservation.includes(:registration).where { (state.eq 'paid') & (workshop_id == workshop.id) }.count -%></td>
      </tr>
  <% end %>
  <tr>
    <td></td>
    <td>Sum of all</td>
  </tr>
  <tr>
    <td></td>
    <td><%= link_to 'All reservations', '/admin/reservations' %></td>
    <td><%= WorkshopReservation.all.count -%></td>
    <td>
      <span class="label label-leader">   <%= WorkshopReservation.includes(:registration).where { (state.eq 'requested') }.where { registration.role.eq 'leader' }.count -%></span>
      <span class="label label-both">     <%= WorkshopReservation.includes(:registration).where { (state.eq 'requested') }.where { registration.role.eq 'both' }.count -%></span>
      <span class="label label-follower"> <%= WorkshopReservation.includes(:registration).where { (state.eq 'requested') }.where { registration.role.eq 'follower' }.count -%></span>
    </td>
    <td>= <%= WorkshopReservation.includes(:registration).where { (state.eq 'requested') }.count -%></td>
    <td>
      <span class="label label-leader">   <%= WorkshopReservation.includes(:registration).where { (state.eq 'confirmed') }.where { registration.role.eq 'leader' }.count -%>  </span>
      <span class="label label-both">     <%= WorkshopReservation.includes(:registration).where { (state.eq 'confirmed') }.where { registration.role.eq 'both' }.count -%>    </span>
      <span class="label label-follower"> <%= WorkshopReservation.includes(:registration).where { (state.eq 'confirmed') }.where { registration.role.eq 'follower' }.count -%></span>
    </td>
    <td>= <%= WorkshopReservation.includes(:registration).where { (state.eq 'confirmed') }.count -%></td>
    <td>
      <span class="label label-leader">   <%= WorkshopReservation.includes(:registration).where { (state.eq 'paid') }.where { registration.role.eq 'leader' }.count -%>  </span>
      <span class="label label-both">     <%= WorkshopReservation.includes(:registration).where { (state.eq 'paid') }.where { registration.role.eq 'both' }.count -%>    </span>
      <span class="label label-follower"> <%= WorkshopReservation.includes(:registration).where { (state.eq 'paid') }.where { registration.role.eq 'follower' }.count -%></span>
    </td>
    <td>= <%= WorkshopReservation.includes(:registration).where { (state.eq 'paid') }.count -%></td>
  </tr>
</table>
