<% title 'Backend/Workshop' %>

<p>
  <strong>Name:</strong>
  <%= @workshop.name %>
</p>

<p>
  <%= link_to 'Edit', edit_backend_workshop_path(@workshop) %> |
  <%= link_to 'Destroy', [:backend, @workshop], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to 'View All', backend_workshops_path %>
</p>
