<%= simple_form_for [:backend, @workshop_reservation] do |f| %>
    <%= f.error_messages %>
    <%= f.association :workshop -%>
    <%= f.association :registration -%>
    <%= f.association :partner,
                      collection:    TangoRegistration.where { ((processing_list == 'guestlist') | (processing_list == 'accepted')) }.sort_by { |x| x.name },
                      include_blank: true,
                      input_html:    { class: 'chosen-select' }
    %>

    <p><%= f.submit %></p>
<% end %>
