<% title 'Backend/Workshop Reservations' %>

<table class="table table-striped">
  <tr>
    <th>Person</th>
    <th>Workshop</th>
    <th>Partner</th>
  </tr>
  <% for workshop_reservation in @workshop_reservations.sort_by { |x| x.registration.name } %>
      <tr>
        <td><%= workshop_reservation.registration.name -%></td>
        <td><%= workshop_reservation.workshop.workshop_number -%> - <%= workshop_reservation.workshop.name -%></td>
        <td><%= workshop_reservation.partner.present? ? workshop_reservation.partner.name : '' -%></td>
        <td><%= link_to 'Show', [:backend, workshop_reservation] %></td>
        <td><%= link_to 'Edit', edit_backend_workshop_reservation_path(workshop_reservation) %></td>
        <td><%= link_to 'Destroy', [:backend, workshop_reservation], :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
  <% end %>
</table>

<p><%= link_to 'New Backend/Workshop Reservation', new_backend_workshop_reservation_path %></p>
