<% title 'Backend/Workshop Reservations' %>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>WS1</th>
    <th>WS2</th>
    <th>WS2</th>
  </tr>
  <% for reg in @regs %>
      <tr>
        <td><%= reg.name -%></td>
        <td><%= reg.workshop.include?('workshop_1') ? ' requested ' : '' -%></td>
        <td><%= reg.workshop.include?('workshop_2') ? ' requested ' : '' -%></td>
        <td><%= reg.workshop.include?('workshop_3') ? ' requested ' : '' -%></td>
      </tr>
  <% end %>
</table>
