<% title 'Backend/Workshop Reservation' %>

<p>

</p>

<p>
  <%= link_to 'Edit', edit_backend_workshop_reservation_path(@workshop_reservation) %> |
  <%= link_to 'Destroy', [:backend, @workshop_reservation], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to 'View All', backend_workshop_reservations_path %>
</p>
