%footer.footer
  .container-fluid
    %nav.pull-left
      %ul
        %li
          %a{:href => "#"}
            Powered by TanGRM
        %li
          %a{:href => "mailto:daniel@tangomarathons.com"}
            Contact
        - if user_signed_in?
          - if current_user.is_admin?
            %li
              %a{:href => "#"}
                %b Logged in ADMIN user
                %br
                = current_user.email
            %li
              = link_to 'Backend', backend_path
          - elsif current_user.is_guest?
            %li
              %a{:href => "#"}
                %b Logged in user
                %br
                = current_user.name.blank? ? current_user.inscription.name : current_user.name
                \/ #{current_user.email} / #{current_user.id}
            %li
              = link_to 'Guest portal', '/portal'
        - else
          %li
            %a{:href => "#"}
              %b NO user signed in
    %p.copyright.pull-right
      powered by [TanGRM] Tango Guest Relations Management
      %br
      \© Daniel de Kay 2013-16
      %br/
      Server time: #{Time.zone.now.stamp('2015-12-30 15:45h')}
  -if Rails.env.development?
    = render 'footer_debug'
