<% if user_signed_in? %>
    <li><%= link_to 'Edit account', edit_user_registration_path %></li>
    <li><%= link_to 'Logout', destroy_user_session_path, :method => 'delete' %></li>
<% else %>
    <li><span class='btn btn-success'><%= link_to 'Login', new_user_session_path %></span></li>
    <li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>
<% if user_signed_in? and current_user.admin %>
    <li>ADMIN</li>
    <li><%= link_to 'Users', users_path %></li>
<% end %>
