.navbar-header
  %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
    %span.sr-only Toggle navigation
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar

#navbar.navbar-collapse.collapse
  %ul.nav.navbar-nav
    %li
      = link_to 'Home', root_path, class: 'navbar-brand'
    = render 'layouts/navigation_links'
    //.navbar-collapse
