- if user_signed_in?
  %li= link_to 'Logout', destroy_user_session_path, :method=>'delete'
- else
  %li
    .btn.btn-success
      = link_to 'Login', new_user_session_path
- if user_signed_in? and current_user.admin
  %li ADMIN
  %li= link_to 'Users', users_path
