%p
%ol
  %li This is a private event. Only people on our guest list may attend.
  %li
    Everyone signs up as single participants. We will balance the guestlist according to our criteria, which take
    into account roles, and a general diversity of backgrounds. Nevertheless, we do also consider
    = succeed "." do
      %strong
        couples
        (as in lovers)
  - else
    %li
      Your payment/contribution is due on #{(DateTime.now + eval(Settings.payment.deadline)).stamp("Monday, August 11th 2013")}
    %li
      If you transfer late, please send a receipt of the money transfer by email to #{Settings.marathon.email}
  - if DateTime.parse(Settings.marathon.no_refund_after).future?
    %li
      Refunds are only possible until #{DateTime.parse(Settings.marathon.no_refund_after).stamp("Monday, August 11th 2013")}.
