%p
  %strong When?
  = (Settings.marathon.event.start).stamp("April 4th")
  to #{(Settings.marathon.event.end).stamp("4th, 2014")}
%p
  %strong Where?
  = Settings.venue.name
  = Settings.venue.address
%p
  %strong How much?
  = Settings.payment.price
  for 2 late breakfasts, 2 dinners, midnight snack (Sat.), sweet  salty snacks (),
  basic drinks (water, coffee, tea). Plus a tour of the sparkling wine factory, shuttle service,
%p
  %strong Where to sleep?
  We have managed to get some good deals with Hotels in Deidesheim. For mor details, please check out our website. #{link_to Settings.marathon.website, Settings.marathon.website}
%p
  %strong> 99% traditional tango music
  , the rest is dinner music and cortinas. :)
%p
  %strong DJs?
  TODO
  %p
    %strong Facebook?
    %a{:href => Settings.fb.event}
      Event
    &nbsp;
    %a{:href => Settings.fb.page}
      Page
