!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{name: 'description', content: "#{content_for?(:description) ? yield(:description) : Settings.og.description}"}
    %meta{:content =>   "", :name => "author"}/
    %meta{:content => Settings.marathon.registration_website + "rsvp/about", :property => "og:url"}/
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => Settings.marathon.name + " " + Settings.marathon.motto, :property => "og:title"}/
    %meta{:content => Settings.og.description, :property => "og:description"}/
    %meta{:content => Settings.og.image_url, :property => "og:image"}/
    %meta{:content => Settings.og.fb_app_id, :property => "fb:app_id"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Roboto:400,700,300", :rel => "stylesheet", :type => "text/css"}/
    %title= content_for?(:title) ? yield(:title) : Settings.marathon.name
    %script{  src: "https://code.jquery.com/jquery-2.2.3.min.js",
        integrity: "sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=",
      crossorigin: "anonymous"}
    %script{  src: "https://code.jquery.com/ui/1.11.4/jquery-ui.min.js",
        integrity: "sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw="  ,
      crossorigin: "anonymous"}
    = csrf_meta_tags
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  %body
    %nav.navbar.navbar-default
      .container
        = render 'layouts/navigation'
    = yield
    %hr/
    %footer
      = render 'layouts/footer'

