- content_for :title do
  = Settings.marathon.name + (Rails.env.development? ? ' - DEV' : '')
!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}/
    %meta{content: 'width=device-width, initial-scale=1.0', name: 'viewport'}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title= content_for?(:title) ? yield(:title) : Settings.marathon.name
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", :name => "viewport"}/
    %meta{:content => "width=device-width", :name => "viewport"}/

    = stylesheet_link_tag 'backend', :media => 'all'

    %link{href: '//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css', rel: 'stylesheet'}
    // Fonts and icons
    %link{:href => "http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Roboto:400,700,300", :rel => "stylesheet", :type => "text/css"}/

    // Core Scripts - Include with every page

    %script{  src: "https://code.jquery.com/jquery-2.2.3.min.js",
        integrity: "sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=",
      crossorigin: "anonymous"}
    %script{  src: "https://code.jquery.com/ui/1.11.4/jquery-ui.min.js",
        integrity: "sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw="  ,
      crossorigin: "anonymous"}
    %script{  src: '//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js'}
    %script{  src: '//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js'}

      // MAP scripts

      %link{  rel: 'stylesheet',
             href: 'https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css'}
    %script{  src: 'https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'}
    %link{    rel: 'stylesheet',
             href: 'https://api.mapbox.com/mapbox.js/plugins/leaflet-minimap/v1.0.0/Control.MiniMap.css'}
    %script{  src: 'https://api.mapbox.com/mapbox.js/plugins/leaflet-minimap/v1.0.0/Control.MiniMap.js'}


    = csrf_meta_tags
    = javascript_include_tag 'backend.js'
    = yield(:head)

  %body.mac-os{class: "#{controller_name} #{action_name}"}
    .wrapper
      .sidebar{'data-color' => "#{Rails.env.development? ? 'red' : 'blue'}"}
        .logo
          %a.logo-text{:href => "http://#{Settings.marathon.url}"}
            =content_for?(:title) ? yield(:title) : Settings.marathon.name
        .sidebar-wrapper
          %ul.nav
            %li.active
              %a{href: backend_path}
                %i.pe-7s-graph
                %p Dashboard
            - if Settings.features.invitations.enabled
              %li
                %a{"data-toggle" => "collapse", :href => "#invitations"}
                  %i.pe-7s-plugin
                  %p
                    Invitations
                    %b.caret
                #invitations.collapse
                  %ul.nav
                    %li
                      %a{href: '/backend/invitations/processing'} List all
                    %li
                      %a{href: new_invitation_path} New
                    %li
                      %a{href: '/backend/suggestions/previous_participants'}
                        from Previous Participants
                    %li
                      %a{href: '/backend/invitations/messages'} Messages

            %li
              %a{"data-toggle" => "collapse", :href => "#registrations"}
                %i.pe-7s-plugin
                %p
                  Registrations
                  %b.caret
              #registrations.collapse
                %ul.nav
                  %li
                    %a{href: '/backend/registrations/processing'} List all
                  %li
                    %a{href: '/backend/registrations/messages'} Messages
                  %li
                    %a{href: '/backend/registrations/partners'} with Partners
                  %li
                    %a{href: '/backend/registrations/partners'} Partners
                  %li
                    %a{href: '/backend/registrations/emails'} Emails
                  %li
                    %a{href: '/backend/registrations/map'} Map
                  %li
                    %a{href: '/backend/registrations/dietary'} Dietary
            %li
              %a{"data-toggle" => "collapse", :href => "#statistics"}
                %i.pe-7s-plugin
                %p
                  Statistics
                  %b.caret
              #statistics.collapse
                %ul.nav
                  %li
                    %a{href: '/backend/statistics/regional'} Regional
            - if Settings.features.suggestions.enabled
              %li
                %a{href: '/backend/suggestions/by_guests'} Suggestions

            %li
              %a{href: '/backend/guestlist'}
                Guestlists
            %li
              %a{href: '/admin'}
                ActiveAdmin
            %li
              %span.label.label-danger BETA
            -#%li
            -#  %a{href: '#'}
            -#    %i.fa.fa-bar-chart-o.fa-fw
            -#    Statistics
            -#    %span.fa.arrow
            -#  %ul.nav.nav-second-level
            -#    %li
            -#      %a{href: '/backend/signup_stats'} All signups
            -#    %li
            -#      %a{href: '/backend/stats'} All accepted
            -#    %li
            -#      %a{href: '/backend/signup_vs_accepted'} Comparison
            // Stats
            -#%li
            -#  %a{href: '#'}
            -#    %i.fa.fa-group.fa-fw
            -#    User Portal Pages
            -#    %span.fa.arrow
            -#  %ul.nav.nav-second-level
            -#%li= link_to "<i class='fa fa-users fa-fw'></i> Guestlist".html_safe, guestlist_path
            -#%li= link_to "<i class='fa fa-home fa-fw'></i> Accommodation".html_safe, accommodation_path
            -#%li= link_to "<i class='fa fa-cab fa-fw'></i> Shuttle".html_safe, shuttle_path
            -#%li= link_to "<i class='fa fa-paper-plane fa-fw'></i> Travel Forum".html_safe, travel_arrangements_path
            //.nav-second-level
            %li
              %span.label.label-info EXTERNAL LINKS
            %li
              %a{href: Settings.mailtemplate.admin_url, target: '_blank'}
                %i.fa.fa-envelope.fa-fw
                Emails
            %li
              %a{href: 'http://www.heroku.com', target: '_blank'}
                %i.fa.fa-file-text-o.fa-fw
                Heroku
            %li
              %a{href: 'https://rpm.newrelic.com/accounts/1341295/applications/18893810', target: '_blank'}
                Newrelic
            %li
              %a{href: 'https://papertrailapp.com/systems/mtangoparty-2016/events', target: '_blank'}
                Logs
      .main-panel
        %nav.navbar.navbar-default
          .container-fluid
            .navbar-header
              %button.navbar-toggle{"data-toggle" => "collapse", :type => "button"}
                %span.sr-only Toggle navigation
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              %a.navbar-brand{:href => "#"} Dashboard
            .collapse.navbar-collapse
              -#%form.navbar-form.navbar-left.navbar-search-form{:role => "search"}
              -#  .input-group
              -#    %span.input-group-addon
              -#      %i.fa.fa-search
              -#    %input.form-control{:placeholder => "Search...", :type => "text", :value => ""}/
              %ul.nav.navbar-nav.navbar-right
                %li
                  %a{:href => "/backend/"}
                    %i.fa.fa-line-chart
                    %p Dashboard
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                    %i.fa.fa-gavel
                    %p.hidden-md.hidden-lg
                      Actions
                      %b.caret
                  %ul.dropdown-menu
                    %li
                      %a{:href => '/backend/tools/guest_emails'} Raw export emails
                    %li.divider
                    %li
                      %a{:href => "#"} Another Action
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                    %i.fa.fa-check-circle-o
                    %span.notification
                      -last_regs=Registration.accepted.where('updated_at >= ?', 1.week.ago).order('updated_at desc')
                      =last_regs.count
                    %p.hidden-md.hidden-lg
                      Registrations
                      %b.caret
                  %ul.dropdown-menu
                    %li
                      %strong
                        Registrations
                    - last_regs.each do |r|
                      %li
                        %a{:href => "/backend/registration/#{r.id}/show"}
                          = r.name
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                    %i.fa.fa-group
                    %span.notification
                      -last_suggs=SuggestedParticipant.where('updated_at >= ?', 1.week.ago).order('updated_at desc')
                      =last_suggs.count
                    %p.hidden-md.hidden-lg
                      Suggestions
                      %b.caret
                  %ul.dropdown-menu
                    %li
                      %strong
                        Suggestions
                    - last_suggs.each do |r|
                      %li
                        %a{:href => ""}
                          = r.name
                %li.dropdown.dropdown-with-icons
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                    %i.fa.fa-list
                    %p.hidden-md.hidden-lg
                      More
                      %b.caret
                  %ul.dropdown-menu.dropdown-with-icons
                    %li
                      %a{:href => "#"}
                        %i.pe-7s-mail
                        Messages
                    %li
                      %a{:href => "#"}
                        %i.pe-7s-help1
                        Help Center
                    %li
                      %a{:href => "#"}
                        %i.pe-7s-tools
                        Settings
                    %li.divider
                    %li
                      %a{:href => "#"}
                        %i.pe-7s-lock
                        Lock Screen
                    %li
                      = link_to 'Log out', destroy_user_session_path, :method => 'delete'
        .content
          .container-fluid
            .row.notification
              = render 'layouts/messages'
            .row
              = yield
        = render 'layouts/footer'
