!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}/
    %meta{content: 'width=device-width, initial-scale=1.0', name: 'viewport'}/
    %title= content_for?(:title) ? yield(:title) : Settings.marathon.name

    = stylesheet_link_tag 'backend', :media => 'all'
    =# stylesheet_link_tag params[:controller] if (params[:controller].to_s.in?("djs", "guests"))
    =# javascript_include_tag "chroma.min"

    %link{href: '//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css', rel: 'stylesheet'}
    // Core Scripts - Include with every page

    %script{  src: "https://code.jquery.com/jquery-2.2.3.min.js",
        integrity: "sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=",
      crossorigin: "anonymous"}
    %script{  src: "https://code.jquery.com/ui/1.11.4/jquery-ui.min.js",
        integrity: "sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw="  ,
      crossorigin: "anonymous"}
    %script{  src: '//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js'}
    %script{  src: '//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js'}

    = csrf_meta_tags
    = javascript_include_tag 'backend.js'
    = yield(:head)

  %body{class: "#{controller_name} #{action_name}"}
    #wrapper
      = render 'layouts/backend/sidebar_menu_backend'
      #page-wrapper
        .row
          = render 'layouts/messages'
          .col-lg-12.col-lg-offset-0.col-md-12.col-xs-12
            = yield

    %footer
      = render 'layouts/footer'
      = content_for :scripts_after
