!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{name: 'description', content: "#{content_for?(:description) ? yield(:description) : Settings.marathon.description}"}
    %meta{:content =>   "", :name => "author"}/
    %title= content_for?(:title) ? yield(:title) : Settings.marathon.name
    %script{  src: "https://code.jquery.com/jquery-2.2.3.min.js",
        integrity: "sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=",
      crossorigin: "anonymous"}
    %script{  src: "https://code.jquery.com/ui/1.11.4/jquery-ui.min.js",
        integrity: "sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw="  ,
      crossorigin: "anonymous"}
    %link{    rel: 'stylesheet',
             href: 'https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css'}
    %script{  src: 'https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'}
    %link{    rel: 'stylesheet',
             href: 'https://api.mapbox.com/mapbox.js/plugins/leaflet-minimap/v1.0.0/Control.MiniMap.css'}
    %script{  src: 'https://api.mapbox.com/mapbox.js/plugins/leaflet-minimap/v1.0.0/Control.MiniMap.js'}

    = csrf_meta_tags
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  %body
    %nav.navbar.navbar-default
      .container
        = render 'layouts/navigation_portal'
    = yield
    %hr/
    %footer
      = render 'layouts/footer'

